/* ## Variables

*/


$brandsSpriteBtLogoVertical:url("../images/brand-sprite.png");
$brandsSprite:url("../images/brands-sprite.gif");
/* ## Copy right Logo

	<em class="utilCopyright">

*/

.utilCopyright {	
	width:auto;
    @include sizeObject(4.5 18.5);
	@extend %block;
    @include position(0 0 36px -100px);
	z-index: 5;
	position:absolute;
    @include setSpace(margin, 0 0 0 2.3rem);
    background-image:$brandsSpriteBtLogoVertical;
}



/* ##Brand Logos 

*/
%brandLogos{
	height:50px;
	width:56px;
	@extend %block;
	@include hideText;
	@include blockMargin(0, 0,1.5,0);
}
 
 
 

.bankofmelbourne,.bank-of-melbourne {
	@extend %brandLogos;
	background:$brandsSprite -4px 5px;	
} 

.bankofsa{
	@extend %brandLogos;
	background:$brandsSprite -2px -180px;	
}
.st.george,
.stgeorge{
	@extend %brandLogos;
	background:$brandsSprite -2px -60px;	
}

.Westpac,.westpac{
	@extend %brandLogos;
	background:$brandsSprite 2px -313px;
}

.bt{
	@extend %brandLogos;
	background:$brandsSprite -2px -258px;	
}

// Generic Brand Logo for Brand 

.smallBrandLogo{
	@include hideText;
	@include blockMargin(0, 2,0,2);
	background:$brandsSprite -2px -257px;
	@include sizeObject(6 4);
	@extend %block;
	@extend %floatLeft;
}