/* CSS Document */

@import
    "core/variables",
    "core/colours",
    "plugins/bourbon/bourbon",
    "core/global",
    "plugins/neat/neat",
    "core/styles";


/*##Resets Print CSS
 
 Function like a reset for print

*/


body {
	margin:0; 
	padding:0; 
	line-height: 1.4em; 
	word-spacing:1px; 
	letter-spacing:0.2px; 
	font: 13px Arial, Helvetica,"Lucida Grande", serif; 
	color: #000;
	background: #fff;
	width: 100%; 
	margin: 0; 
	float: none;
	}




/* ##Remove Items 

	.noPrint is a class whcih can be applied to elements which we wantto hide when printing

*/

.noPrint{
	display:none;
}

.thirdNavWrapper,
.toolContainer,
.headerContainer,
.sideContent,
#footer,{
	@extend .noPrint;	
}



/* Titles 
----------------------------------------------*/

h1{
	margin:$printMarginH1;
}

h2{
	margin:$printMarginH2;
}

h3{
	
}



/* Show URL 
----------------------------------------------*/
a:link, a:visited {
	background: transparent; 
	color:#333; 
	text-decoration:none;
	}
a:link[href^="http://"]:after, 
a[href^="http://"]:visited:after {
	content: " (" attr(href) ") "; 
	font-size: 11px;
	}
a[href^="http://"] {
	color:#000;
	} 

/* Formatting
----------------------------------------------*/
.contentTitle{
	text-align:center;	
}
.contentOutputLabel{
	@extend .floatLeft;
	@extend .textAlignLeft;
	@extend .block;
	width:30%;
    width:160px\9;
	margin:$printOutputMargin;


}

.contentOutput{
	@extend .floatLeft;
	@extend .textAlignLeft;
	@extend .block;
	width:70%;
    width:300px\9;
	margin:$printOutputMargin;

}

.contentOutputLabel2{
	float:none;
	@extend .textAlignLeft;
	@extend .block;
	width:30%;
    width:160px\9;
	margin:$printOutputMargin;
}

.contentOutput2{
	float:none;
	@extend .textAlignLeft;
	@extend .block;
	width:70%;
    width:240px\9;
	margin:$printOutputMargin;
}

.multiplePanelContent{
    float:left;
    width:47% !important;
    @include blockMargin(0,4.0,0,0);
}

.contentBlockContainer {
 @include blockMargin(1.5,0,1.5,0);
}





