.idea
.idea/
BTESBServices
BTESBServices/
etc
etc/
logs
logs/
#src
#src/
src/test/java
src/test/java/
src/main/java
src/main/java/
#src/main/resources
#src/main/resources/
src/main/resources/schema
src/main/resources/schema/
src/main/resources/spring
src/main/resources/spring/
src/main/webapp
src/main/webapp/
#/target/
#/target
target/classes
target/generated
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-status
target/nextgen
target/surefire
target/test-classes
target/nextgen.jar
*.log
*.log.*
*.iml
*.db
.DS_Store
