/*------------------------------------*\
    $MODAL WIDGET
\*------------------------------------*/
$modalBGOpacity: 0.8;
$modalCloseBG: $spriteImage -75px -6px;
$modalCloseSize:22px;
$modalBoxHeight: 550px;
$modalTitleIndent:5px;
$modalBorder:1px solid $baseBorderColor;