@mixin fontStyles{
  font-variant: normal!important;
  font-weight: normal!important;
  font-style: normal!important;
  speak: none;
  line-height: 1.7rem;
  vertical-align: middle!important;
  @include textDeco(none);
  @include textTrans(none);
  -webkit-font-smoothing: none;
 // -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.5px;
  -moz-osx-font-smoothing: grayscale;
  font-smooth:none;
}

/*
##Icon Fonts

###Custom Icon Fonts Font-face import

*/
@font-face {
  font-family: 'btfinicons';
  src:url('../fonts/btfinicons.eot');
  src:
    url('../fonts/btfinicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/btfinicons.svg#btfinicons') format('svg'),
    url('../fonts/btfinicons.woff') format('woff'),
    url('../fonts/btfinicons.ttf') format('truetype');

}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'btfinicons';
  content: attr(data-icon);
  @include fontStyles;
}




/* Use the following CSS code if you want to have a class per icon 

```<em class="iconmenu"></em>```
	
*/

.iconup, 
.iconthinarrowright, 
.iconBPAYPortrait, 
.iconBPAYlandscape, 
.icontalk, 
.iconstop, 
.iconsearch, 
.iconrefresh, 
.iconprint, 
.iconmobile, 
.iconlist, 
.iconhome, 
.iconfolder, 
.icondocumentupload, 
.icondocumentdownload, 
.icondocument, 
.iconcompany, 
.iconchevron, 
.iconcalendar, 
.iconviewdisabled, 
.iconview, 
.iconuploadCloud, 
.icontransfer, 
.icontime, 
.iconshare, 
.iconplus, 
.iconnotes, 
.iconmobileout, 
.iconmobilein, 
.iconmenu, 
.iconlinked, 
.iconlink, 
.iconindividual, 
.icongroup, 
.icongraphBar, 
.iconfilter, 
.iconemail, 
.iconedit, 
.icondownloadCloud, 
.iconwarning, 
.icontrash, 
.icontick, 
.iconstockup, 
.iconstockdown, 
.iconretry, 
.iconprimary, 
.iconphone, 
.iconmoneyout, 
.iconmoneyin, 
.iconlocationpin, 
.iconindividualsummary, 
.iconhelp, 
.icongraphPie, 
.iconcash, 
.iconbpay, 
.iconsucess, 
.iconsubtract, 
.iconplay, 
.iconpersonalsummary, 
.iconinformation, 
.iconhalfstar, 
.iconfullstar, 
.iconbullet, 
.iconadd, 
.iconaddperson, 
.iconalertsalt, 
.iconapprover, 
.iconarrowdown, 
.iconarrowfullright, 
.iconarrowleft, 
.iconarrowright, 
.iconarrowup, 
.iconarrowfulldown,
.iconarrowfullup,  
.iconclose, 
.iconslimarrowdown, 
.iconnew, 
.iconemailResend, 
.icontasks, 
.iconpause, 
.iconwarningCircle, 
.iconadvisor, 
.iconstar, 
.iconregistered, 
.icontermdeposit, 
.iconsignout, 
.iconsettings, 
.iconsavedesktop, 
.iconsave, 
.icondownload, 
.iconcheck, 
.iconbest, 
.iconalerts, 
.iconaccountcompany, 
.iconaccountjoint, 
.iconaccounttrust, 
.iconaccountindividual, 
.iconcaps, 
.iconaccountsmsf, 
.iconmailclear, 
.iconcancel, 
.iconmailopen, 
.icondownloadmenu {
  font-family: 'btfinicons';
   @include fontSize(1.6);
   @include fontStyles;
     span{
        @extend .visuallyHidden;
    }
}


/* Use the following CSS code if you want to have a class per icon 

*/


/* ###iconup

    ```    <em class="iconup">
            <span class="screenReaderText">Icon text here </span>
        </em>```
	
*/
.iconup:before {
	content: "\e000";
}
.iconthinarrowright:before {
	content: "\e001";
}
.iconBPAYPortrait:before {
	content: "\e002";
}
.iconBPAYlandscape:before {
	content: "\e003";
}
.icontalk:before {
	content: "\e004";
}
.iconstop:before {
	content: "\e005";
}
.iconsearch:before {
	content: "\e006";
}
.iconrefresh:before {
	content: "\e007";
}
.iconprint:before {
	content: "\e008";
}
.iconmobile:before {
	content: "\e009";
}
.iconlist:before {
	content: "\e00a";
}
.iconhome:before {
	content: "\e00b";
}
.iconfolder:before {
	content: "\e00c";
}
.icondocumentupload:before {
	content: "\e00d";
}
.icondocumentdownload:before {
	content: "\e00e";
}
.icondocument:before {
	content: "\e00f";
}
.iconcompany:before {
	content: "\e010";
}
.iconchevron:before {
	content: "\e011";
}
.iconcalendar:before {
	content: "\e012";
}
.iconviewdisabled:before {
	content: "\e013";
}
.iconview:before {
	content: "\e014";
}
.iconuploadCloud:before {
	content: "\e015";
}
.icontransfer:before {
	content: "\e016";
}
.icontime:before {
	content: "\e017";
}
.iconshare:before {
	content: "\e018";
}
.iconplus:before {
	content: "\e019";
}
.iconnotes:before {
	content: "\e01a";
}
.iconmobileout:before {
	content: "\e01b";
}
.iconmobilein:before {
	content: "\e01c";
}
.iconmenu:before {
	content: "\e01d";
}
.iconlinked:before {
	content: "\e01e";
}
.iconlink:before {
	content: "\e01f";
}
.iconindividual:before {
	content: "\e020";
}
.icongroup:before {
	content: "\e021";
}
.icongraphBar:before {
	content: "\e022";
}
.iconfilter:before {
	content: "\e023";
}
.iconemail:before {
	content: "\e024";
}
.iconedit:before {
	content: "\e025";
}
.icondownloadCloud:before {
	content: "\e026";
}
.iconwarning:before {
	content: "\e027";
}
.icontrash:before {
	content: "\e028";
}
.icontick:before {
	content: "\e029";
}
.iconstockup:before {
	content: "\e02a";
}
.iconstockdown:before {
	content: "\e02b";
}
.iconretry:before {
	content: "\e02c";
}
.iconprimary:before {
	content: "\e02d";
}
.iconphone:before {
	content: "\e02e";
}
.iconmoneyout:before {
	content: "\e02f";
}
.iconmoneyin:before {
	content: "\e030";
}
.iconlocationpin:before {
	content: "\e031";
}
.iconindividualsummary:before {
	content: "\e032";
}
.iconhelp:before {
	content: "\e033";
}
.icongraphPie:before {
	content: "\e034";
}
.iconcash:before {
	content: "\e035";
}
.iconbpay:before {
	content: "\e036";
}
.iconsucess:before {
	content: "\e037";
}
.iconsubtract:before {
	content: "\e038";
}
.iconplay:before {
	content: "\e039";
}
.iconpersonalsummary:before {
	content: "\e03a";
}
.iconinformation:before {
	content: "\e03c";
}
.iconhalfstar:before {
	content: "\e03d";
}
.iconfullstar:before {
	content: "\e03e";
}
.iconbullet:before {
	content: "\e03f";
}
.iconadd:before {
	content: "\e040";
}
.iconaddperson:before {
	content: "\e041";
}
.iconalertsalt:before {
	content: "\e042";
}
.iconapprover:before {
	content: "\e043";
}
.iconarrowdown:before {
	content: "\e044";
}
.iconarrowfullright:before {
	content: "\e045";
}
.iconarrowleft:before {
	content: "\e046";
}
.iconarrowright:before {
	content: "\e047";
}
.iconarrowup:before {
	content: "\e048";
}
.iconarrowfulldown:before {
	content: "\e049";
}
.iconclose:before {
	content: "\e04a";
}
.iconslimarrowdown:before {
	content: "\e04b";
}
.iconnew:before {
	content: "\e04c";
}
.iconemailResend:before {
	content: "\e04d";
}
.icontasks:before {
	content: "\e04e";
}
.iconpause:before {
	content: "\e04f";
}
.iconwarningCircle:before {
	content: "\e050";
}
.iconadvisor:before {
	content: "\e051";
}
.iconstar:before {
	content: "\e052";
}
.iconregistered:before {
	content: "\e053";
}
.icontermdeposit:before {
	content: "\e054";
}
.iconsignout:before {
	content: "\e055";
}
.iconsettings:before {
	content: "\e056";
}
.iconsavedesktop:before {
	content: "\e057";
}
.iconsave:before {
	content: "\e058";
}
.icondownload:before {
	content: "\e059";
}
.iconcheck:before {
	content: "\e05a";
}
.iconbest:before {
	content: "\e05b";
}
.iconalerts:before {
	content: "\e05c";
}
.iconaccountcompany:before {
	content: "\e05d";
}
.iconaccountjoint:before {
	content: "\e05e";
}
.iconaccounttrust:before {
	content: "\e060";
}
.iconaccountindividual:before {
	content: "\e061";
}
.iconcaps:before {
	content: "\e062";
}
.iconaccountsmsf:before {
	content: "\e05f";
}
.iconmailclear:before {
	content: "\e03b";
}
.iconcancel:before {
	content: "\e06f";
}

.iconmailopen:before {
	content: "\e073";
}
.icondownloadmenu:before {
	content: "\e079";
}
//Custom Arrow class
.iconarrowfullup:before {
	@extend .iconarrowfulldown:before;
	@include rotate(180);
	display:inline-block;
}




/// Size 24
.iconnewsProduct,
.icontasks24, 
.icongroup24, 
.iconhome24, 
.iconnewsProduct24, 
.icontransfer24, 
.icongraphBar24, 
.iconcompany24, 
.iconinformation24, 
.icongraphPie24, 
.iconclientsearch24, 
.iconcaps24, 
.iconindividual24, 
.iconaccount24, 
.iconmanageUsers24, 
.iconreport24,
.iconServiceOps24
{
  font-family: 'btfinicons';
  @include fontStyles;
  font-size: 24px;
 // @include fontSize(2.4);
  -webkit-font-smoothing: aliased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    span{
      @extend .visuallyHidden;
    }
  }


/*
##Size 24
*/


/* ###icontasks
  ```<em class="icontasks">
    <span class="screenReaderText">Icon text here </span>
    </em>```

*/
.iconnewsProduct:before {
	content: "\e600";
}
.icontasks24:before {
	content: "\e063";
}
.icongroup24:before {
	content: "\e064";
}
.iconhome24:before {
	content: "\e065";
}
.iconServiceOps24:before {
  content: "\e079";
}
.iconnewsProduct24:before {
	content: "\e066";
}
.icontransfer24:before {
	content: "\e067";
}
.icongraphBar24:before {
	content: "\e068";
}
.iconcompany24:before {
	content: "\e069";
}
.iconinformation24:before {
	content: "\e06a";
}
.icongraphPie24:before {
	content: "\e06b";
}
.iconclientsearch24:before {
	content: "\e06c";
}
.iconcaps24:before {
	content: "\e06d";
}
.iconindividual24:before {
	content: "\e06e";
}
.iconaccount24:before {
	content: "\e070";
}
.iconmanageUsers24:before {
	content: "\e072";
}
.iconreport24:before {
	content: "\e071";
}





// Illustrations
.iconaccountsDl, 
.iconadvisersDl, 
.iconchangeDl, 
.iconclientsDl, 
.icontotalDl {
    font-family: 'btfinicons';
    @include fontStyles;
    @include fontSize(5);
        span{
          @extend .visuallyHidden;
        }
   display:block;
   margin:-0.6rem 0.5rem;
  }

/*
##Illustrations
*/


/* ###icontasks
  ```<em class="icontasks">
    <span class="screenReaderText">Icon text here </span>
    </em>```

*/

.iconaccountsDl:before {
	content: "\e074";
}
.iconadvisersDl:before {
	content: "\e075";
}
.iconchangeDl:before {
	content: "\e076";
}
.iconclientsDl:before {
	content: "\e077";
}
.icontotalDl:before {
	content: "\e078";
}
