
/* ## Accessibility Styles*/




/*
##Accessible and optimised image replacement technique

Read more about the technique [here](http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/).


*/
%noDisplay{
    @extend %inlineBlock;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 1px;
}


.screenReaderText,
.visuallyHidden,
.ui-helper-hidden-accessible{
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.visible{
  visibility: visible !important;
}

/**
  Added yellow colour for now. replace this colour later!
*/
a:focus{
  outline:1px dotted #fed648 !important;
}

a:active,a:hover{
  outline:0 !important;
}






