/*
# Layout

/* ## Variables 
	$backGroundImage
*/


/*
## Site layout structure

* **div:layoutContainer**
* **-----aside:layoutUtilBar**
* ---------div:layoutUtilBarWrap
* ------------div:utilBar
* **-----div:layoutContent
* ---------header:layoutHeader
* ------------nav:layoutHeaderWrap
* ---------article:layoutMain
* ------------div:layoutMainWrap
* ---------footer:layoutFooter
* ------------div:layoutFooterWrp	

*/


html, body{
	height:100%;

}

	.layoutContainer {
      background-color: #fafafa;
      width: 100%;
		min-width: 980px;
		max-width: 100%;
		height: 100%;
		display: table;
		position:relative;
		.layoutUtilBar {
		  display: table-cell; 
		  background-color: #444444;		  position: fixed;
		  top:0;
		  left:0;
		  z-index: 5;
		  height: 100%;
		  .layoutUtilBarWrap{
			width: 80px;
		  }
	}

	.layoutContent {		
		width: 100%;
		display: table-cell;
		min-height:100%;
		height:100%;
		position:relative;
		//background-color: #fff;

      .layoutHeader{
			width: 100%;
			background-color:#fff;
			padding-left:80px;
			@extend .shadowMod1; 
			.layoutHeaderWrap{
				width:900px;
				min-height: 80px;
			}
	  	}
		.layoutMain{
			width: 100%;
			//display: table-cell;
			padding-bottom:100px;
			padding-left:80px;   
			.layoutMainWrap{
				width:900px;
				padding: 42px 0 60px 60px;
			}

		}
		.layoutMainMod1{ 
			padding-bottom:00px;
			padding-left:0px;
			.detailedViewExpanded {
				border-bottom:none;
				@include blockPadding(1,0,2,0);
			} 
		}
	 	.layoutFooter{	
			bottom:0;
			position:absolute;
			width: 95%;
			display: table-cell;
			padding-left:80px;
			.layoutFooterWrp{
				width:900px;
				height: 100px;// this shoiuld be equal to the padding-bottom of layoutMain
                @include setSpace(padding, 20px 60px 20px 60px);
				//padding:20px 60px;
				.layoutFooterNav {					
					@include blockMargin(-0.7,0,0,0);
					@include blockPadding(0,0,0,0);
					list-style-type:none;
					li {
						color:#BABABA;
						@include fontSize($contentFontSize);						
						list-style-type:none;
						display:inline;
						@include blockPadding(0,0,0,1.5);
						a {
							color:#BABABA;
							text-decoration:$actionDecoration;
							&:hover {
								color:$shi;
								text-decoration:$actionDecoration;
							}
						}
					}
				}
			}
			.layoutFooterWrpMod1{
				height:40px;// this should be equal to the padding-bottom of layoutMain 								
				@include textAlign(right);			
				@include blockPadding(2,0,2,6);
				position: relative;
			}
		}
		.layoutFooterMod1 {
			background-color:$backgroundColorDark;
			width: 100%;
		}
	}

}


/*

### Site logo

```
<span class="logoWrap">
    <a href="#">BT</a>
</span>

```

*/


.logoWrap{
 	text-indent: -9000em;
	background-image: url(../images/btLogo.png);
    background-repeat: no-repeat;
	height: 40px;
	width: 200px;
	float: left;
	a {
        height: 40px;
        width: 200px;
        display:block;
        overflow: hidden;
	}
  &.logoWrapLarge {
    width: 200px;
    height: 70px;
    background-image: url(../images/btLogo-large.png);
    a {
      width: 200px; 
      height: 70px;
    }
  }
}



/*

## Site logo modifier

```
<span class="logoWrap logoWrapPos">
    <a href="#">BT</a>
</span>

```

*/

.logoWrapPos{
  @include blockMargin(2,2,2,1.5);
}







/*

## Top navigation menu

```
<ul class="topMenu topMenuPos">
    <li class="topMenuItem topMenuItemFirst">
        <a class="topMenuItemLink linkIcon linkIconText" title="" href="#">
            <em class="iconindividual linkIconImage"></em><span class="topMenuItemText linkIconTextLabel">Firstname Lastname</span>
        </a> 
    </li>
    <li class="topMenuItem">
       <a class="topMenuItemLink linkIcon" title="" href="#"><em class="iconalertsalt linkIconImage"></em></a> 
    </li>
    <li class="topMenuItem">
       <a class="topMenuItemLink linkIcon" title="" href="#"><em class="iconalerts linkIconImage"> </em></a> 
    </li>
    <li class="topMenuItem">
       <a class="topMenuItemLink linkIcon" title="" href="#"><em class="iconsearch linkIconImage"> </em></a> 
    </li>
</ul>


```

*/


.topMenu{
	.topMenuItem{
      height:80px;
      list-style: none;
	  float: left;
      @extend %relative;
              .topMenuItemLink{
                          @include position(absolute, 3rem 0 0 0);
                          @include blockMargin(0.2,0,0,0);
                          .iconDropWrapperTopNav,
                            	.linkIconTextLabel{
                              	@extend %floatLeft;
                          }
                          .linkIconTextLabel{
                            	@extend %inlineBlock;
                          }
                          .linkIconTextLabelMod2{
                                width:150px;
                          }
                          .userName {
                          		width:14rem;
     							@include ellipsis(14);
								overflow:hidden;
								display:inline-block;
                          }
                  }
      .linkIcon{
        &:link{
          color: $beta73;  // convert this to var
        }
        &:visited{
          color: $beta73;  // convert this to var
        }
        &:hover{
          color: $beta56;   // MM: I am not sure about this yet.
        }
        &:active{
          color: $beta73;  // convert this to var
        }
      }
    }
    .topMenuMenuItemMainMod1 {
    	.contentDialogMod1 {
    		// left:-1rem!important;
    	}
    }
    .block {
    	@extend %block; 
    }
}


 .topMenu{
   .topMenuMenuItemSub{
     width: 8rem;
     @include lastBorder(1px, solid, #eaeaea);
     @include firstBorder(1px, solid, #eaeaea);
   }
   .topMenuItemMod1 {@include firstBorder(1px, solid, #eaeaea);}
   .topMenuMenuItemSub.topMenuItemMod2 em.iconalertsalt {margin-left: 31px}
   li.topMenuItem:last-child{
       width:11rem;
      @include firstBorder(1px, solid, #eaeaea);
      @include lastBorder(1px, solid, #eaeaea);

   }
   .globalContentWrapper li{
     border:none;

   }
   .globalContentWrapper li.sectionAction{
     width: 2rem;
     position: absolute;
     right: 3px;
     a {
       color: $beta73;
       &:hover {color: $beta56}
     }
     .iconarrowfulldown {
       @include fontSize(1.2);
     }
   }

   .topMenuMenuItemMain{
     width:19rem;
     @include ellipsis(19);
     overflow:visible;
        .topMenuItemLink {
          display: block;
        }
        .iconDropWrapperTopNav{
            @include blockMargin(0,0.5,2.5,2);
        }
        .linkIconTextLabel{
          vertical-align: middle;
     	  }
     	  .topMenuItemTxtName{
          width:14rem;
          @include ellipsis(14);
        }
   }
   
   .globalContentWrapper {
        .topMenuItemTxtName {
            width:21.6rem;
            @include ellipsis(21.6);
        }
        .topMenuItemPhone {
           @include lineHeight(1); 
        }
   }
   
   .topMenuMenuItemMainMod2 {
   	   @include firstBorder(1px, solid, #eaeaea);
   }
   
  .topMenuMenuItemSub {
    em {
      @include blockMargin(0,0,0,2);
    }
  }

}

.topMenuPos {
	@extend %floatRight;
}










/*

## Utility bar (Left side menu) 

```
<aside class="layoutUtilBar">
    <div class="layoutUtilBarWrap">
       <div class="utilBar">
           <div class="utilBarItemHome">
                <a href="#" class="linkIcon linkIconSide" title="">
                    <em class="linkIconImage iconsettings"></em>
                </a>
           </div>
            <div class="utilBarItemClients">
                <a href="#" class="linkIcon linkIconSide" title="">
                    <em class="linkIconImage iconprint"></em>
                </a>
           </div>
           <div class="utilBarItemWorkflow">
                <a href="#" class="linkIcon linkIconSide" title="">
                    <em class="linkIconImage icongroup"></em>
                </a>
           </div>
           <div class="utilBarItemProducts">
                <a href="#" class="linkIcon linkIconSide" title="">
                    <em class="linkIconImage iconcalendar"></em>
                </a>
           </div>                                                                    
       </div><!-- utilBar -->
    </div><!-- layoutUtilBarWrap -->
</aside><!-- layoutUtilBar -->

```

### Utility bar active state

Using .utilBarItemBActive to indicate the active state.

```
<aside class="layoutUtilBar">
    <div class="layoutUtilBarWrap">
       <div class="utilBar">
           <div class="utilBarItemHome">
                <a href="#" class="linkIcon linkIconSide" title="">
                    <em class="linkIconImage iconsettings"></em>
                </a>
           </div>
            <div class="utilBarItemClients utilBarItemBActive">
                <a href="#" class="linkIcon linkIconSide" title="">
                    <em class="linkIconImage iconprint"></em>
                </a>
           </div>
           <div class="utilBarItemWorkflow">
                <a href="#" class="linkIcon linkIconSide" title="">
                    <em class="linkIconImage icongroup"></em>
                </a>
           </div>
           <div class="utilBarItemProducts">
                <a href="#" class="linkIcon linkIconSide" title="">
                    <em class="linkIconImage iconcalendar"></em>
                </a>
           </div>                                                                    
       </div><!-- utilBar -->
    </div><!-- layoutUtilBarWrap -->
</aside><!-- layoutUtilBar -->

```

*/


.utilBar{
	width: 60px;
	position: fixed;
	top:120px;
	left:20px;
    @include borderRadius(0.3);
	background-color: #565655;  // convert this to var
	//@include border-left-radius(3px); //burbon mixin
	z-index: 100;  // This is require when we need to have flyout pans close to this utility bar

	.linkIcon{
		width: 60px;
        height: 60px;
        @include blockPadding(0,0,0,0);
        @include textAlign(center);
		&:link{
			color:  $shi;  // convert this to var
		}
		&:visited{
			color:  $shi;  // convert this to var
		}
		&:hover{
			color:  $shi;   // MM: I am not sure about this yet.
			background-color: #676766;  // convert this to var
			@include border-left-radius(3px); //burbon mixin
		}
		&:active{
			color: $shi;  // convert this to var
		}

	}
	.utilBarItemBActive{
		background-color: #fafafa;
		@include border-left-radius(3px); //burbon mixin
		.linkIcon{
			color: #444444;
			&:hover{
				
				background-color: #fafafa;  // convert this to var
				@include border-left-radius(3px); //burbon mixin
			}
		}
	}
}

.utilBarMod1{
	top:200px;
}

/*## Main content Box 

*/




/*
Login page layout

*/


.layoutContainerAlpha{
	width: 100%;
	min-width: 980px;
	max-width: 100%;
	height: 100%;
	display: table;
	position:relative;
	

}
.layoutHeaderAlpha{
	width: 100%;
	background-color:$shi;
    @extend .shadowMod1;
    @include setSpace(0 0 0 100px);
	.layoutHeaderAlphaWrap{
		width:900px;
		min-height: 80px;
	}
	.logoWrapPos{
        @include setSpace( 0 0 0 0px);
	}

}
.layoutContentAlpha{
	width: 100%;
	padding-bottom:80px;
	padding-left: 100px;
	.layoutContentAlphaWrap{
		width:900px;
		min-height: 100%;
		margin:40px 0;
		position:relative;
		.noteBoxWrap{
            @include position(absolute, 57px 100px 0 0);
			width: 280px;
		}
          .noteBoxWrapMod1{
            top:161px;
          }
          .noteBoxWrapMod, .noteBoxWrapMod.noteBoxWrapMod1{
            position: relative;
            right: auto;
            float: left;
            margin-bottom: 3rem;
            margin-left: -65px;
          }
		 .noteBoxWrapMod.noteBoxWrapMod2{
            margin-left:-280px;
          }
	}
}
.logonContainer .noticeBox,
.registerContainer .noticeBox,
.passwordResetContainer .noticeBox {
  width: 680px;
  .noticeBoxWrapper li:last-child{width: 87%}
}


.layoutFooterAlpha{
	width: 100%;
	/*background-color: $backgroundColorAlpha;*/
	height:auto;
	/*position: absolute;
	bottom: 0;
	left: 0;*/
	padding-left: 100px;
	.layoutFooterAlphaWrap{
		width:900px;
		min-height: 80px;
		a.linkTextAlpha{
            @include setSpace(margin, 0 0 0 20px);
		}
		margin:40px 0;
	}
	
}

ul.listCircle {
    @include blockMargin(0,0,0,1.3);  
    li { 
        @include blockMargin(0,0,.5,0);   
        list-style: disc outside;
    }
}

.contentInfoWrapMod1{
	@include blockMargin(2,0,5,0);
}

.overlayViewContent{
	   background: none repeat scroll 0 0 #F4F4F4;
	   border-top: 1px solid #C8C8C8;
	   box-shadow: 0 2px 1px 0 #E6E6E6 inset;
	   display:none;
	   @include blockPadding(1,1,1,1);   
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .overlayViewContent {
    	@include blockMargin(-0.9,0,0,0); 
    }
}

/* ## Global Footer Linked Pages Layout 

*/	
.footerCMSContentPanel {
	@include blockPadding(0,0,0,0);
    @include fontSize(1.6);
    color: $bistochar;
    h1 {@include fontSize(4);}
    h2 {@include fontSize(2.5);}
    h1, h2 {
		@include endBorder(1px,#ccc,solid);
		@include blockPadding(0,0,1,0);
		@include blockMargin(0,0,4,0);
        color: $bistochar;
	}

    h2.mod1 {
      border: 0;
      @include blockMargin(0,0,1,0);
    }
	h3, h4, h5, h6 {
		@include blockPadding(0,0,1,0);
        color: $bistochar;
        @include fontSize(1.6);
	}
    h3 {@include fontSize(2);}
    h4 {@include fontSize(1.8);}
	p, ul, ol {
		@include blockPadding(0,0,2,0);
        @include lineHeight(1.6);
	}
	ul {
		@include blockMargin(0,0,0,1.3);
	}
	ol {
		@include blockMargin(0,0,0,1.7);
	}
	ol li,	
	ul li { 
		@include blockMargin(0,0,.5,0);
	}
	ol li {	    
	    list-style: decimal outside; /*giving OL's LIs generated numbers*/	
	}
	ul li {	    
	    list-style: disc outside; /*giving UL's LIs generated disc markers*/
	}
	ul.noBullets {
		@include blockMargin(0,0,0,2);
		@include blockPadding(0,0,2,0); 
	}
	ul.noBullets li {
		list-style: none outside; /*giving UL's LIs generated disc markers*/
	}
	
	.innerList{
		@include blockMargin(0,0,0,3);
		@include blockPadding(0,0,0,0); 
	}
	
	dl {	 
	 overflow:hidden;
	}
	dt {
	 @extend %floatLeft;
	 width:17%;
	 @include blockPadding(0,0,.9,0);
     @include lineHeight(1.4);
	}
	dd {
	 @extend %floatLeft;
	 width:83%;
	 @include blockPadding(0,0,.9,0);
     @include lineHeight(1.4);
     .multiLines {
     	@include lineHeight(2.2);
     }
	}
	dl.large {	 	 
		dt { width:22%; }
		dd { width:78%; }
	}	
	table{
		border-collapse: collapse;
		/*border:1px solid #EAEAEA;*/
		@include allBorders(1px, solid, #EAEAEA);
  		@extend %floatLeft;
        @include fontSize(1.4);
  		width: 100%;
  		@include blockPadding(0,0,0,0);
		@include blockMargin(0,0,2,0);
  		tr {
    		@include startBorder(1px, solid, #CCCCCC);
    		th {
    			border-collapse:separate;
    			@include allBorders(3px, solid, $beta73);
    			color:#2C2B29;
    			/*font-size:1.2rem;*/
    			white-space:nowrap;
    			@include textAlign(left);
    			vertical-align:top;
    			@include blockPadding(1,1,1,1);
    		}
    		td {
    			overflow:hidden;
                @include textAlign(left);
				@include lineHeight(1.8);
				@include dataCellHeight(4.5);
				height:auto;
				@include blockPadding(1,1,1,1);
				vertical-align: top;
    		}
		}	
	}
	table.plainContent {
		border:none;
  		width: auto;
  		tr {
    		border-top: none;
    		th {
    			border:none;
    			@include blockPadding(0.5,1,0.5,0);
    		}
    		td {
    			@include blockPadding(0.5,1,0.5,0);
    		}
		}	
	}
	.formBlockContainer {
		.formBlock {
			@include fontSize(1.6);
			@include lineHeight(1.6);
			@include blockMargin(0.5,0,0.5,0);
			.formLabelCheckBox {
				width:97%;
				@include fontSize(1.6);
				@include lineHeight(1.6);
			}
		}
		.setBottomGutter {
			margin-bottom:20px !important;
		}
	}	
}
.footerCMSContentPanelMod1 {
	@include fontSize(1.4);
	@include lineHeight(2.0);
	.formBlockContainer {
		.formBlock {
			.formLabelCheckBox {
				@include fontSize(1.4);
				@include lineHeight(2.0);
			}
		}
	}
	h4 {
		@include blockPadding(0,0,0.2,0);
	}		
	p, ul, ol {
		@include lineHeight(2.0);
	}
	ul ul.noBullets, 
	ol ul.noBullets {
		@include blockPadding(0,0,0,0);
	}
}
	

/* ## Page Header Layout 

*/

.pageDetailHeaderWrapper{
	width:100%;
	@include blockMargin(0,0,0,0);
    @include blockPadding(0,0,1.5,0);
    //@extend .endBorder;
    @include endBorder(1px,#c5c5c5,solid);
		.pageDetailHeader{
			@include blockPadding(0,0,0,0);
			@include blockMargin(0,0,0,0);
            @extend %floatLeft;

				h1{
                    @include fontSize(4);
                    @extend %normalFont;
                    color:$textColorDark;
				}
                .multipleAccountSwitcher {
                  width: 50rem;
                }
                h1,p{
                    @extend %inlineBlock;
                }
		}
        .pageDetailIcon{
            @extend %floatLeft;
            @include blockMargin(0.9,1,0,0);
        }
        .pagepageDetailSubHeader{
            @extend %floatRight;
            @include blockMargin(0.5,0,0,0);
            @include textAlign(right);

          h2{
              @include fontSize(3);
              @extend %normalFont;
              color:$textColorDark;
              @extend %inlineBlock;
              margin-top:4px;
              margin-bottom:3px;
            }
        }
		.pageDetails{
			@include blockMargin(0,0,2.5,0);
			@include blockPadding(1.5,0,1.3,0);
			@extend .endBorder;
				.pageDetailItem{
					width:33.333%;
					@extend %floatLeft;
						h2{
							@include fontSize(1.4);
							color:$textColorDark;
							@include blockMargin(0,0,1.5,0);
                            letter-spacing: -.3px;
                          &.pageDetailItemMod2 {
                            letter-spacing:  0;
                          }
						}
				}
                .pageDetailItemMod1{
                  text-align: right;
                  @extend .relative;
                  h2 {margin-top: 3px}
                }
		}
        .pageDetails.pageDetailsMod1 {
          border-bottom: 0;
          margin-bottom: 0;
        }
}
.pageDetailHeaderWrapper.pageDetailHeaderWrapperMod1 {
  padding-bottom: 0;
  margin-bottom: 2rem;
}
.pageDetailHeaderWrapper.pageDetailHeaderWrapperMod2 {
  margin-top: -17px;
 .infoBox {
 	width:100%;
}
}
.pageDetailHeaderWrapperMod3 {
  border-bottom:none;
}
.pageDetailHeaderWrapperMod4 {
  border-bottom:none;
  margin-bottom:1rem;
}

/* ### Section header


 */


.sectionHeaderWrapper{
  width: 100%;
  @extend %block;
  @include clearfix; 
    .sectionHeader{
      @extend %floatLeft;

    }

  .sectionAction{
    @extend %floatRight;
    @include blockMargin(0,0,0,2);

  }

  &.sectionHeaderWrapperMod1 {
    text-align: right;
    .sectionAction {
      float: none !important;
      @extend %inlineBlock;
      margin-left: 1.6rem;
    }
  }
}

/* ## Dl Layout options 

*/

.setFull{
	width:100%;
	float:none;
	clear:both;
}

.setQuarter{
  width:25%;
  @extend %floatLeft;
}

.setHalf{
		width:50%;
		@extend %floatLeft;
}


.setHalf.setHalfMod1 {
     width: 180px;
}
.setHalf.setHalfMod2 {
    width: 260px;
}
.setHalf.setHalfMod3 {
   // width: 379px;
      dt{
        width:33%;
      }
}
.setHalf.setHalfMod4{
  dt{
    width:40%;
  }
  dd{
    width:55%;
  }
}

.setThird{
	width:33%;
	@extend %floatLeft;
}

.setTwoThirds{
  width:42%;
  @extend %floatLeft;
}
.spaceWrapper{
  @include blockPadding(0,1,0,2);
  @extend %floatLeft;
  @extend %block;
  width:100%;
}

/* ##Expand Arrow
Creates the expand arrow for inline modals
This element nees to be included inside on the top of the inline Modal and left position is calculated via JS
	
	<em class="expandArrow"></em>
	
	

*/



.expandArrow{
	//background:$backGroundImage no-repeat  -9px -491px;
    background:$backgroundSprite  -138px -486px;
	width:28px;
	height:17px;
	@extend %inlineBlock;
	position:absolute;
	top:-11px;
}

.expandArrowMod1{
  //background:$backGroundImage no-repeat  -9px -515px;
  background:$backgroundSprite   -138px -486px;
  position: absolute;
  z-index:20;
  top:5rem;
  left:50%;
  margin-left: -24px;
}

.expandArrowMod2{
	background:$backgroundSprite   -9px -573px;
	position: absolute;
	z-index:20;
	top:5rem;
	left:40%;
}

.expandArrowMod3{
	background:$backgroundSprite   -9px -540px !important;
    height: 16px;
}

.expandArrowMod4{
  background:$backgroundSprite  -45px -515px;
  position: absolute;
  z-index:20;
  top:5rem;
  left:40%;
}

.expandArrowMod5{
  background:$backgroundSprite    -9px -540px;
  right: 1px;
}


/* ##  Modals


*/


/* C15 Modal
-----------------------------------------------------------*/
.modalBox {
 	background:$baseColor;
 	@include borderRadius(0.6);
 	//@extend .shadow;
 	min-height:$modalBoxHeight;
	height:auto!important;
	overflow:hidden;
	@include blockMargin(0,0,4,0);
		.modalContent{ 
				width:460px;
				margin:36px auto 80px auto; // set default to 60px
				@extend %floatNone;
		}
		.modalContentMod1{
                width:630px;
        }
        .modalContentMod2{
                width:500px;
        }

        .modalContentMod3{
          @include blockPadding(0,6,5,6);
          @extend %block;
        }
        .modalContentMod4{
          width:560px;
         @include setSpace(margin, 32px 0 0 60px );
        }
		.modalContentMod5{ 
				margin:36px auto 30px auto;
		}        
		
		.modalContentMod6{ 
				width:480px;
		} 
}

.modalBoxOverflowVisible {
  overflow:visible; 
}
.modalBoxNoMinHeight {
min-height:inherit;
}

.modalForm fieldset,
.modalForm{
	@include blockMargin(0,0,0,0);
	width:100%;
}
.modalForm {
  @include blockPadding(0,0,0,1.1);
  margin-left: -16px;

  .panelBox:last-child {margin-bottom: 0;}
}


.modalClose {
	/*@include position(absolute, 3rem 3rem 0 0);
 	background:$modalCloseBG;
	@include hideText;
 	width:$modalCloseSize;
 	height:$modalCloseSize;*/
  @extend .iconclose;
  @include position(absolute, 3rem 3rem 0 0);
}

.modalBG {
 	background: $modalBG;
    @include opacity(0.8);
 	//opacity: $modalBGOpacity;
	//filter: alpha(opacity=80);
 	@include position(absolute, 0px 0px 0px 0px);
 	width: $modalCloseSize;
 	height:$modalCloseSize;
 	@extend .block;
}


.modalBanner{
	height:110px;
	//background:$sliderBG;
	@include blockMargin(0,0,0,0);
}


.panelBox{
	height:auto;
	@extend .relative;
	@include blockMargin(0,0,2,0);
  &.headerTextItem {
    @include blockMargin(0,0,1,0);
  }
  &.headerTextItem.bottomGutter {
    @include blockMargin(0,0,1.5,0);
  }
}
.modalBox.logonBusyDialog {
  height: 14rem !important;
  width: 38rem !important;
  min-height:$modalBoxHeight - 450;
  box-shadow: none;
  margin-bottom: 0;
  @include blockPadding(5.2,0,0,0);
  text-align: center;
  float: left;
    .modalTitle {
        width:90%;
        margin:0 0 0 1rem;
        border-top:0;
        text-indent:0;
    }
    h1 {
      @include fontSize(3);
      em {@include blockMargin(0,0,0,2);}
    }
    .modalTitleBar {display: none}
}
// this modal is used on term deposites calculator page on go button sumbmit
.amountToInvestBusyDialog{
	@extend .logonBusyDialog;

}

.logonBusyDialogStyleTwo{
  background: transparent;
  em{
    @include position(absolute, 0px 0px 0px 0px);
    margin: auto;
  }
  .modalClose{
    display:none;
  }

}

.multiplePanelContent{
	float:left; 
    width: 49%;
    @include blockMargin(2,8.0,0,3);
	@include blockPadding(1,0,1,0);
	@extend .block;
	width:90%;
}



.multiPanelHeader{
	@include blockMargin(1,0,1,0);	
}
.modalScollBox{
	overflow-y:scroll;	
	height:100px;
	width:100%;
}

.compressModal{
	@include blockMargin(0,0,0,0);
}

.modalLogoContainer{
	@extend %floatLeft;
	@include blockMargin(2,0,0,2);
	
}

.modalBrandContainer{
	@extend %floatLeft;
	@include blockMargin(2,0.5,0,0);
	width:80%;
	
}

/*Global Header Content Section*/

.globalContentWrapper {
  @include blockPadding(2,1,3,1.5);
  position:relative;
  min-height:80px;
    .sectionHeader{
      @extend %floatLeft;
      width: 230px;
    }

  .sectionAction{
    @extend %floatRight;
    @include blockMargin(0,0,0,0);
    em{
      margin-top: 8px;
      @extend %inlineBlock;

    }
  }
  &:hover .sectionAction em{color:$beta56;}
}



/* ## Detailed Expanded View

*/

.detailedViewExpanded {
    @include endBorder(1px, #C5C5C5, solid);
    @include blockPadding(1,0,3,0);
    @include blockMargin(0,0,2.5,0);
    @extend %relative;
  	.detailedViewContainer {
    	@extend %floatLeft;

    	.header {
      		margin-bottom: .5rem;
      		line-height: 2rem;
    	}

        .dataSummary {
          dt {
            @include blockMargin(0,.55,1,0);
            &.last {margin-bottom: 4px}
            &.headerSummarySubGroup {margin-bottom: 0}
          }
          dd {
            //min-height: 1px;
            &:last-child {margin-bottom: 4px}
            &.headerSummarySubGroup {margin-bottom: 0}
          }
        }

        &.detailedViewContainerSecond {
            .listContent.listContentMod2 li {
              @include blockMargin(0,0,.4,0);
              &.mod1 {
                @include blockMargin(0,0,1,0);
              }
            }
        }
  	}
  	.detailedViewContainer.detailedViewContainerFirst {
    	width:225px;
    	.dataSummary {
    		dd {
    			width:48%;
    			overflow: hidden;
    			word-wrap: break-word;
    		}
    	} 
  	}
  	.detailedViewContainer.detailedViewContainerSecond {
    	@include firstBorder(1px,#e5e5e5 ,solid);
    	@include lastBorder(1px,#e5e5e5 ,solid);
    	width:260px;
    	overflow: hidden;
    	word-wrap: break-word;
  	}
  	.detailedViewContainer.detailedViewContainerThird {
    	width:355px;
  	}
  	.detailedViewContainer.detailedViewContainerFour {
    	width:610px;
    	.dataSummary {
    		dt {
    			width:20%;
    		}
    		dd {
    			width:78%;
    			overflow: hidden;
    			word-wrap: break-word;
    		}
    	} 
  	}
  	.detailedViewContainer.detailedViewContainerNoRightBorder {
	    border-right:none; 
	}
  	.layoutMainHeaderItem {
      	@extend %block;
      	width: 100%;
      	@include blockMargin(0,0,1,0);
      	.iconSetPosStyleOne {
      		margin-right: 10px
      	}
    }
  	.detailViewHeader {
      	@include fontSize(2.5);
      	@include blockMargin(0.5,0,0,1);
    }
    .detailViewHeaderMod1 {
      	@include blockMargin(0.5,0,1,0); 
    }
  	.headerSummarySubTitle {
    	@include fontSize(1.4);
    	@include blockMargin(0.2,0,1.1,0);
    	letter-spacing: 0;
  	}
  	.iconclose {
    	position: absolute;
    	right: 0;
    	top: 20px;
    	color: $bistochar;
  	}
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
.detailedViewExpanded .headerSummarySubTitle {margin-bottom: 1.2rem}
.detailedViewExpanded .detailedViewContainer.detailedViewContainerSecond .listContent.listContentMod2 li {margin-bottom: .9rem}
.detailedViewExpanded .detailedViewContainer.detailedViewContainerSecond .listContent.listContentMod2 li.mod1 {margin-top: .9rem}
}

.dataSummary {
    @include lineHeight(2);
      width: 100%;
      @extend %floatLeft;
          dt{
            width:46%;
            @extend %floatLeft;
            @include blockMargin(0,1,.8,0);
          }
          dd{
            width:50%;
            @extend %floatLeft;
            @include blockMargin(0,0,.8,0);
            @extend %block;
            //min-height: 2.5rem;
          }
          .ddAlign{
            float: none;
            @extend %block;
          }
          dt {
              margin-right: .55rem;
          }
      dt.headerSummarySubGroup{
        @include blockMargin(0,.55,0,0);
        .iconbpay {color: #243366;}
      }
    dd.headerSummarySubGroup{
      @include blockMargin(0,0,0,0);
    }
  }


.dataSummaryExtended{
  @include blockPadding(0,0,2.5,0);
  @include blockMargin(0,0,1,0);

}
 .headerSummaryMod1{
    @include blockPadding(4,6,4,3.8);
    @include firstBorder(1px, $beta22, solid);
    @include lastBorder(1px, $beta22, solid);
    dt{
         width:115px/*22%*/;
        @include blockMargin(0,2,1,0);
    }
    dd{
         width:59%;
         @include blockMargin(0,0,1,0);
         &.listContentItemText {
           @include blockMargin(0,0,1,0);
         }
     }
 }

.headerSummaryMod2 {
    dt{
         width:33%;
         @include blockMargin(0,.1,.4,0);
    }
    dd{
         width:65%;
         @include blockMargin(0,0,.4,0);
     }
 }
 
 .listType5 {
 	.listItemWrapper {
 		.listItemContentMod1 {
 			@include blockPadding(3.5,4,5,4);
    		@include firstBorder(1px, $beta22, solid);
    		@include lastBorder(1px, $beta22, solid);
    		.headerSummary {
    			width:48%;
    			dt {
		        	width:25%;
			    }
			    dd {
			         width:73%;
			    }
    		}
    		.requestSummary {
    			width:50%;
    			@extend %floatRight;
    			@include blockPadding(0,0,0,3);
    			h5 {
					@include blockPadding(0,0,1.5,0);
					em {
						display: inline-block;
			    		float: none;
			    		@include blockMargin(0.1,0,0,0.5);
			    	}
				}
				.headerSummary {
				 	width:98%;
				 	dt, dd {
				 		width:auto;
				 		@extend %floatLeft;
				 	}
				}
    		} 
    		.happeningBox  {
				@include blockMargin(2,0,0,0);
				.noticeBoxWrapper {
					li {
						width:auto;
					}
					li.noticeBoxText {
						width:90%;
						border:none;
					}
				}
			}   		 		    	
 		} 	
 	}
 }
 
 .listType6 {
 	.formLabelCheckBox {
 		//width: 95%;
 		float: left;
 		@include blockMargin(0.4,0,0,0.2);
 	} 	
 }
 
 .headerSummaryMod3{
    @include blockPadding(4,2,4,4);
    @include firstBorder(1px, $beta22, solid);    
    dt{
         width:10%;
    }
    dd{
         width:88%;
     }
 }
 
.detailedViewCollapsed {
  @include endBorder(1px, #C5C5C5, solid);
    @include blockMargin(0,0,0,0);
    padding: 1rem 0;
}
  .detailedViewCollapsed .detailedViewInfo {
    @include blockMargin(0,0,0,0);
    @extend %floatLeft;
    .stringTruncate{
		@include ellipsis(17.5);
		line-height:1.2em;
		margin-top:-1em;
		position:absolute;
	}
  }
  .detailedViewCollapsed .detailedViewInfoMod1 {
      @extend %floatRight;
  }
  .detailedViewCollapsed:after {
    clear: both;
    content: ".";
    visibility: hidden;
    width: 100%;
    @extend %block;
    height: 0;
    @include lineHeight(0);
  }
    .detailedViewCollapsed .detailedViewInfo dt,
    .detailedViewCollapsed .detailedViewInfo dd {
      @extend %inlineBlock;
      @include lineHeight(4);
      @include blockMargin(0,0,0,0.5);
    }
    .detailedViewCollapsed .detailedViewInfo dt {
      margin-left: 2rem;
    }

.logonContainer, .registerContainer, .passwordResetContainer {
  float: left;
  width: 680px;
  .formBlock em.formFieldMessageError {
    width: 390px;
  }
}
.logonContainer {
  .formBlockLast {margin-top: 30px}
  .formFooterWrap {margin-top: 10px}
}

.floatNone, .iconSetBorder.floatNone {float: none !important}

.multiAccountHeadContainer {
  padding-left: 58px;
  @extend %inlineBlock;
  a {
    @extend %inlineBlock;
    h1 {cursor: pointer !important}
    p {color: $beta73}
    em.iconmenu, .iconSetBorderHeavy {color: $beta73}
    &:hover {
      em.iconmenu, .iconSetBorderHeavy {color: $gamma}
    }
  }
  h1 {cursor: default !important}
  .iconSetBorder.iconSetBorderHeavy {
    @include blockMargin(.9,1.6,0,-5.8);
    vertical-align: middle;
    @extend %floatLeft;
   }
}
.multiAccountHeadContainerMod1 {
  &:hover {
    @extend .cursor;
    .iconSetBorder.iconSetBorderHeavy {
      color:$gamma;
      border-color:$gamma
    }
  }
}

.topMenuItem {
  .iconsettings {margin-right: 6px}
  .iconalertsalt {@include fontSize(1.5);}
}

.iconModAlign1 {
  @extend %inlineBlock;
  width: 35px;
}
.topBottomSeparators {
    @include blockMargin(0, 0, 4, 0);
    @include blockPadding(2.5,0,2.5,0);
	@include startBorder(1px, $beta10, solid);
    @include endBorder(1px, $beta10, solid);
}
.topBottomGutterSpace{
	@include blockPadding(3,0,3,0);
}
.topBottomGutterSpaceMod1 {
	@include blockPadding(1,0,0,0);
}
.itemSeparator {
  height: 5px;
  @include endBorder(1px, $beta10, solid);
  width: 100%;
  @include textTrans(uppercase);
  clear: both;
  position: relative;
  float: left;
  span{
    @include fontSize(1);
    font-weight: 700;
    @extend %inlineBlock;
    @include textAlign(center);
    margin: 0 auto;
    width: 32px;
    background: #fafafa;
    @include lineHeight(1);
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 10px;
  }
}
.downloadDropdownPanel {
  .itemSeparator{
    @include blockMargin(1.6, 0, 1.4, 0);
    width:277px;
    span{background:#fff}
  }
}

.bglDataDownloadForm {@extend %relative;}


.headerWrapAlpha{

  @include position(relative);
  @extend	.clearFix;
  .mainHeaderItem{
    width: 300px;
    @extend %floatLeft;
    @include blockMargin(-1.1,0,0,0);
    small{
      float: right;
      @include blockMargin(3.2,0,0,0);
      letter-spacing: -.5px;
      @include fontSize(1.6);
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        float: none;
      	@include blockMargin(3.2,0,0,6);
      }
    }
    &.mod3 {
      width: 100%
    }
    &.mod4 {
      width: 45.6%;
    }
  }
}

ul.twoColScrollableList {
  li {
      width:100%;
      display:inline-block;
      .clientName {
        width:40%;
        display:inline-block;
      }
      .accountID {
        width:55%;
        display:inline-block;
        @include textAlign(right);
      }
      input[type="checkbox"] {
        @include blockMargin(0.3,1,0.5,0);
      }
      &.header {
        @include blockPadding(1.5,1,1.5,2);
        text-transform: none;      
      }
      &.dataDesc {
        @include lastBorder(1px, solid, $beta10);
        @include firstBorder(1px, solid, $beta10);
        @include endBorder(1px, solid, $beta10);
        height: 156px;
        overflow-x: hidden;
        overflow-y: scroll;
        ul li {
          @include blockPadding(1.5,1,1.5,2);
          @include endBorder(1px, solid, $beta10);
          .clientName {
            width:42%;
          }
          .accountID {
            width:57%;
          }
        }
      } 
  }  
  
   
}


// FTUE styles

.ftueContainer{
    li{
      @extend %floatLeft;
    }
    @include setSpace(padding, 65px 0 0 40px);
    .ftueMessage{
      color: $shi;
      @extend %emphasis;
      line-height: 40px;
      @include fontSize(3.5);
      //@include setSpace(margin, 2rem 0 0 0);
      @include setSpace(margin, 1.4rem 0 0 0);
      width:340px;

      &.ftueMessageStyleOne{
        //@include setSpace(margin, 0rem 0 0 0);
      }
        .styleOne{
          @include opacity(0.7);
        }
        .styleTwo{
          color: $beta73;
        }
      .styleThree{
        color: $digamma;
      }
    }
  &.ftueContainerAdvOne {
    .ftueHero {
      @include setSpace(margin, -3px 0 0 4px);
    }
  }
  &.ftueContainerAdvTwo {
    .ftueHero {
      @include setSpace(margin, -6px 0 0 -6px);
    }
  }
  &.ftueContainerAdvThree {
    .ftueMessage {
      width: 350px;
    }
    .ftueHero {
      @include setSpace(margin, -6px 0 0 -10px);
    }
  }
  &.ftueContainerInvOne {
    .ftueHero {
      @include setSpace(margin, -6px 0 0 -6px);
    }
  }
  &.ftueContainerInvTwo {
    .ftueHero {
      @include setSpace(margin, -5px 0 0 -1px);
    }
  }
  &.ftueContainerInvThree {
    .ftueHero {
      @include setSpace(margin, -8px 0 0 1px);
    }
  }
}

// Vendor Iframe
.avokaIframe iframe{
  background-color: #fafafa!important;
  overflow-x: hidden!important;
  width: 840px;
  // IE hack
  width: 842px \9;
}

// Avoka - Scroll Bar on Avoka forms in SIT - Adviser Client
#jq-avokaFormContainer iframe, 
.clientSetupAvokaFormContainer iframe { 
    overflow-x:hidden !important;
    min-width:855px !important;  
}

//For Investor Role - Alignment of Avoka form (Account application summary) to be realigned to the right
.investorAvokaForm {
  background-color:#FAFAFA !important;
  //padding:25px 0 0 80px !important;  
  .layoutContentAlphaWrap2 {
      //width:840px; 
      .infoBox {
          width: 98%;
      }
  }
}
