/* Body*/



/* ##Typogrophy and Font settings

*/


/*
##CORE TYPOGRAPHY VARIABLES

<p>Font size definition in rem 
<p>A mixin is used to generate the px and rem sizes 
<p>
example code:
<p>	
.fontSize{
<br>	@include fontSize(1.2);
<br>}
	
*/
// moved font variables to global





/*

# Heading style one
## Heading style two
### Heading style three
#### Heading style four
##### Heading style five
###### Heading style six
####### Heading style seven


*/
h1, h2, h3, h4, h5, h6 {
    font-family: $headerFontFamily;
    font-weight: $headerFontWeight;
    font-style: $headerFontStyle;
    color: $beta73;
    text-rendering: optimizeLegibility;
    line-height: 1.2;
    small {
    	font-size: 40%;  
    	line-height: 0;
        letter-spacing: -.5px;
    	.subHeaderNormal{
			font-weight: normal;
    	} 
    }  
}


// H1 Specifics and Modifiers

h1 { 
	@include fontSize($contentFontSize + 2.8 ); //3.5
	letter-spacing: -0.10rem;
      &.brandHeader{
        @include fontFam($fontTitle);
    }
    &.headerTextItem{
      //letter-spacing: -0.25rem;
      letter-spacing: -0.1rem;
    }
    &.modalHeader {
      @include fontSize(3.0);
      @extend %emphasis;
      line-height: normal;
      @include blockMargin(0,0,0,0);
      clear:both;
      @extend %block;
      .betac5 {color: $beta44;}
    }
    &.mainHeaderItem {
      @include blockMargin(0,0,4,0);
      &.mainHeaderItemMod1 {
        @include blockPadding(0,0,1,0);
        border-bottom: 1px solid $beta22;
        @include blockMargin(0,0,0,0);
      }
      &.mainHeaderItemMod2 {
        @include blockMargin(0,0,2,0);
      }
      &.mainHeaderItemMod3 {
        @include blockPadding(0,0,2,0);
        border-bottom: 1px solid $beta22;
        @include blockMargin(0,0,0,0);
      }
      a.mainHeadAction {
        margin-top: 3px;
      }
    }
}
h2 { 
	@include fontSize($contentFontSize + 2.3 );
  	letter-spacing: -0.10rem;
      &.descriptionHeader{
        @include fontSize(1.8);
        @include blockMargin(0,0,0.3,0);
      }
      &.descriptionHeaderMod2{
        @include fontSize(1.6);
      }
    &.mainHeaderItemMod9{
        @include fontSize(1.8);
        @include blockMargin(0,0,0,0);
        font-weight:600;
  }
    &.headerTextItem{
       letter-spacing: -0.25rem;
     }
    &.mainHeaderItem{
      @include fontSize(4);
      @include blockMargin(5,0,2,0);
      &.mainHeaderItemMod1{
        @include blockPadding(2,0,2,0);
        border-bottom: 1px solid #c5c5c5;  //TODO:: USE COLOUR VARS
        @include blockMargin(0,0,0,0);
      }
      &.mainHeaderItemMod2{
        @include blockPadding(2,0,2,0);
        @include blockMargin(0,0,0,0);
      }
      &.mainHeaderItemMod3{
        @include fontSize(2.5);
        @include blockMargin(-.6,0,3.5,0);
        //@include fontFam(helvetica);
        font-weight: 700;
      }
      &.thinBottomGutter{
        @include fontSize(2.5);
        @include blockMargin(-.5,0,0.2,0);
        //@include fontFam(helvetica);
        font-weight: 700;
      }
      &.mainHeaderItemMod4{
        margin-top: 0;
      }
      &.mainHeaderItemMod10{
        @include fontSize(2.5);
        @include blockMargin(-.5,0,0,0);
        @include blockPadding(0,0,1.3,0);
        border-bottom: 1px solid $beta22;
      }
    }
  &.modalHeader {
    @include fontSize(3.0);
    font-family:$fontTitle;
    @extend %emphasis;
    line-height: normal;
    @extend %floatLeft;
    @include blockMargin(0,0,0,0);
    clear:both;
    @extend %block;
    width:95%;
  }
  &.modalHeaderStyle2{
    @include fontSize(4);
    color:$beta44;
      span{
        color:$gamma;
   }
  }
  &.modalSubHeader {
    @include fontSize(3.0);
    line-height: normal;
    width:90%;
    color: $beta73;
    @include blockMargin(0,0,0,0);
  }
}
h3 { 
	@include fontSize($contentFontSize + 1.5 ); 
	letter-spacing: -0.05rem;

      &.descriptionHeader{
        @include fontSize(1.4);
        margin-bottom: 2px;
        letter-spacing:0;
      }
      &.descriptionGroupHeader {
        @include blockMargin(.7,0,.5,0);
      }

      &.sectionGroupHeader{
        @include fontSize(1.8);
        @include blockMargin(0,0,3,0);
      }
      &.headerTextItem{
        letter-spacing: -0.1rem;
      }

      &.modealSubHeader{
        @include fontSize(1.6);
        font-weight: normal;
        @extend %block;
        clear: both;
        width: 100%;
        @include setSpace(margin, 2rem 0 1.5rem 0 );

      }



}
h4 {
    @include fontSize($contentFontSize + 0.8 );
    &.subHeader{
      @include fontSize(2.5);
      @include blockMargin(0,0,1,0);
      @include fontFam(helvetica);
      font-weight: 700;
    }
  &.marginBtmOn {
    @include blockMargin(0,0,.5,0);
  }
}
h5 {
    @include fontSize($contentFontSize + 0.6 );
      &.sectionHeader{
        @include fontSize(1.8);
        @include blockMargin(0,0,1,0);
        font-weight:normal;
      }

}
h6 { @include fontSize($contentFontSize + 0.2 ); }



/*

```
<div class="headerWrap headerWrapAlpha">
    <h2>Register <small >Step 1 / <span class="subHeaderNormal">2</span></small></h2>
</div>  

```

*/









.xSmallText {
	@include fontSize($contentFontSize - 0.4);

}
.smallText {
	@include fontSize($contentFontSize - 0.2);

}
.smallText {
	.iconbpayMod1{
		@include fontSize($contentFontSize - 0.2);
	}
	

}

// normalText  is the default text sixe

.normalText {
	@include fontSize($contentFontSize);
	
}
.largeText {
	@include fontSize($contentFontSize + 0.2);
}

.largeTextMod1 {
  @include fontSize($contentFontSize + 0.4);
}

.xLargeText {
	@include fontSize($contentFontSize + 0.6);
}
.xxLargeText{
	@include fontSize($contentFontSize + 1.3);

}
.xxxLargeText{
	@include fontSize($contentFontSize + 1.5);

}
.upperCaseText {
	@include textTrans(uppercase);
}
.lowerCaseText {
	@include textTrans(lowercase);
}
// Font Styles 


.emphasis,
%emphasis{
	font-weight: 700;
}
.normalFont,
%normalFont{
	font-style:normal;
}
.italicFont{
	font-style:italic;
}



// used in Term deposites calculator page (grid)
.cellWrapper {
	.smallText, .largeText, .xLargeText, .xxLargeText {
		font-weight: 700;
	}
	.firstRow .smallText{
		@include blockPadding(0,0,0,0.5);
		font-weight: 700;
		
	}
	.largeText{
		@include fontSize($contentFontSize + 0.6);
	}
	.panelTitle{
		.smallText{
			@include blockPadding(0,0,0,0.5);
			font-weight: 200;
		}
		&.bestRate .smallText{
			font-weight: 700;
		}
	}
	&.currentPanel{
		.xLargeText{
			font-weight: 700;
		}
	}
		
	.currentWrapper{
		.bestRate{
			font-weight: 300;
		}
	}

}

.labelValueInlineList {
	.xLargeText{
		font-weight: 700;
	}
}

//Headers
.formHeader{
	font-family:$fontTitle;
	@include blockMargin(0,0,4, 0);
	@include fontSize(3);
  &.formHeaderMod1 {
    @include blockMargin(0,0,0,0);
  }
  &.formHeaderMod2 {
    @include blockMargin(0,0,2.4,0);
  }
}

.formHeaderModal{
  @extend .formHeader;
  @include fontSize(3.5);
  font-weight: 600;
}
.formHeaderMod1 {
    @include blockMargin(0,0,3.4,0);
}

.transDetailHeader{
	font-family:$fontTitle;
	@include blockMargin(2.2,0,1, 0);
	@include fontSize(3);
		span{
			color:$textColorLighterLight;
		}
		em{
			@extend %normalFont;
		}
		//Green Color
	    .positive {
	      color:$positive !important;
	    }    
	    // Orange Color
	    .info,
	    .alert {
	      color:$alert !important;
	    }
	    // Red Color
	    .warning {
	      color:$warning !important;
	    }
}

.transDetailHeader .transDetailHeaderbetaC1{
	color:	$headerTextColorDark;

}


.descriptionHeader{
	width:270px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .descriptionHeader{
    	width:240px;
    }
}
.descriptionHeaderMod1{
  width:auto;
}


.descriptionDuration{
	width:270px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .descriptionDuration{
    	//width:240px;
    }
}


.transDetailSubHeader{
	font-family:$fontTitle;
	@include fontSize(2);
	@include blockMargin(1, 0, 0, 2.5);
	width:90%;
		
}



.pageHeader{
	@include blockMargin(4,0,4,4.2);	
}
.contentHeader{
	@include blockMargin(0,0,1,0);	
}

.contextHeader{
	@include blockMargin(2.9,0,1,0);	
}

.contextHeaderMod1{
	@include blockMargin(2.5,0,1,0);
}

.panelHeaderContainer{
	@include blockMargin(4,0,1,0);	
}


/*## Header style colors

	<h2 class="headerColorStyleReduced">Header Lighter </h2>
	<h2 class="headerColorStylePrimary">Header  Primary</h2>
	<h2 class="headerColorStyleDarker">Header Darker</h2>
	
*/
	
.headerColorStyleReduced{
	color:$headerTextColorLighterLight;	
}

.headerColorStylePrimary{
	color:$headerTextColorGamma;	
}

.headerColorStyleDarker{
	color:$headerTextColorAlpha;	
}





/*## Header style colors

	<h2 class="headerTextItem"><span class="gammaC0">Add</span> <span class="betaC5">payments and deposits </span><span class="betaC0">account</span>
	<span class="zeta"> Started.</span>
	</h2>
	
*/




.headerTextItem{
	color: $beta73;
	.gammaC0{
		color: $gamma;
        .betaC4 {
             margin-left:-4px;
        }
        .betaC4.betaC4Mod1 {
          margin-left: 0;
        }
	}
	.betaC0{
		color: $beta;
	}
	.betaC1{
		color: $beta73;
	}
	.betaC2 {	
		color: $beta67;
	}
	.betaC3 {
		color: $beta56;
	}
	.betaC4{
		color: $beta44;
	}
	.betaC5{
		color: $beta27;
	}
	.zeta{
        color: $zeta;
    }	
}

.headerTextItemMod1{
	@include blockMargin(3,0,2,0);
}
.headerTextItemMod2{
	@include blockMargin(3,0,1,0);
}

.headerTextItemMod3{
	@include blockMargin(1,0,3,0 );
}

.headerTextItemMod8{
	@include blockMargin(1.5,0,1.5,0 );
}

.subHeaderTextItem {
  @include setSpace(padding, 0 0 2rem 0);  
}
/*

```
<h2 class="headerTextItem headerTextItemMod4">
  <span class="betaC1">Welcome Dennis,</span> 
  <span class="betaC4">Lorem amet</span>
  <span class="gammaC0"> 12 messages</span>
  <span class="betaC4"> elir pariatur</span>
  <span class="gammaC0"> 6 applications onboarding</span>
  <span class="betaC4"> amet</span>
  <span class="gammaC0"> 3 best term deposits</span>
  <span class="betaC4"> for you.</span>
</h2>

```


*/



.headerTextItemMod4{
	@include blockMargin(0,0,0,0 );
	@include blockPadding(0,0,6,0 );
	//border-bottom: 1px solid  $beta27;
}
.headerTextItemMod5{
	@include blockMargin(0,0,3,0 );
	font-size: 2.5rem;
}
.headerTextItemMod6{
	@include blockMargin(0,0,0,0 );
}
.headerTextItemMod9{
	@include blockPadding(0,0,2,0 );
	&.bottomGutter2x {
		@include blockPadding(0,0,4,0 );
	}
}
.headerTextItemMod10 {
  @include blockMargin(0.5,0,0.5,0);
  
}

.headerSubText {
	@include blockPadding(0,0,2,0 );
}

.helpTitle{
	@include fontSize(01.6);	
}

/*
## Horizontal line

### Horizontal line Modifier 1

.HorizlineMod1 


```

<hr class="Horizline HorizlineMod1 " />

```
*/

hr.Horizline { 
  color: $beta27;
  width:100%;
  &.HorizlineMod1{
	border: none;
  }
  &.HorizlineMod2{
    border: 0;
    margin-top: 30px;
    border-bottom: 1px solid $beta22;
  }
}

hr.HorizlineMod1:after {
	content:"...................................................................................................................................................................................................................";
	letter-spacing: 0px; 
	overflow: hidden;
}

/*

### mainHeaderItemMod1
```

<h2 class="mainHeaderItem mainHeaderItemMod1">Headline </h2>

```

*/


.pageHeaderItem.mainHeaderItemMod6{
	padding-bottom: 0;
	@include blockMargin(0,0,0,0);
}
.pageHeaderItem.mainHeaderItemMod7{
	@include blockPadding(0,0,0,0);
	@include blockMargin(-2,0,0,0);
}
.mainHeaderItemMod8{
  
 @include blockMargin(3,0,1.5,0);
  
}


/*
##subHeader
###subHeaderWrapMod1
####subHeaderWrapMod2
####subHeaderWrapMod3

```


```
*/

.subHeaderWrapMod1{
 	@include blockPadding(2,2,2,0);
 	@include blockMargin(0, 0, 0,0);
 	border-bottom: 1px solid #c5c5c5;  //TODO:: USE COLOUR VARS
 	@extend .clearFix;
 	.subHeaderItemTitle{
 		float: left;
 		font-weight: bold;
 		@include blockMargin(0, 0.5, 0,0);
 	}
	.subHeaderItemTitle:not(:first-child):before{
		content:("â€¢ ");
		
	}
 	.subHeaderItemText{
 		float: left;
 		@include blockMargin(0, 0.5, 0,0);
 	}
}

.subHeaderWrapMod2{
    border-bottom: 0px solid #c5c5c5;
    @include blockPadding(2,0,0,0);
}

.subHeaderWrapMod3{
    @include blockPadding(0,2,2,0);
}

/*
### mainHeader  and subHeader

```
  <header class="layoutMainHeader">
      <hgroup class="layoutMainHeaderWrap">
		<h2 class="mainHeaderItem mainHeaderItemMod1">Headline </h2>
		          
		<dl class="subHeaderWrap subHeaderWrapMod1">
		  <dt class="subHeaderItemTitle">Registered</dt>
		  <dd class="subHeaderItemText"> 1 Jan 2013</dd>

		  <dt class="subHeaderItemTitle subHeaderItemTitleLast">TFN</dt>
		  <dd class="subHeaderItemText"> Suplied</dd>
		</dl>
      </hgroup>
  </header> 


```


*/



/* ## Modal Header


*/


.modalSubHeader{
	font-family:$fontTitle;
	color:$primaryColor;
	line-height: normal;
	@extend %normalFont;
	@extend %emphasis; 
	@extend %floatLeft;
	@include blockMargin(0.3,0,0,0);
	@extend %block;
	width:90%;
}
.modalHeaderDesc{
	@extend %floatLeft;
	@include blockMargin(0.3,0,4,0);
	@extend %block;
	width:90%;
}
.modalMessage {
 	@include fontSize($sizeValue);
 	@extend .absolute;
	bottom: 5px;
      em {
        padding: $baseSpacing +1em;
        font-style: normal;
        @extend .inlineBlock;
      }
}




/*
```
<header class="layoutMainHeader">
  
  <hgroup class="layoutMainHeaderWrap">
    <h2 class="headerTextItem headerTextItemMod4">
      <span class="betaC1">Welcome Dennis,</span> 
      <span class="betaC4">Lorem amet</span>
      <span class="gammaC0"> <a href="#messagesSection">12 messages</a></span>
      <span class="betaC4"> elir pariatur</span>
      <span class="gammaC0"> 6 applications onboarding</span>
      <span class="betaC4"> amet</span>
      <span class="gammaC0"> 3 best term deposits</span>
      <span class="betaC4"> for you.</span>
    </h2>
  </hgroup>

</header> 

```
â€�â€�â€�â€�â€�â€�â€�â€�â€�â€�

*/

.headerTextItem a.betaC1{
  color: $beta73;
  &:link{
    color: $beta73;
  }
  &:visited{
    color: $beta73;
  }
  &:active{
    color: $beta73;
  }
  &:hover{
    color: $beta73;
    border-bottom: 2px solid $beta73;
  }
}


.textFragmentMod1{
  @include fontSize(2);
	@extend %emphasis; 
}
.iconModAlign1 .textFragmentMod1{
  @include fontSize(1.5);
}
.textFragmentMod2{
  @include fontSize(1.2);
  vertical-align: super;
}
.iconModAlign1 .textFragmentMod2{
  vertical-align: top !important;
  margin-top: -1px;
  @extend %inlineBlock;
}
.textMod1{
	font-size: 1.4rem;
}

.capitalise {
  @include textTrans(lowercase);
  @extend %inlineBlock;
    &:first-letter {
      @include textTrans(capitalize);
    }
}


.normalWeight{
	font-weight: normal;
}

.baseGama{
  color: $gamma;
}
