/*## Expand View 


*/


$fullExpaned:#f4f4f4;
$fullExpandBorder:#c7c7c7;
$fullExpandInnerShadow:#e6e6e6;


.expandViewContainer{
	@extend %block;
	//@extend %floatLeft;
	@include position(relative);
	width:100%;
	@include blockMargin(0.5,0,0,0.5);	
}
.expandedViewStyle1,
.expandedViewContainerStyle1{
	min-height:440px;
    /*height:440px;*/
    height:auto;
}
.expandedViewStyle2,
.expandedViewContainerStyle2{
	min-height:350px;
	/*height:350px;*/
	height:auto;
}

.expandedViewStyle3,
.expandedViewContainerStyle3{
	min-height:550px;
	/*height:550px;*/
	height:auto;
}



.expandedViewFull{
	@include startBorder(1px, solid, $fullExpandBorder);
    @include endBorder(1px, solid, $fullExpandBorder);
	//width:96.1%;
	width:100%;
	background:$fullExpaned;
	position:absolute;
	left:0px;
	//left: 0px\9;
	//@include boxShadow( inset 0px 2px 1px 0px $fullExpandInnerShadow);
	padding-left: 80px;
	
	
}
.expandedViewPaymentLimitIncrease { margin-top: 25px; }

// Fix for Chrome and Safari to behave with the fake view modal 

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.expandedViewFull{
		left:0px;	
	}
	
}

.expandedContent{
	 @include blockMargin(4,0,2,6);
	 width:870px;	
}

