.footerSmoke {  
    background-image: url("../../images/bgSmokeIE.png");
    background-position: 0 13px;
}

.sectionHeaderWrapper .sectionAction {
    text-align: right;
    margin-left: 0;
}
.sectionHeaderWrapper .sectionActionMod1 {margin-left: 2rem;}

.formBlockContainerMod3 .formBlockModButton {margin-right: 1.8rem;}
/*.numberNiconWrap .numberNiconItemNumber {margin-right: 1.8rem;}*/

.actionWrapper.actionWrapPrimary li:first-child {
    margin-right: 0;
    display: inline-block;
    width: 19rem;
}
.actionWrapper.actionWrapPrimary li:first-child a {margin-right: 0;}
input[type="checkbox"] {margin-top:.7rem;}

/* Delete overlay component
-----------------------------------------*/
.overlayViewContent {
	margin-top:-11px;  	
}
.actionWrapper.actionWrapperMod2 li:first-child {
	width:auto;
} 

.interestPaidPeriod dd:last-child{	
	width: 92px;
}

/* TermDeposit PopUp's - Primary Btn
-----------------------------------------*/
.termDepositPopUp .modalForm .primaryButton { /*min-width:auto;*/ }

/* Message alerts */
.messageDisplay.messageDisplayInfo{
    right: -17px
}

/* Multiple account dropdown */
.contentDialogMultipleAccounts .expandArrowMod2 {top: -1.65rem !important}

.sectionHeaderWrapper.sectionHeaderWrapperMod1 .sectionAction {margin-left: 0}

.iconModAlign1 {width: 37px}

/* Date picker */
.ui-datepicker .ui-datepicker-month, .ui-datepicker .ui-datepicker-year {
    padding-left: 15px;
}

.formBlockContainerMod4 .formBlockModButton .actionButtonIcon {
	min-width:11rem;
}

/*Fixed - Issues where an expandable section is included (e.g. payments, deposits, Your details, Billers and payees)**
.expandedViewFull{
	border-top:1px solid #C7C7C7;
	border-bottom:1px solid #C7C7C7;
    width:100%;
	background:#F4F4F4;
	position:absolute;
	left:0px;
	padding-left:80px;	
}
.expandedContent{
	 margin:40px 0 20px 60px;
	 width:870px;	
}
}

**Fixed - Calendar button edge is fading** 
a.calendarIconLink {
	height: 100%;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    top: 0;	
}
*/
.btn-action-primary{
	width:141px;
}

