@font-face {
  font-family: 'btfinicons';
  src: url("../fonts/btfinicons.eot");
  src: url("../fonts/btfinicons.eot?#iefix") format("embedded-opentype"), url("../fonts/btfinicons.svg#btfinicons") format("svg"), url("../fonts/btfinicons.woff") format("woff"), url("../fonts/btfinicons.ttf") format("truetype");
}
/**** new login/rego refactor css start ***/
.color-white {
	color: #ffffff !important;
}
.noDisplay {
	display:none !important;
}
.opacity-zero {
	opacity: 0
}
.bodyContainer {
	background: url("../images/btdirect-banner.png") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 100%;
  	color: #ffffff;
  	font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}
.flexContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.flexContainer .layoutContainer {
	margin: auto;
	padding: 50px;
	min-width: 768px;
    width: 768px;
	height: auto;
	min-height: 361px;
}
.flexContainer .globalErrorMessage {
	margin-bottom: 40px;
}
.sign-in-button {
	margin: 30px 0;
}
.bg-blurred {
	background: url("../images/bg_blurred_img.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.panoramaLogoWrapper {
	width:50%;
	float: left;
}
.panoramaLogo {
	background: url("../images/BT_Logo.svg") no-repeat center right;
	line-height: 42px;
	position: relative;
	right: -60px;
}
.BlueContainer {
	background-color: transparent;
}
.BlueContainer legend {
	display:none;
}
.signinContainerWrap {
	width: 20%;
	float:left;
}
.bodyContainer .header-statement.heading-two {
	font-size: 35px;
	margin: 3px 0 30px;
	font-weight: 300;
	letter-spacing: 0.4px;
	line-height: 35px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}
.modalBox.logonBusyDialog {
	height: 75px !important;
	min-height: 75px;
	width: 280px !important;
	padding: 20px;
	border-radius: 10px;
}
.modalBG {
	background-color: #999;
    opacity: 1;
}
.modalBox.logonBusyDialog .heading-two {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: normal;
    font-weight: normal;
    margin-bottom: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666666;
}
.bodyContainer [data-view-component="inputtext"] {
	width: 90%;
}
.bodyContainer [data-view-component="inputtext"] .validation-container input,
.bodyContainer [data-view-component="inputtext"] .validation-container input:hover,
.bodyContainer [data-view-component="inputtext"] .validation-container input.visited,
.bodyContainer [data-view-component="inputtext"] .validation-container input:focus,
.bodyContainer [data-view-component="inputtext"] .validation-container input:active {
	width: 100%;
	height: 40px;
    background-color: transparent;
    border-radius: 0;
    font-size: 15px;
    line-height: 18px;
    -webkit-text-fill-color: #ffffff;
    -webkit-background-clip: text;
    color: #ffffff;
    letter-spacing: 0.4px;
    border: 0 none;
    padding: 0;
    border-bottom: 1px solid #ffffff;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}
@-moz-document url-prefix() {
  	input[type="text"]::-moz-placeholder, input[type="text"]:hover::-moz-placeholder,
  	input[type="text"]:focus::-moz-placeholder, input[type="text"]:active::-moz-placeholder,
   	input[type="search"]::-moz-placeholder, input[type="password"]::-moz-placeholder,
    input[type="password"]:hover::-moz-placeholder, input[type="password"]:focus::-moz-placeholder,
    input[type="password"]:active::-moz-placeholder {
        color: #ffffff;
	}
}
.bodyContainer .btn-action-primary {
	font-weight: normal;
	border-radius: 3px;
	box-shadow: none;
	height: auto;
	transition: background 0.25s ease-in-out;
	background: #007ead;
}
.bodyContainer .btn-action-primary:hover, .bodyContainer .btn-action-primary:active, .bodyContainer .btn-action-primary:focus {
    background: #0095c8;
    box-shadow: none;
}
.bodyContainer .btn-action-primary .button-inner {
	padding: 17px 20px;
	min-width: 100px;
}
.bodyContainer .btn-action-primary.disabled {
    color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: none;
    margin-right: 20px;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}
.registerBoxWrapper .btn-action-primary {
	font-weight: normal;
	color: #7bdbff;
	border: 1px solid #7bdbff;
	border-radius: 3px;
	box-shadow: none;
	display: block;
	height: auto;
	margin: 0;
	transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
	background: transparent;
}
.registerBoxWrapper .btn-action-primary:hover, .registerBoxWrapper .btn-action-primary:active, .registerBoxWrapper .btn-action-primary:focus {
	color: #fff;
    background: #00afd7;
	border: 1px solid #00afd7;
    box-shadow: none;
}
.registerBoxWrapper .btn-action-primary .button-inner {
	padding: 16px 20px;
	min-width: 100px;
	display: block;
}
.registerBoxWrapper .btn-action-primary.disabled {
    color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: none;
    margin-right: 20px;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}
.bodyContainer .btn-action-tertiary .label-content {
	color: #52d2fe;
	line-height: 20px;
	font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,0);
}
.bodyContainer .btn-action-tertiary:hover .label-content, .bodyContainer .btn-action-tertiary:focus .label-content,
.bodyContainer .btn-action-tertiary:active .label-content {
	color: #52d2fe;
}
.bodyContainer .btn-action-tertiary:hover .icon {
	color: #ffffff;
}
.bodyContainer .btn-action-tertiary.registrationCancelBtn .label-content, .bodyContainer .btn-action-tertiary.registrationCancelBtn .label-content:hover,
.bodyContainer .btn-action-tertiary.registrationCancelBtn .label-content:focus, .bodyContainer .btn-action-tertiary.registrationCancelBtn .label-content:active,
.bodyContainer .btn-action-tertiary.forgotPasswordCancelBtn .label-content, .bodyContainer .btn-action-tertiary.forgotPasswordCancelBtn .label-content:hover,
.bodyContainer .btn-action-tertiary.forgotPasswordCancelBtn .label-content:active, .bodyContainer .btn-action-tertiary.forgotPasswordCancelBtn .label-content:focus,
.bodyContainer .btn-action-tertiary.forgotPasswordStepTwoCancelBtn .label-content, .bodyContainer .btn-action-tertiary.forgotPasswordStepTwoCancelBtn .label-content:hover,
.bodyContainer .btn-action-tertiary.forgotPasswordStepTwoCancelBtn .label-content:active, .bodyContainer .btn-action-tertiary.forgotPasswordStepTwoCancelBtn .label-content:focus,
.bodyContainer .btn-action-tertiary.tempPasswordCancelBtn .label-content, .bodyContainer .btn-action-tertiary.tempPasswordCancelBtn .label-content:hover,
.bodyContainer .btn-action-tertiary.tempPasswordCancelBtn .label-content:active, .bodyContainer .btn-action-tertiary.tempPasswordCancelBtn .label-content:focus,
.bodyContainer .btn-action-tertiary.verifyCancelBtn .label-content, .bodyContainer .btn-action-tertiary.verifyCancelBtn .label-content:hover,
.bodyContainer .btn-action-tertiary.verifyCancelBtn .label-content:focus, .bodyContainer .btn-action-tertiary.verifyCancelBtn .label-content:active{
	color: #ffffff;
	margin-right: 10px;
}
.bodyContainer .btn-action-tertiary.registrationCancelBtn .icon-wrapper, .bodyContainer .btn-action-tertiary.registrationCancelBtn .icon-wrapper:hover,
.bodyContainer .btn-action-tertiary.forgotPasswordCancelBtn .icon-wrapper, .bodyContainer .btn-action-tertiary.forgotPasswordCancelBtn .icon-wrapper:hover,
.bodyContainer .btn-action-tertiary.forgotPasswordStepTwoCancelBtn .icon-wrapper, .bodyContainer .btn-action-tertiary.forgotPasswordStepTwoCancelBtn .icon-wrapper:hover,
.bodyContainer .btn-action-tertiary.tempPasswordCancelBtn .icon-wrapper, .bodyContainer .btn-action-tertiary.tempPasswordCancelBtn .icon-wrapper:hover,
 .bodyContainer .btn-action-tertiary.verifyCancelBtn .icon-wrapper, .bodyContainer .btn-action-tertiary.verifyCancelBtn .icon-wrapper:hover {
	color: #ffffff;
}
.bodyContainer .btn-action-tertiary .label-content:hover {
	color: #52d2fe;
	text-decoration: none;
    border-bottom: 1px solid #00AFD7;
}
.forgotusername-contact {
	font-size: 14px;
	line-height: 18px;
}
.sms-label {
	font-size: 15px;
	margin-bottom: 13px;
}
.bodyContainer .heading-seven {
	margin: 30px 0 15px 0;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0.4px;
}
#postcode{
	width:43%;
}
#passwordResetPostcode {
	width:83%;
}
.smsCodeWrapContainer {
	display: inline-block;
}
.smsCodeWrap .validation-container input,
.smsCodeWrap .validation-container input:hover, .smsCodeWrap .validation-container input:focus {
	margin-bottom:12px;
	width: 250px;
}
.jq-appendErrorAfter.smsCodeWrap {
	width: 75%;
}
.smsCodeBody {
	position: relative;
}
#smsCode {
    width: 251px;
}
.getSMSInput {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.smsCodeShow {
    visibility: visible;
    opacity: 1;
    transition-delay: .4s;
}
.verifyCancelBtn {
    position: relative;
    margin-top: -80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
	align-items: center;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.35s cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition: all 0.35s cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition: all 0.35s cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
.verifyCancelBtnMove {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.35s cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition: all 0.35s cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition: all 0.35s cubic-bezier(0.445, 0.050, 0.550, 0.950);
    margin-top: 0px;
}

.registrationCancelBtn.disabled {
    color: #707070;
	pointer-events: none;
    cursor: default;
}
.registrationCancelBtn .label-content:hover,
.forgotPasswordCancelBtn .label-content:hover{
    border-bottom: 1px solid rgba(0,0,0,0) !important;
}
.smsNumberMessage {
	border: solid 1px rgba(255, 255, 255, 0.2);
	background: rgba(255, 255, 255, 0.1);
	border-radius: 3px;
	width: 361px;
	height: 76px;
	color: #ffffff;
	font-size: 13px;
	line-height: 16px;
	padding: 20px;
	position: absolute;
    bottom: 40px;
    left: 280px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.smsNumberMessageShow {
    visibility: visible;
    opacity: 1;
    transition-delay: .4s;
}
.mobileIconWrap {
	float:left;
	color: #ffffff;
    padding: 6px 15px 0 0;
}
.jq-forgottenpasswordTryAgain, .jq-RegisterTryAgain {
    color: #52d2fe;
}
.jq-forgottenpasswordTryAgain:hover,
.jq-RegisterTryAgain:hover {
	color: #52d2fe;
    border-bottom: 1px solid #00AFD7;
}
.logoutDisplay .header-statement.heading-two {
	line-height: 40px;
}
.notificationPanel {
	float: right;
 	position: absolute;
	bottom: 81px;
    right: 320px;
	width: 265px;
	margin: 30px 20px 0 0;
}
#jq-register .notificationPanel {
	bottom: 30px;
}
.outageNotificationWrapper, .registerOutageNotificationWrapper, .registerBoxWrapper {
    padding: 16px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
	margin-bottom: 10px;
}
.outageNotificationWrapper, .registerOutageNotificationWrapper {
	width: 600px;
    margin: 0 auto 50px;
}
.outageNotificationWrapper .outageHeading .icon-notification-fail, .registerOutageNotificationWrapper .outageHeading .icon-notification-fail {
	padding: 0;
    color: #ffffff;
    margin-right: 10px;
}
.outageNotificationWrapper .outageHeading .headingText, .registerOutageNotificationWrapper .outageHeading .headingText {
	font-weight: bold;
}
.outageNotificationWrapper .outageMessage, .registerOutageNotificationWrapper .outageMessage {
    font-size: 14px;
    line-height: 18px;
    padding-top: 10px;
}
.registerBoxWrapper-title {
	font-weight: bold;
	margin-bottom: 10px;
}
.registerBoxWrapper-text {
	margin-bottom: 20px;
}

.jq-FormErrorMessage .response-message .message, .eamDownMessageWrapper .response-message .message {
	padding-top:0px;
}
.bodyContainer .message a, .bodyContainer .message a:hover, .bodyContainer .message a:focus, .bodyContainer .message a:visited, .bodyContainer .infoMessage p {
	color: #007ead;
	text-decoration:none;
}
.bodyContainer .response-message .message {
	padding-left:15px;
	font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
}
.bodyContainer .response-message .message p {
	margin-bottom: 0;
}
.doNotContainer {
	background: rgba(255, 255, 255, 0.1);
    float: right;
    width: 365px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    position: absolute;
    left: 95%;
}
.doNotContainer h5.heading-six {
	font-size: 15px;
	line-height:18px;
	font-weight: bold;
	color: #ffffff;
}
.doNotContainer .unordered-list {
	margin-left: 18px;
    font-size: 13px;
    line-height: 16px;
    list-style-type: disc;
}
.doNotContainer .unordered-list li {
	padding-bottom:15px;
}
.doNotContainer p {
	padding: 10px 0px 0 0px;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
    margin-bottom: 0;
}
.bodyContainer div[data-view-component="button"].view-terhref {
	display: inline-block;
	margin-right: 0;
}
.bubbleContainer {
    position: relative;
    min-height: 200px;
    max-width: 270px;
}
.helpToolBox {
  	background: #fff;
  	padding: 20px 20px 35px 20px;
    border: 1px solid #e5e5e5;
  	z-index: 10000;
  	-webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.18);
	box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.18);
  	border-radius:5px;
  	max-width: 270px;
}
.helpToolBox .heading-ten {
	line-height: 20px;
    color: #007ead;
}
.helpToolBox .sub-heading {
	color: #545454;
}
ul.helpBox {
	padding: 10px 0 15px 0;
}
.helpToolBox li {
  	padding: 5px 0 0 0;
  	line-height: 15px;
  	font-size: 14px;
  	line-height: 20px;
  	color: #545454;
  	letter-spacing: -0.2px;
}
.helpToolBox li span {
    display: inline-block;
    padding-left: 7px;
}
.helpToolBox .iconArrowHelpLeft, .helpToolBox .iconArrowHelpLeftModRegPageTwo {
	width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #ffffff;
}
.iconArrowHelpLeft, .iconArrowHelpLeftModRegPageTwo {
  	left:267px;
  	top:100px !important;
}
.helpToolBox li em, .helpBox .iconbullet {
	padding-top:0px;
	margin-top:0px;
	font-size: 15px;
}
.helpToolBox.helpToolBoxPos1, .helpToolBox.helpToolBoxPos2, .helpToolBox.helpToolBoxPos3 {
 	position: absolute;
  	top: -90px;
  	left:-305px;
}
.createpassword .validation-container .icon-notification-success, .createusername .validation-container .icon-notification-success,
.confirmpassword .validation-container .icon-notification-success, .jq-registerContainer .validation-container .icon-notification-success  {
 	position: absolute;
	bottom: 12px;
	left: 90%;
	color: #ffffff;
}
.bubbleContainer .icon-notification-success {
	color: #007ead;
	position:relative;
	top:3px;
}
.bodyContainer .icon-support-information {
    position:relative;
    top:10px;
}
.bodyContainer .iconbullet:before {
	content: "\e03f";
	font-family:'btfinicons';
	color: #007ead;
}
.jq-getSMSCodeButton .iconWLoader {
	margin: 0;
	position: inherit;
}
.jq-getSMSCodeButton .icon-wrapper {
	margin-left: 20px;
}
.jq-FormErrorMessage .noticeBoxWrapper {
    width: 850px;
    margin: 0 auto;
    background: #fff6f5;
    border: 1px solid #ffcfca;
    border-radius: 6px;
    padding: 20px;
}
.customFormError {
	background: transparent;
    border: 0 none;
    width: 100%;
    padding: 0;
    margin: 15px 0;
}
.bodyContainer .noticeBox .noticeBoxText {
    margin: 10px 10px 0px 0px;
}
.bodyContainer .noticeBox .noticeBoxText p {
    font-weight: normal;
}
#jq-logon, .jq-passwordResetStepOne, .jq-registerStepOne, .jq-registerStepTwo, .jq-passwordResetStepTwo, #jq-logout {
	position:relative;
	width: 320px;
	display: inline-block;
}
div[data-view-component="button"].logoutSigninButton {
	margin-bottom:0 ;
}
.jq-adviserTermsCondWrapper .formLabelCheckBox {
	font-size: 13px;
}
.jq-adviserTermsCondWrapper a.text-link, .jq-adviserTermsCondWrapper a.text-link:hover {
	color: #52d2fe;
    border-bottom: 1px solid #52d2fe;
}
/* adviser Terms and Condition checkbox styling */
.jq-adviserTermsCondWrapper [type="checkbox"]:not(:checked) + label,
.jq-adviserTermsCondWrapper [type="checkbox"]:checked + label {
  	position: relative;
  	padding-left: 35px;
  	cursor: pointer;
}
.jq-adviserTermsCondWrapper [type="checkbox"]:not(:checked) + label:before,
.jq-adviserTermsCondWrapper [type="checkbox"]:checked + label:before {
  	content: '';
  	position: absolute;
  	left:0;
  	top: 2px;
  	width: 18px;
  	height: 18px;
  	border: 1px solid rgba(255, 255, 255, 0.2);
  	background: rgba(255, 255, 255, 0.1);
  	border-radius: 3px;
}
.jq-adviserTermsCondWrapper [type="checkbox"]:not(:checked) + label:after,
.jq-adviserTermsCondWrapper [type="checkbox"]:checked + label:after {
  	content: '\2713';
  	position: absolute;
  	top: 1px;
  	left: 0px;
  	font-size: 18px;
  	line-height: 0.8;
  	color: #ffffff;
  	background: #007ead;
  	border: 1px solid #007ead;
  	transition: all .2s;
  	border-radius: 3px;
  	padding: 3px;
}
.jq-adviserTermsCondWrapper [type="checkbox"]:not(:checked) + label:after {
  	opacity: 0;
  	transform: scale(0);
}
.jq-adviserTermsCondWrapper [type="checkbox"]:checked + label:after {
  	opacity: 1;
  	transform: scale(1);
}
.createpassword .validation-container, .createusername .validation-container, .confirmpassword .validation-container, .registrationSuccess .validation-container {
	position:relative;
}
#jq-logon .jq-logonForm, .jq-passwordResetStepOne .jq-passwordResetStepOneForm, .jq-passwordResetStepTwoForm, .jq-registerStepOne .jq-registerStepOneForm, #jq-logout > div,
.jq-registerStepTwo .jq-registerStepTwoForm {
	padding:0 20px;
	border-left: 1px solid #ffffff;
	transition: all 0.7s linear;
	right: -60px;
	float:left;
	width: 100%;
}
.bodyContainer .formFieldMessageError {
	font-weight:normal;
	font-size:14px;
	line-height: 18px;
	color: #ffda94;
}
.bodyContainer .view-messagealert_2.noticeBox.warningBox, .bodyContainer .view-messagealert_2.noticeBox.successBox, .bodyContainer .view-messagealert_2.noticeBox.informationBox {
	width: 600px;
	margin: 15px auto;
	border: 1px solid #ffcfca;
	border-radius: 6px;
	padding: 20px;
	background: #fff6f5;
}
.view-messagealert_2.noticeBox.informationBox span {
    color: #FFF;
}
.clearBoth {
	clear:both;
}
.jq-FormErrorMessage span.noticeDescTxt {
	font-size: 14px;
	font-weight:normal;
}
/*****new login/rego refactor css ends ****/
.accountAppStatus {
	border-top: 2px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	padding: 8px;
	margin-top:-20px
}
.statusTableContainer {
	width:786px;
 	height:900px;
}
.textColorContainer {
	padding:80px;
	margin:auto 0;
	color:#ffffff;
}
.colorContainer {
	height:600px;
	width:800px;
	background-color:#F2CFE3;
	margin-bottom:100px;
}
.content-shift-left {
	margin-left:50px;
}
.whiteLabeltxt {
	color:#ffffff;
	width:370px;
	background-color:#F2CFE3;
	padding: 16px 8px 0 8px;
}
.investorAvokaForm .layoutContainer {
	width: auto;
	margin: 0;
}
.placementContainer {
	height:62px;
	border-bottom:2px solid #d9d9d9;
}
.floatRight {
	float:right;
}
.floatLeft {
	float:left;
}
.signOutWrap {
	padding: 20px 120px 0 20px;
	border-left: 1px solid #d9d9d9;
}
.logOutWrap {
	padding:20px 20px 0 0;
}
.bodyContainer .icon-primary {
	color: #e97300;
}
.jq-notRegisteredTooltip, .jq-primaryContactTooltip {
	position: absolute;
	bottom: 34px;
	left: -60px;
}
.statusTooltip {
	background: #454545;
	padding: 15px 20px 15px 20px;
	width: 140px;
	z-index: 10000;
	-webkit-box-shadow:1px 1px 15px 0px #e3e3e3;
	-moz-box-shadow:1px 1px 15px 0px #e3e3e3;
	box-shadow:1px 1px 15px 0px #e3e3e3;
	border-radius: 4px;
	color: #fff;
	text-align:center;
}
.statusTooltipArrow {
	background: url("../images/status-arrow.png") no-repeat;
	position: absolute;
	right: 64px;
	top: 44px;
	width: 15px;
	height: 10px;
}
.termsTop {
	margin-top: 50px;
	border-top: 2px solid #d4d4d4;
}
.bodyContainer .message {
	border: none;
	background: #fff6f5;
	padding: 0;
}
.bodyContainer .icon-container.default {
	background: #e62615;
}
.bodyContainer .icon-container.information {
    background: #007ead;
}
.bodyContainer .iconWLoader {
	left:35px;
	position: inherit;
}
.bodyContainer .btn-action-tertiary.disabled .label-content, .bodyContainer .btn-action-tertiary.disabled .icon {
	color: #00263E;
}
.bodyContainer .iconHelpContainer {
	position: absolute;
}
#postCodeHelp  {
	left: 120px;
	top: 14px;
}
#smsCodeHelp {
	left: 200px;
	top: 0;
}
.bodyContainer .iconHelpContainer .icon-support-help {
	cursor: pointer;
}
.bodyContainer .inlineHelpTooltip {
	background: #ffffff;
  	padding: 15px;
    border: 1px solid #e5e5e5;
  	z-index: 999999;
  	-webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.18);
	box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.18);
  	border-radius: 5px;
  	width: 230px;
  	position: absolute;
    top: -60px;
    right: 20px;
}
.bodyContainer #smsCodeHelp .inlineHelpTooltip, .bodyContainer #postCodeHelp .inlineHelpTooltip {
    top: -35px;
    right: -245px;
}
.bodyContainer .inlineHelpTooltip .inlineHelpTooltipArrow {
	width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #ffffff;
    top: 30px;
    left: 228px;
    position: absolute;
}
.bodyContainer #smsCodeHelp .inlineHelpTooltip .inlineHelpTooltipArrow, .bodyContainer #postCodeHelp .inlineHelpTooltip .inlineHelpTooltipArrow {
    border-left: 0 none;
    border-right: 12px solid #ffffff;
    left: -10px;
}
.bodyContainer .inlineHelpTooltip .helpContent {
	font-size: 14px;
	line-height: 20px;
	color: #545454;
}
.registrationCodeWrap {
	position: relative;
}
.bodyContainer .warningBox {
    background: none;
    border: none;
}
.bodyContainer .noticeBox {
    padding: 0;
    margin: 0;
}
.liveperson-chat-button {
    background: transparent url(../images/btn-chat.svg) no-repeat top left;
    width: 166px;
    height: 40px;
    cursor: pointer;
    position: fixed;
}
.liveperson-button-wrapper {
	position: fixed;
    bottom: 30%;
    right: -117px;
    width: 215px;
    height: 140px;
    cursor: pointer;
    top: 70%;
    margin: auto 0;
    z-index: $zIndex-9;
    padding: 50px;
    -webkit-transition: all 0.5s ease;
  	-moz-transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	-ms-transition: all 0.5s ease;
  	transition: all 0.5s ease;
}
.liveperson-button-wrapper:hover {
	right: 0;
}
legend.lp_question_label {
    text-indent: inherit;
}
.lp_radiobutton_wrapper input[type="radio"] {
    display: inline-block;
}
a:focus, input:focus, select:focus, textarea:focus, formBlockContainer :focus, ui-datepicker :focus {
    outline: none !important;
}
input:focus {
	border-bottom: 1px solid #7bdbff !important;
}