/* Content of SASS File
/* Project: CashHub
/* Created by CB
----------------------------------------------------------*/
/* C0 Import files
------------------------------------------------------------*/
/*Core stuff
-----------------------------------------------------------*/
#rootWrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

#root {
  margin: 0 auto;
  height: 100%; }

.mainContent, .sideContent {
  float: left; }

#ui-datepicker-div {
  display: none; }

/*Clear
-----------------------------------------------------------*/
.clear {
  clear: both;
  visibility: hidden;
  height: 0px;
  display: block; }

.clearFix:after {
  clear: both;
  content: ".";
  visibility: hidden;
  width: 100%;
  display: block;
  height: 0;
  line-height: 0; }

.clearFix {
  zoom: 1; }

/* Mixin Styles 
------------------------------------------------*/
/* Mixin for Form Fields */
/* @mixin labelAssist($labelAssist) {
    &:after{
		color: white;
    	content: '$contentValue';
    	@extend .normalFont;
    	background: silver;
    	@include blockPadding(0.3,0.8,0.3,0.8);
    	@extend .floatRight;
    	margin-bottom: 5px;
    	@include fontSize(1.3);
	}
}*/
/* Borders and Shadows global 
-----------------------------------------------------*/
.borderRadius, .formTextArea, .formSelectInput, .subPrimaryButton, .selectSearch, .ui-autocomplete, .selectOptionsInner, .ui-datepicker, .selectSlideOptions ul, .arrowBox {
  -webkit-border-radius: 0.4emrem;
  -moz-border-radius: 0.4emrem;
  border-radius: 0.4emrem; }

.roundBorderRadius, .closeButton {
  -webkit-border-radius: 100emrem;
  -moz-border-radius: 100emrem;
  border-radius: 100emrem; }

.shadow, #contentWrapper, .formTextArea, .formSelectInput, .primaryButton, .inactivePrimaryButton, .actionButton, .firstToggleButton, .middleToggleButton, .lastToggleButton, .activeSecondaryButton, .ui-tabs-active a, .selectSearch, .ui-autocomplete, .selectOptionsInner, .modalBox, .closeButton, .arrowBox {
  -moz-box-shadow: 0px 1px 2px #cfcfcf;
  -webkit-box-shadow: 0px 1px 2px #cfcfcf;
  box-shadow: 0px 1px 2px #cfcfcf; }

.glow, .formTextInput:focus, .dk_input:focus, .formSelectInput :focus {
  -moz-box-shadow: 0px 0px 10px 0px #b7d8e4;
  -webkit-box-shadow: 0px 0px 10px 0px #b7d8e4;
  box-shadow: 0px 0px 10px 0px #b7d8e4; }

.glowTop, .resultItem:hover, .filterContainer:hover {
  -moz-box-shadow: 0px -1px 5 px 0px #b7d8e4;
  -webkit-box-shadow: 0px -1px 5 px 0px #b7d8e4;
  box-shadow: 0px -1px 5 px 0px #b7d8e4; }

.firstShadow, #slidingSlider, .tableSlider {
  -moz-box-shadow: -2px 0px 2px #cfcfcf;
  -webkit-box-shadow: -2px 0px 2px #cfcfcf;
  box-shadow: -2px 0px 2px #cfcfcf; }

.lastShadow {
  -moz-box-shadow: 0px 2px 2px #cfcfcf;
  -webkit-box-shadow: 0px 2px 2px #cfcfcf;
  box-shadow: 0px 2px 2px #cfcfcf; }

.textShadow {
  -moz-box-shadow: -2px 0px 2px #cfcfcf;
  -webkit-box-shadow: -2px 0px 2px #cfcfcf;
  box-shadow: -2px 0px 2px #cfcfcf; }

.innerUpperShadow, .activeSecondaryButton, .ui-tabs-active a {
  -moz-box-shadow: inset 0px 2px 3px 0px #007cb1;
  -webkit-box-shadow: inset 0px 2px 3px 0px #007cb1;
  box-shadow: inset 0px 2px 3px 0px #007cb1; }

/* Styles
-----------------------------------------------*/
.floatLeft, .iconActionButton span, .iconActionButtonNeg span, .iconActionJointButton span, .modalHeader, .modalSubHeader, .modalHeaderDesc, .dataTableInfoBox {
  float: left; }

.toolBlock,
.floatRight,
.iconActionButton span:last-child,
.iconActionButtonNeg span:last-child,
.iconActionJointButton span:last-child {
  float: right !important; }

.iconHelp {
  float: none !important; }

.textAlignLeft {
  text-align: left; }

.textAlignRight {
  text-align: right; }

.verticalMiddle {
  vertical-align: middle; }

.buttonTextDecoration, .primaryButton, .inactivePrimaryButton, .subPrimaryButton, .actionButtonValue, .actionButton, .iconActionButton, .iconActionButtonNeg, .iconActionJointButton, .firstToggleButton, .middleToggleButton, .lastToggleButton {
  text-decoration: none; }
  .buttonTextDecoration:hover, .primaryButton:hover, .inactivePrimaryButton:hover, .subPrimaryButton:hover, .actionButtonValue:hover, .actionButton:hover, .iconActionButton:hover, .iconActionButtonNeg:hover, .iconActionJointButton:hover, .firstToggleButton:hover, .middleToggleButton:hover, .lastToggleButton:hover {
    text-decoration: underline; }

.firstToggleButton, .middleToggleButton, .lastToggleButton, .minusButton, .plusButton, .selectContainer a, .hover, .resultItem:hover, .filterContainer:hover, h5.name, .ui-autocomplete li a, .tablesorter-header, .ui-datepicker td, .selectSlideOptions ul, .cursor {
  cursor: pointer; }

.ui-datepicker td.ui-state-disabled:hover {
  cursor: default; }

.primarLogo, .minusButton, .plusButton, .iconHelp {
  text-indent: -99999px; }

.ui-loader,
.noDisplay {
  display: none !important; }

.noShow {
  display: none; }

.hidden, .ui-helper-hidden-accessible, caption {
  visibility: hidden; }

.block, .diverterLine, .contentBlock, .contentOutputLabel2, .formBlock, .formLabel, .formOutputLabel, .contentOutputLabel, .contentOutputCompLabel, .formFieldMessageError, .repeatEndDateWrapper .formFieldMessageError, .formFieldMessage, .tablePointer, .buttonSelect, .resultItem, .filterContainer, .ui-autocomplete li, .modalBG, .multiplePanelContent, .closeButton, .ajaxLine {
  display: block; }

.modalHeader, .modalSubHeader, .modalHeaderDesc, .dataTableInfo, .iconMagnify, .iconArrowDownFilled, .iconArrowDown {
  display: block; }

.inline {
  display: inline; }

.clearBoth, .contentBlock, form, .formBlock, .toolContainer, .icons, .pdfIcon, .printIcon, .emailIcon, .iconsSmall, .iconClose, .iconOpen, .iconPrintSmall, .iconEmailSmall, .iconPdfSmall, .iconTrash, .iconTrashNeg, .iconEdit, .iconEditNeg, .iconCloseNeg, .iconInfo, .iconFlagSmall, .iconSmallFail, .iconCalendar, .iconSuccess, .iconTime, .iconHelp, .buttonTextClear, .iconSmallCheck {
  clear: both; }

.transDetailHeader,
.inlineBlock,
.contentOutput2,
.contentOutput,
.contentOutputComp,
.contentFullOutput,
form,
.formBlock span,
.formLabelCheckBox,
.formCurreny,
.assistInputField,
.primaryButton,
.inactivePrimaryButton,
.actionButtonValue,
.actionButton,
.iconActionButton,
.iconActionButtonNeg,
.iconActionJointButton,
.iconActionButton span,
.iconActionButtonNeg span,
.iconActionJointButton span,
.dropdownSelect,
.firstToggleButton,
.middleToggleButton,
.lastToggleButton,
.thirdNavWrapper,
.thirdNavContainer,
h5.name,
.modalMessage em,
.unclearedTD,
.failedTD,
.textTransTable,
.icons,
.pdfIcon,
.printIcon,
.emailIcon,
.iconsSmall,
.iconClose,
.iconOpen,
.iconPrintSmall,
.iconEmailSmall,
.iconPdfSmall,
.iconTrash,
.iconTrashNeg,
.iconEdit,
.iconEditNeg,
.iconCloseNeg,
.iconInfo,
.iconFlagSmall,
.iconSmallFail,
.iconCalendar,
.iconSuccess,
.iconTime,
.iconHelp,
.buttonTextClear,
.iconSmallCheck,
.iconCheck,
.ui-datepicker-prev,
.ui-datepicker-next,
.ui-datepicker-title,
.smallWizard {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto; }

.absolute, .formCurreny, .payAnyoneSlider, .bpayPayeeSlider, .tablePointerWrapper, .tablePointer, .selectSearch, .ui-autocomplete, .modalClose, .modalMessage, .selectSlideOptions > ul > li:hover:after {
  position: absolute; }

.fixed {
  position: fixed; }

.relative, .sideContent, .formBlock, .inputWrapper, #slidingSlider, .dropdownSelect, .selectOptionsInner, .selectContainer, .selectToggle, .selectOpen, .dk_fouc select, .panelBox, .tableContent, .iconCalWrapper, .iconHelp {
  position: relative; }

.dataTableInfoBox {
  position: relative; }

.emphasis, .formLabel, h5.name, .closeButton, .ui-datepicker-title {
  font-weight: 600; }

.modalHeader, .modalSubHeader {
  font-weight: 600; }

.optional, .modalSubHeader {
  font-weight: 100; }

.italicFont, .labelNominee {
  font-style: italic; }

.diverterLine {
  border-bottom: 1px #999999 solid;
  float: left;
  width: 95%; }

.noWrap, .balanceTD, .debitTD,
.creditTD, .transactionDate {
  white-space: nowrap; }

a, a:focus, a:hover, a:active, em, p, span, div, th, td {
  outline: 1px; }

input::-moz-focus-inner {
  border: 1px; }

.setFirstGutter {
  margin-left: 10px; }

.setLastGutter {
  margin-right: 10px; }

.borderButton, .activeSecondaryButton, .ui-tabs-active a {
  border-color: #d6d6d6;
  border-style: solid;
  border-width: 1px; }

.upperCase, .textToUpperCase {
  text-transform: uppercase; }

.unSelect, .firstToggleButton, .middleToggleButton, .lastToggleButton {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none; }

.setOverFlow {
  overflow: hidden; }

.dataTableInfo {
  overflow: hidden; }

/* Font Sizes pre defined
------------------------------------*/
.smallFont {
  font-size: 1.2; }

/* Color Values
-----------------------------------*/
/* C1 HTML and Body 
------------------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  color: #5d5d5d;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f6f7; }

/* C2 Brand Layout Structure
------------------------------------------------------------*/
.headerContainer {
  height: 410px; }

#contentWrapper {
  background: white; }

/* C3 Branding Blocks 
-----------------------------------------------------------*/
.primarLogo {
  background: url("../images/sprite.png") no-repeat -84px -187px;
  display: block;
  height: 90px;
  width: 220px; }

/* C4 Content Blocks 
-----------------------------------------------------------*/
.contentBlock {
  float: left;
  width: 90%;
  margin: 25px 0px 25px 25px;
  margin: 2.5rem 0rem 2.5rem 2.5rem; }

.contentBlockContainer {
  margin: 15px 15px 15px 5rempx;
  margin: 1.5rem 1.5rem 1.5rem 0.5remrem; }

.contentOutputLabel {
  margin: 15px 5px 15px 0px;
  margin: 1.5rem 0.5rem 1.5rem 0rem; }

.contentOutputCompLabel {
  margin: 2px 5px 2px 0px;
  margin: 0.2rem 0.5rem 0.2rem 0rem; }

.contentOutputLabel2 {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 15px 15px 0px 0px;
  margin: 1.5rem 1.5rem 0rem 0rem;
  float: none; }

.contentOutput2 {
  margin: 5px 15px 15px 0px;
  margin: 0.5rem 1.5rem 1.5rem 0rem;
  font-size: 14px;
  font-size: 1.4rem; }

.contentOutput {
  margin: 15px 5px 15px 0px;
  margin: 1.5rem 0.5rem 1.5rem 0rem;
  float: left;
  font-size: 14px;
  font-size: 1.4rem; }

.contentOutputComp {
  margin: 2px 15px 2px 0px;
  margin: 0.2rem 1.5rem 0.2rem 0rem;
  font-size: 14px;
  font-size: 1.4rem; }

.contentFullOutput {
  margin: 15px 0px 15px 25px;
  margin: 1.5rem 0rem 1.5rem 2.5rem; }

/* C5 Form elements
-----------------------------------------------------------*/
form {
  margin: 15px 15px 15px 35px;
  margin: 1.5rem 1.5rem 1.5rem 3.5rem; }

.formBlockContainer {
  margin: 15px 15px 15px 0px;
  margin: 1.5rem 1.5rem 1.5rem 0rem; }

.sideContent form {
  margin: 15px 0px 15px 0px;
  margin: 1.5rem 0rem 1.5rem 0rem; }

.sideContent .formBlockContainer {
  margin: 15px 0px 15px 15px;
  margin: 1.5rem 0rem 1.5rem 1.5rem; }

.formBlock {
  float: left;
  margin: 15px 5px 15px 5px;
  margin: 1.5rem 0.5rem 1.5rem 0.5rem; }

.formLabel, .formLabelCheckBox {
  text-align: left;
  margin: 5px 0px 5px 0px;
  margin: 0.5rem 0rem 0.5rem 0rem;
  font-size: 14px;
  font-size: 1.4rem; }

input[type="checkbox"] {
  float: left;
  margin: 5px 5px 5px 0px;
  margin: 0.5rem 0.5rem 0.5rem 0rem; }

.formLabel {
  float: none; }

.formOutputLabel, .contentOutputLabel, .contentOutputCompLabel {
  float: left;
  font-size: 14px;
  font-size: 1.4rem; }

.labelNominee {
  clear: both;
  font-weight: normal;
  font-family: Georgia; }

.formOutput {
  text-align: left;
  margin: 0px 5px 0px 0px;
  margin: 0rem 0.5rem 0rem 0rem;
  font-size: 14px;
  font-size: 1.4rem; }

.formTextInput, .dk_input {
  border-color: #d6d6d6;
  border-width: 1px;
  border-style: solid;
  height: 39px;
  padding: 0px 0px 0px 17px;
  padding: 0rem 0rem 0rem 1.7rem;
  -webkit-border-radius: 0rem;
  -moz-border-radius: 0rem;
  border-radius: 0rem;
  font-size: 14px;
  font-size: 1.4rem;
  color: #5d5d5d; }

.formTxtInputSearch {
  text-indent: 25px; }

.formTxtInputAmount {
  text-indent: 12.5px; }

.formTextArea {
  height: 2.2em;
  padding: 0; }

.formFieldError {
  border: 1px solid #faacac;
  background: #fef8ec; }

.formFieldMessageError {
  font-style: normal;
  clear: left;
  clear: both;
  color: #d3081c;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 8px 0px 0px 0px;
  margin: 0.8rem 0rem 0rem 0rem;
  float: none; }

.repeatEndDateWrapper {
  width: 70%; }

.repeatEndDateWrapper .formFieldMessageError {
  margin-left: 15px !important; }

.formFieldMessage {
  font-style: normal;
  clear: left;
  clear: both;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0.2em 0 0;
  float: none; }

.formSelectInput {
  font-size: 14px;
  font-size: 1.4rem; }

.optional {
  color: #5d5d5d;
  font-size: 14px;
  font-size: 1.4rem;
  font-style: normal;
  float: right;
  margin: 0 0.2em 0 0; }

.formCurreny {
  position: absolute;
  top: 38px;
  left: 0.5em;
  font-size: 14px;
  font-size: 1.4rem;
  width: 15px;
  text-align: center; }

.formBoxSpacing {
  margin: 10px 0; }

.assistInputField {
  vertical-align: top;
  margin: 0.5rem 1rem; }

.getSMSInput {
  margin: 0px 0px 0px 10px;
  margin: 0rem 0rem 0rem 1rem; }

#repeatEndDate {
  margin: 0px 0px 0px 15px;
  margin: 0rem 0rem 0rem 1.5rem; }

/* C6 Slider Elements
---------------------------------------*/
#slidingSlider {
  background: url("../images/sliderBG.png") repeat #f9fafb;
  width: 100%;
  border-left: 1px solid #d6d6d6; }

.tableFixedContainer {
  top: 0;
  margin-left: 0;
  position: absolute; }

.tableSlider {
  position: absolute;
  right: 0px;
  background: url("../images/sliderBG.png") repeat #f9fafb;
  min-height: 900px;
  height: auto !important; }

#slider {
  position: absolute;
  top: 0;
  height: 100%; }

#slider .toolContainer {
  margin: 0; }

.sliderContent {
  background: white; }

.sliderContent .toolContainer li {
  margin: 25px 5px 25px 5px;
  margin: 2.5rem 0.5rem 2.5rem 0.5rem; }

/* C7 Transaction elements 
-----------------------------------------------------------*/
.transactionInfoPanel {
  overflow: hidden; }

.transAmount {
  font-size: 20px;
  font-size: 2rem; }

.descriptionHeader {
  font-size: 14px;
  font-size: 1.4rem;
  word-break: break-all; }

.transDetailHeader {
  font-family: Georgia;
  margin: 40px 10px 0px 25px;
  margin: 4rem 1rem 0rem 2.5rem;
  font-size: 30px;
  font-size: 3rem;
  width: 90%; }

.tablePointerWrapper {
  width: 1px;
  height: 1px; }

.tablePointer {
  background: url("../images/arrowPointer.png") no-repeat center center;
  width: 17px;
  height: 33px;
  z-index: 200;
  /*	@extend .noShow;*/ }

.waveBg {
  background: url("../images/wavebg.png") repeat-x;
  position: absolute;
  width: 100%; }

.transactionInfoPanel .transactOutput {
  margin: 5px 0px 5px 0px;
  margin: 0.5rem 0rem 0.5rem 0rem; }

.transactionInfoPanel .transactLabel {
  margin: 5px 5px 0px 0px;
  margin: 0.5rem 0.5rem 0rem 0rem; }

.balanceTD {
  padding: 0px 10px 0px 0px;
  padding: 0rem 1rem 0rem 0rem; }

.transactionDate {
  width: 10%; }

.sidePanelContentOutput {
  width: 60%; }

.transactionDescription {
  width: 30%; }

/* C8 Tools
----------------------------------------------------------*/
.toolContainer {
  margin: 0 0 0 125px; }

.toolContainer li {
  float: left;
  margin: 25px 25px 25px 25px;
  margin: 2.5rem 2.5rem 2.5rem 2.5rem;
  text-align: center; }

/* C9 Page Content
------------------------------------------------------*/
.contentTitle {
  color: #5d5d5d;
  font-size: 20px;
  font-size: 2rem;
  font-family: Georgia;
  margin: 0px 0px 0px 5px;
  margin: 0rem 0rem 0rem 0.5rem; }

.helpTitle {
  margin: 0px 0px 0px 15px;
  margin: 0rem 0rem 0rem 1.5rem; }

/* C10 Action Buttons and Links
-----------------------------------------------------------*/
.primaryButton, .inactivePrimaryButton {
  color: white;
  height: 40px;
  line-height: 40px;
  line-height: 4rem;
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0px 10px 0px 0px;
  margin: 0rem 1rem 0rem 0rem;
  background-color: #0095c8;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1aa0ce), to(#0095c8));
  background-image: -webkit-linear-gradient(top, #1aa0ce, #0095c8);
  background-image: -moz-linear-gradient(top, #1aa0ce, #0095c8);
  background-image: -ms-linear-gradient(top, #1aa0ce, #0095c8);
  background: linear-gradient(top, #0095c8);
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
  padding: 0px 50px 0px 50px;
  padding: 0rem 5rem 0rem 5rem; }

.primaryButton span, .inactivePrimaryButton span {
  text-shadow: black 50 0 2px 0; }

.inactivePrimaryButton {
  color: #f0f0f0;
  background: #CCC; }

.subPrimaryButton {
  color: #5d5d5d;
  line-height: 15empx;
  line-height: 1.5emrem;
  padding: 0.5em 1.5em;
  font-size: 14px;
  font-size: 1.4rem; }

.actionButtonValue, .actionButton, .iconActionButton, .iconActionButtonNeg, .iconActionJointButton {
  background-color: #f5f6f7;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#f5f6f7));
  background-image: -webkit-linear-gradient(top, white, #f5f6f7);
  background-image: -moz-linear-gradient(top, white, #f5f6f7);
  background-image: -ms-linear-gradient(top, white, #f5f6f7);
  background: linear-gradient(top, #f5f6f7);
  border-color: #d6d6d6;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  margin: 15px 0px 0px 0px;
  margin: 1.5rem 0rem 0rem 0rem; }
  .actionButtonValue:hover, .actionButton:hover, .iconActionButton:hover, .iconActionButtonNeg:hover, .iconActionJointButton:hover {
    background: white;
    -moz-box-shadow: 0px 0px 10px 0px #e4e4e4;
    -webkit-box-shadow: 0px 0px 10px 0px #e4e4e4;
    box-shadow: 0px 0px 10px 0px #e4e4e4; }

.primaryLink {
  color: #0778af;
  font-size: 14px;
  font-size: 1.4rem; }

.primaryLinkAlign {
  display: block;
  line-height: 37px;
  margin-top: 20px !important;
  margin-top: 1.5rem; }

/* New button style */
.actionButton {
  color: #5d5d5d;
  padding: 10px 15px 10px 15px;
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin: 0px 0px 0px 0px;
  margin: 0rem 0rem 0rem 0rem;
  font-size: 14px;
  font-size: 1.4rem; }
  .actionButton span {
    float: left; }

.iconActionButton, .iconActionButtonNeg, .iconActionJointButton {
  padding: 0px 0px 0px 0px;
  padding: 0rem 0rem 0rem 0rem;
  color: #5d5d5d; }
  .iconActionButton span, .iconActionButtonNeg span, .iconActionJointButton span {
    line-height: 37px;
    padding: 3px 25px 3px 25px;
    padding: 0.3rem 2.5rem 0.3rem 2.5rem; }
  .iconActionButton span:last-child, .iconActionButtonNeg span:last-child, .iconActionJointButton span:last-child {
    padding: 0px 0px 0px 3px;
    padding: 0rem 0rem 0rem 0.3rem;
    border-left: 1px solid #dddddd; }

.iconActionButtonNeg {
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  border-color: #139ccc;
  border-width: 1px;
  border-style: solid;
  background-color: #0095c8;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1aa0ce), to(#0095c8));
  background-image: -webkit-linear-gradient(top, #1aa0ce, #0095c8);
  background-image: -moz-linear-gradient(top, #1aa0ce, #0095c8);
  background-image: -ms-linear-gradient(top, #1aa0ce, #0095c8);
  background: linear-gradient(top, #0095c8);
  color: white; }
  .iconActionButtonNeg:hover {
    background: #0095c8;
    -moz-box-shadow: 0px 0px 10px 0px #e4e4e4;
    -webkit-box-shadow: 0px 0px 10px 0px #e4e4e4;
    box-shadow: 0px 0px 10px 0px #e4e4e4; }
  .iconActionButtonNeg span:last-child {
    padding: 0px 0px 0px 3px;
    padding: 0rem 0rem 0rem 0.3rem;
    border-left: none; }

.iconActionJointButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.buttonSelect {
  background: url("../images/iconsprite.png") no-repeat -217px 2px;
  width: 38px;
  height: 32px;
  position: absolute;
  top: 9px;
  right: 4px;
  padding: 0 !important; }

.dropdownSelect {
  background: url("../images/sprite.png") no-repeat right -189px;
  width: 38px;
  height: 32px;
  top: -8px;
  right: 40px;
  left: auto; }

                                     /* @media screen and (-webkit-min-device-pixel-ratio:0) {
.buttonSelect {
 	$formSelectHeightWebkit:31px;
 	height:$formSelectHeight;
 	height:$formSelectHeightWebkit;
}
body:nth-of-type(1) .buttonSelect {  /*Chrome Hack to behave nice
 	$formSelectHeightWebkit:32px;
	top: 35px;
 	height:$formSelectHeightWebkit;
}
}*/
.slidingButtonBG {
  background: url("../images/sliderBG.png") repeat #f9fafb;
  border-top-left-radius: 8em;
  border-bottom-left-radius: 8em;
  position: absolute;
  top: 18px;
  top: 18px;
  height: 60px;
  right: 0;
  width: 0;
  display: block; }

.toggleWidget {
  float: left;
  margin: 0px 0px 5px 5px;
  margin: 0rem 0rem 0.5rem 0.5rem; }

.toggleWidget li {
  float: left;
  display: inline; }

.firstToggleButton, .middleToggleButton, .lastToggleButton {
  font-size: 14px;
  font-size: 1.4rem;
  color: #5d5d5d;
  line-height: 15empx;
  line-height: 1.5emrem;
  padding: 10px 20px 10px 20px;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #f5f6f7;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#f5f6f7));
  background-image: -webkit-linear-gradient(top, white, #f5f6f7);
  background-image: -moz-linear-gradient(top, white, #f5f6f7);
  background-image: -ms-linear-gradient(top, white, #f5f6f7);
  background: linear-gradient(top, #f5f6f7); }

.firstToggleButton {
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  margin: 0px 0px 0px 0px;
  margin: 0rem 0rem 0rem 0rem; }

.lastToggleButton {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  margin: 0 0 0 0; }

.minusButton, .plusButton {
  display: inline-block;
  height: 16px;
  width: 16px; }

.plusButton {
  background: url("../images/iconsprite.png") no-repeat -393px -5px; }

.minusButton {
  background: url("../images/iconsprite.png") no-repeat -393px -35px; }

#repeatNumber {
  float: left;
  margin: 0px 0px 0px 5px;
  margin: 0rem 0rem 0rem 0.5rem;
  padding: 0px 7px 0px 7px;
  padding: 0rem 0.7rem 0rem 0.7rem; }

.activeSecondaryButton, .ui-tabs-active a {
  text-decoration: none;
  background: #139dcc;
  color: white; }

/* C11 Third Nav Container 
----------------------------------------------------*/
.thirdNavWrapper, .thirdNavContainer {
  float: left;
  font-size: 14px;
  font-size: 1.4rem; }

.thirdNavWrapper {
  margin: 0px 0px 0px 20px;
  margin: 0rem 0rem 0rem 2rem; }

.thirdNav, .thirdNavDiv, .textToUpperCase {
  float: left;
  margin: 0.3em; }

.thirdNav a {
  color: #5d5d5d; }
  .thirdNav a a.activeLink {
    color: #5d5d5d; }

/* C12 Misc
-----------------------------------------------------------*/
/* C13 Selects
-------------------------------------------------*/
.selectSearch, .ui-autocomplete {
  background: white;
  z-index: 120;
  padding: 0;
  min-height: 150px;
  top: 41px !important; }

.selectSearch .toggleWidget {
  margin: 4px 0px 5px 5px;
  margin: 0.4rem 0rem 0.5rem 0.5rem; }

.selectOptions {
  display: none;
  margin-top: 5px;
  position: absolute;
  right: 0;
  width: 100%; }

.selectOptionsInner {
  overflow: auto; }

.selectOptionsInner, .selectTouch .selectOptions {
  max-height: 120px; }

.selectOptionsInner {
  /*-moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      border-color: #8C8C8E #8C8C8E #999999;
      border-image: none;
      border-radius: 0 0 5px 5px;
      border-style: solid;
      border-width: 1px 1px 2px;
      color: #333333;
      text-shadow: 0 1px 0 #FFFFFF;*/
  background: white; }

.selectContainer:focus {
  outline: 0; }

.selectContainer a {
  text-decoration: none; }

.selectOpen {
  z-index: 10; }

.selectOptions {
  background: white; }

.selectOptions li:last-child a {
  border-bottom: none; }

.selectOptionsInner, .selectTouch .selectOptions {
  max-height: 120px; }

/******  End Theme ******/
/***** Critical to the continued enjoyment of working dropdowns ******/
.selectContainer {
  display: none;
  float: left; }

.selectContainer a {
  outline: 0;
  padding: 0.5em;
  font-size: 14px;
  font-size: 1.4rem; }

/*.selectContainer a.selectToggleButton {
 	@include blockPadding(0,0,0,0);
	@include blockMargin(0,0,0,-4.5);
	left:$smallInput - 10;
}
*/
/*.selectToggleButton{
	top:9px!important;	
}*/
.selectToggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1; }

.selectOpen .selectOptions {
  display: block; }

.selectOpen .selectLabel {
  color: inherit; }

.selectOptions {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: -1; }

.selectOptions a, .selectOptions a:link, .selectOptions a:visited {
  display: block; }

.selectOptionsInner {
  overflow: auto;
  top: 5px; }

.selectTouch .selectOptions {
  overflow: hidden;
  margin-top: 4px; }

.selectTouch .selectOptionsInner {
  max-height: none;
  overflow: visible; }

.dk_fouc select {
  top: -99999em;
  visibility: hidden; }

.resultItem, .filterContainer {
  float: left;
  width: 100%;
  border-bottom: 1px solid #f0f0f0; }
  .resultItem:hover, .filterContainer:hover {
    background-color: #f2fafc; }

.filterContainer {
  margin: 0.5em 0 0.8em baseSpacing; }
  .filterContainer:hover {
    background: none; }

h5.name {
  font-size: 14px;
  font-size: 1.4rem;
  padding: 1em; }

.selectDef {
  float: right;
  clear: right;
  padding: 1em; }

.selectDef dt {
  text-align: right;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0; }

h5.selectDataMessage {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0.9em;
  float: left; }

.ui-autocomplete li {
  float: left;
  clear: both;
  margin: 0.5em 0; }

.ui-autocomplete li a {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0 1em; }

/* C14 Styles 
------------------------------------------------*/
/* C15 Modal
-----------------------------------------------------------*/
.modalBox {
  background: white;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  border-radius: 0.6rem;
  min-height: 550px;
  height: auto !important;
  overflow: hidden;
  margin: 0px 0px 40px 0px;
  margin: 0rem 0rem 4rem 0rem; }

.modalForm fieldset,
.modalForm {
  margin: 0px 0px 0px 0px;
  margin: 0rem 0rem 0rem 0rem;
  width: 100%; }

.modalClose {
  top: 0.5em;
  right: 0.5em;
  background: url("../images/sprite.png") no-repeat -75px -6px;
  text-indent: -100000px;
  width: 22px;
  height: 22px; }

.modalBG {
  background: url("../images/macmodalBG.png") repeat scroll 50% 50% #747474;
  opacity: 0.8;
  filter: alpha(opacity=70);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 22px;
  height: 22px; }

.modalContent {
  width: 550px;
  margin: 40px auto;
  border-color: #d6d6d6;
  border-width: 1px;
  border-style: solid; }

.modalBanner {
  height: 110px;
  background: url("../images/sliderBG.png") repeat #f9fafb;
  margin: 0px 0px 0px 0px;
  margin: 0rem 0rem 0rem 0rem; }

.modalHeader {
  font-size: 20px;
  font-size: 2rem;
  font-family: Georgia;
  color: #5d5d5d;
  line-height: normal;
  margin: 30px 0px 0px 30px;
  margin: 3rem 0rem 0rem 3rem;
  clear: both;
  width: 90%; }

.modalSubHeader {
  font-family: Georgia;
  color: #5d5d5d;
  line-height: normal;
  margin: 3px 0px 0px 30px;
  margin: 0.3rem 0rem 0rem 3rem;
  width: 90%; }

.modalHeaderDesc {
  margin: 3px 0px 40px 30px;
  margin: 0.3rem 0rem 4rem 3rem;
  width: 90%; }

.modalMessage {
  font-size: 14px;
  font-size: 1.4rem;
  bottom: 5px; }

.modalMessage em {
  padding: 1em;
  font-style: normal; }

.panelBox {
  border-bottom: 1px #d6d6d6 solid;
  width: 100%;
  min-height: 110px;
  height: auto;
  float: left; }

.logonBusyDialog {
  min-height: 100px;
  height: 100px !important;
  float: left;
  width: 100%; }
  .logonBusyDialog .modalTitle {
    width: 90%;
    margin: 0 0 0 1rem;
    border-top: 0;
    text-indent: 0; }

.multiplePanelContent {
  float: left;
  width: gridWidth(6);
  margin: 20px 80px 0px 30px;
  margin: 2rem 8rem 0rem 3rem;
  padding: 10px 0px 10px 0px;
  padding: 1rem 0rem 1rem 0rem;
  width: 90%; }

.multiPanelHeader {
  margin: 10px 0px 10px 0px;
  margin: 1rem 0rem 1rem 0rem; }

.modalScollBox {
  overflow-y: scroll;
  height: 100px;
  width: 100%; }

.compressModal {
  @inlcude blockMargin(0,0,0,0); }

/* C10 Action Buttons and Links
-----------------------------------------------------------*/
/* C16 Tables 
--------------------------------------------------------*/
.tableContent {
  float: left; }

.tableContainer {
  margin: 50px 5px 50px 25px;
  margin: 5rem 0.5rem 5rem 2.5rem; }

.twoColPage {
  width: 50%;
  float: left; }

.transDetailHeader {
  float: left;
  width: auto; }

.toolBlock {
  /*	@include position(absolute, 10px 50px 0 0);*/
  margin: 20px 340px 0px 0px;
  margin: 2rem 34rem 0rem 0rem; }
  .toolBlock .toolContainer li {
    margin: 0px 5px 0px 5px;
    margin: 0rem 0.5rem 0rem 0.5rem; }

.dataTableRow {
  border-bottom: 1p solid #e5e5e5; }

.dataTableInfoBox {
  margin: 0px 0px 0px 0px;
  margin: 0rem 0rem 0rem 0rem;
  width: 100%; }

.dataTableInfo {
  height: 450px;
  background: url("../images/sliderBG.png") repeat #f9fafb; }

.dataTable {
  border-collapse: collapse;
  float: left;
  width: 100%; }

th.dataTableHeader {
  font-size: 12px;
  font-size: 1.2rem;
  height: 35px;
  height: 3.5rem;
  padding: 5px 8px 5px 8px;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  background: #5d5d5d;
  color: white;
  white-space: nowrap; }

th.sorter-false {
  cursor: default; }

td.dataTableCell {
  font-size: 14px;
  font-size: 1.4rem; }

.tablePointerArrow {
  background: url("../images/arrowDownBlue.png") no-repeat;
  position: absolute;
  top: -3px;
  right: 0px;
  left: 100px;
  display: block;
  width: 39px;
  height: 21px;
  z-index: 100; }

.dataTableRow {
  padding: 10px 10px 10px 10px;
  padding: 1rem 1rem 1rem 1rem;
  margin: 0px 0px 0px 0px;
  margin: 0rem 0rem 0rem 0rem;
  border-bottom: 2px solid white;
  height: 7.8rem;
  overflow: visible; }

.dataTableRowUncleared {
  background: #f2fafc; }

.dataTableRowFailed {
  background: #fef8ec; }

.dataTableRowActive, .dataTableRow:hover {
  background: #e5f4f9 !important; }

.dataTableRowOdd {
  background: #f8f8f8; }

.dataTableCell {
  overflow: hidden;
  line-height: 18px;
  line-height: 1.8rem;
  height: 45px;
  height: 4.5rem;
  height: auto;
  padding: 22px 8px 5px 8px;
  padding: 2.2rem 0.8rem 0.5rem 0.8rem;
  vertical-align: top; }

.numericAlign {
  text-align: right; }

.alphaAlign {
  text-align: left; }

.unclearedTD, .failedTD {
  padding: 1px 5px 1px 5px;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  margin: 3px 0px 3px 0px;
  margin: 0.3rem 0rem 0.3rem 0rem;
  background: #417693;
  color: white;
  font-style: normal;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  font-size: 12px;
  font-size: 1.2rem;
  width: 80px;
  text-align: left; }

.failedTD {
  background: #e56a54; }

.textTransTable {
  margin: 3px 0px 3px 10px;
  margin: 0.3rem 0rem 0.3rem 1rem; }

.tablesorter-headerAsc {
  /*Up*/ }

.tablesorter-headerDesc {
  /*Down*/ }

th.sorter-false {
  cursor: default; }

/* C17 Icons 
--------------------------------------------------------*/
.iconCalWrapper .iconActionButton, .iconCalWrapper .iconActionButtonNeg, .iconCalWrapper .iconActionJointButton {
  position: absolute;
  top: -15px;
  right: 0px; }

.icons, .pdfIcon, .printIcon, .emailIcon {
  float: left;
  width: 35px;
  height: 28px; }

.iconsSmall, .iconClose, .iconOpen, .iconPrintSmall, .iconEmailSmall, .iconPdfSmall, .iconTrash, .iconTrashNeg, .iconEdit, .iconEditNeg, .iconCloseNeg, .iconInfo, .iconFlagSmall, .iconSmallFail, .iconCalendar, .iconSuccess, .iconTime, .iconHelp, .buttonTextClear, .iconSmallCheck {
  float: left;
  width: 22px;
  height: 20px; }

.iconHolder {
  text-indent: 25px; }

.iconClose {
  background: url("../images/iconsprite.png") no-repeat -78px 3px; }

.iconOpen {
  background: url("../images/iconsprite.png") no-repeat -103px 5px; }

.iconOpen, .iconClose {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 100; }

.iconPrintSmall {
  background: url("../images/iconsprite.png") no-repeat 5px 7px;
  padding: 9.5px 9.5px 9.5px 9.5px;
  padding: 0.95rem 0.95rem 0.95rem 0.95rem; }

.iconEmailSmall {
  background: url("../images/iconsprite.png") no-repeat -31px 8px;
  padding: 9.5px 9.5px 9.5px 9.5px;
  padding: 0.95rem 0.95rem 0.95rem 0.95rem; }

.iconPdfSmall {
  background: url("../images/iconsprite.png") no-repeat -120px 6px;
  padding: 9.5px 9.5px 9.5px 9.5px;
  padding: 0.95rem 0.95rem 0.95rem 0.95rem; }

.iconTrash {
  background: url("../images/iconsprite.png") no-repeat 5px -58px;
  padding: 9.5px 9.5px 9.5px 9.5px;
  padding: 0.95rem 0.95rem 0.95rem 0.95rem; }

.iconTrashNeg {
  background: url("../images/iconsprite.png") no-repeat 5px -98px;
  padding: 9.5px 9.5px 9.5px 9.5px;
  padding: 0.95rem 0.95rem 0.95rem 0.95rem; }

.iconEdit {
  background: url("../images/iconsprite.png") no-repeat -32px -58px;
  padding: 9.5px 9.5px 9.5px 9.5px;
  padding: 0.95rem 0.95rem 0.95rem 0.95rem; }

.iconEditNeg {
  background: url("../images/iconsprite.png") no-repeat -32px -98px;
  padding: 9.5px 9.5px 9.5px 9.5px;
  padding: 0.95rem 0.95rem 0.95rem 0.95rem; }

.iconCloseNeg {
  background: url("../images/iconsprite.png") no-repeat -74px -98px;
  padding: 9.5px 9.5px 9.5px 9.5px;
  padding: 0.95rem 0.95rem 0.95rem 0.95rem; }

.iconInfo {
  background: url("../images/iconsprite.png") no-repeat -265px -35px; }

.iconFlagSmall {
  background: url("../images/iconsprite.png") no-repeat -43px -35px; }

.iconSmallFail {
  background: url("../images/sprite.png") no-repeat -419px -6px;
  margin: 5px; }

.iconPlus {
  background: url("../images/iconsprite.png") no-repeat -387px 5px;
  width: 25px; }

.iconButton, .iconPlus, .noIconButton {
  display: inline-block;
  height: 34px;
  float: left;
  margin: 0 0.5em 0 0; }

.iconCalendar {
  background: url("../images/iconsprite.png") no-repeat -158px 7px;
  padding: 9.5px 9.5px 9.5px 9.5px;
  padding: 0.95rem 0.95rem 0.95rem 0.95rem; }

.iconCalendarAddPos {
  position: absolute;
  top: -15px;
  right: 9px; }

.iconSuccess {
  background: url("../images/iconsprite.png") no-repeat -84px -36px; }

.iconTime {
  background: url("../images/iconsprite.png") no-repeat -7px -36px;
  height: 16px; }

.iconHelp {
  background: url("../images/iconsprite.png") no-repeat -305px -35px; }

.noIconButton {
  background: none; }

.buttonTextClear {
  background: white url("../images/iconsprite.png") no-repeat no-repeat -74px 0px;
  position: absolute;
  top: 12px;
  right: 40px;
  display: none; }

.closeButton {
  float: right;
  background: white;
  height: 1.5em;
  width: 1.5em;
  text-align: center;
  line-height: 1.5em;
  text-decoration: none;
  color: #d6d6d6;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0.5em; }

.iconCheck {
  background: url("../images/iconsprite.png") no-repeat -167px -28px;
  width: 22px;
  height: 26px;
  float: right;
  margin: 0 0 0 0; }

.iconSmallCheck {
  background: url("../images/iconsprite.png") no-repeat -205px -33px;
  margin: 5px; }

.iconMagnify {
  background: url("../images/iconsprite.png") no-repeat -294px -5px;
  height: 20px;
  width: 20px;
  position: absolute;
  position: absolute;
  top: 12px;
  right: 0px;
  bottom: 0px;
  left: 10px; }

.iconArrowDownFilled {
  background: url("../images/arrowDownFilled.png") no-repeat;
  height: 31px;
  width: 39px;
  position: absolute;
  right: 0px;
  bottom: -31px;
  left: 65px;
  z-index: 1000; }

.iconArrowDown {
  background: url("../images/arrowDown.png") no-repeat;
  height: 31px;
  width: 39px;
  position: absolute;
  right: 0px;
  bottom: -31px;
  left: 65px;
  z-index: 1000; }

/* SRI - Class was missing in the DesktopBadge but was in the DesktopBadge CSS */
.iconSelect {
  background: url("../images/sprite.png") no-repeat; }

.pdfIcon {
  background: url("../images/sprite.png") no-repeat -149px -3px; }

.printIcon {
  background: url("../images/sprite.png") no-repeat -252px -3px; }

.emailIcon {
  background: url("../images/sprite.png") no-repeat -302px -3px; }

.ajaxLine {
  background: url("../images/linearAjaxs.gif") repeat;
  width: 111px;
  height: 15px;
  text-align: center; }

/* Calendar 
-------------------------------------------------*/
.ui-datepicker {
  -moz-box-shadow: 0px 2px 10px #cfcfcf;
  -webkit-box-shadow: 0px 2px 10px #cfcfcf;
  box-shadow: 0px 2px 10px #cfcfcf;
  border-color: #d6d6d6;
  border-width: 1px;
  border-style: solid;
  padding: 1.2em;
  font-size: 14px;
  font-size: 1.4rem;
  background-color: white;
  width: 280px;
  z-index: 200; }
  .ui-datepicker .ui-datepicker-next {
    float: right; }
  .ui-datepicker .ui-datepicker-calendar {
    margin: 53px 25px 0px 15px;
    margin: 5.3rem 2.5rem 0rem 1.5rem; }
  .ui-datepicker .ui-state-default {
    font-size: 14px;
    font-size: 1.4rem;
    color: #5d5d5d;
    text-decoration: none; }
  .ui-datepicker .ui-datepicker-calendar thead {
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid; }
  .ui-datepicker td {
    text-align: center;
    background-color: white;
    padding: 9px 10px 10px 9px;
    padding: 0.9rem 1rem 1rem 0.9rem;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid; }
    .ui-datepicker td:hover {
      background-color: #0095c8; }
      .ui-datepicker td:hover a {
        color: white; }
  .ui-datepicker .ui-datepicker .ui-state-special {
    background-color: #e5f4f9; }
  .ui-datepicker .ui-datepicker-current-day {
    background: #0095c8; }
    .ui-datepicker .ui-datepicker-current-day a {
      color: white; }
  .ui-datepicker td.ui-state-disabled {
    background-color: #f6f7f7; }
    .ui-datepicker td.ui-state-disabled:hover {
      background-color: #f6f7f7; }
  .ui-datepicker .ui-state-disabled span {
    color: #d6d6d6; }
  .ui-datepicker .ui-datepicker-calendar th {
    background-color: #e3e3e3;
    color: #5d5d5d; }
  .ui-datepicker th span {
    font-size: 14px;
    font-size: 1.4rem; }

.ui-datepicker-header {
  width: 90%;
  margin: 0 auto; }

.ui-datepicker-title {
  margin: 0 auto;
  width: 194px;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  float: none; }

.ui-datepicker-month,
.ui-datepicker-year {
  /*	-webkit-appearance: button;
  */
  -webkit-border-radius: 2px;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  /*	-moz-appearance: button;
  */
  -moz-border-radius: 2px;
  -moz-padding-end: 20px;
  -moz-padding-start: 2px;
  -moz-user-select: none;
  -moz-appearance: window;
  -webkit-appearance: none;
  -moz-appearance: none !important;
  appearance: none;
  background: transparent;
  background-position: center right;
  background-repeat: no-repeat;
  border: 0px;
  color: #555;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px 5px 0px 5px;
  margin: 0rem 0.5rem 0rem 0.5rem; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .ui-datepicker-title {
    margin: 0 auto;
    width: 194px;
    text-align: center;
    font-size: 14px;
    font-size: 1.4rem;
    float: none; }

  .ui-datepicker-month,
  .ui-datepicker-year {
    background-image: url(../images/downArrowSmall.png);
    padding: 12px 16px 11px 16px;
    padding: 1.2rem 1.6rem 1.1rem 1.6rem; } }
.ui-datepicker-month {
  border-right: 1px solid #DDDDDD;
  padding: 11px 16px 11px 16px;
  padding: 1.1rem 1.6rem 1.1rem 1.6rem; }

.ui-datepicker-month > button {
  visibility: hidden; }

/*.ui-datepicker-month:after {
    content: "&#x25BC";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 60%;
    line-height: 30px;
    padding: 0 7px;
    background: #000;
    color: white;
   }
*/
.ui-datepicker-prev,
.ui-datepicker-next,
.ui-datepicker-title {
  border-color: #dddddd;
  border-width: 1px;
  border-style: solid; }

.ui-datepicker-title {
  position: absolute;
  top: 29px;
  right: 58px; }

.ui-datepicker-prev,
.ui-datepicker-next {
  padding: 15px 10px 15px 10px;
  padding: 1.5rem 1rem 1.5rem 1rem; }

.ui-datepicker-prev {
  position: absolute;
  top: 29px;
  right: 253px; }

.ui-datepicker-next {
  position: absolute;
  top: 29px;
  right: 31px; }

.uiTriangle, .ui-icon-circle-triangle-e, .ui-icon-circle-triangle-w {
  width: 6px;
  height: 10px;
  display: block;
  text-indent: -999999px; }

.ui-icon-circle-triangle-e {
  background: url("../images/iconsprite.png") no-repeat -363px -4px;
  float: right; }

.ui-icon-circle-triangle-w {
  background: url("../images/iconsprite.png") no-repeat -338px -4px;
  float: left; }

/* Accesibility 
-------------------------------------------------*/
/* SRI */
.selectSlideOptions {
  position: absolute;
  display: none;
  float: left;
  z-index: 120; }

.selectSlideOptions ul {
  border: 1px solid #c0c0c0;
  background: white;
  padding: 5px 10px;
  width: 150px; }

.selectSlideOptions li ul {
  position: absolute;
  left: 155px;
  display: none;
  width: 155px; }

.selectSlideOptions li {
  line-height: 22px;
  color: gray;
  font-weight: normal;
  list-style-type: none;
  background: none;
  font-size: 13px;
  font-size: 1.3rem;
  padding: 0px 5px 0px 5px;
  padding: 0rem 0.5rem 0rem 0.5rem;
  background-position: 0 right; }

.selectSlideOptions ul li:hover {
  font-weight: bold; }

.selectSlideOptions > ul > li:hover:after {
  content: '';
  background: url("../images/sprite.png") no-repeat -487px -245px;
  width: 6px;
  height: 17px;
  right: 24px; }

.selectSlideOptions ul li:hover ul {
  display: inline; }

/* Alerts & Messages
-----------------------------------------------------*/
.helpBoxTitle {
  padding: 0px 0px 0px 15px;
  padding: 0rem 0rem 0rem 1.5rem; }

.helpBox li p {
  font-size: 15px;
  font-size: 1.5rem;
  padding: 15px 15px 15px 15px;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  line-height: 1.5rem; }

.noticeBox {
  padding: 15px 15px 15px 15px;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  margin: 0px 0px 40px 0px;
  margin: 0rem 0rem 4rem 0rem;
  background: #f2fafc;
  border-color: #d6d6d6;
  border-width: 1px;
  border-style: solid; }

.messageBox {
  width: 300px;
  height: 200px;
  background-color: #ffffcb;
  margin: 30px 30px 30px 30px;
  margin: 3rem 3rem 3rem 3rem;
  float: right; }
  .messageBox .messageTitle {
    padding: 15px 15px 15px 15px;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem; }
  .messageBox p {
    padding: 5px 15px 5px 15px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem; }

.assistText {
  font-size: 12px;
  font-size: 1.2rem; }

.outside {
  margin: 13px 0 0 -5px; }

.checkInputPadding {
  padding-right: 3.5rem; }

.arrowBox {
  position: absolute;
  background: #eee;
  border: 1px solid #eee;
  padding: 1.5rem;
  width: 250px;
  width: 25rem;
  height: 100px;
  height: 10rem;
  font-size: 15px;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  height: auto; }

.arrowBox:after, .arrowBox:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrowBox:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #eee;
  border-width: 15px;
  top: 50%;
  margin-top: -15px; }

.arrowBox:before {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #eee;
  border-width: 21px;
  top: 50%;
  margin-top: -21px; }

.smallWizard {
  font-size: 14px;
  font-size: 1.4rem;
  float: right;
  color: #5d5d5d;
  font-weight: 100;
  margin: 5px 150px 0px 0px;
  margin: 0.5rem 15rem 0rem 0rem; }


.OpenTermDepositMonthly {
      
      display:none; 
    }