
/*## Calendar Icon Postioning for the icon
The calendar is constructed out of a wrapper and a postion element 

### Without arrow
	<span class="iconCalWrapper">
          <input type="text" value=""  class="formTextInput inputStyle1" data-calendar=".jq-depositDateCalendarPlaceHolder"  name="date" id="paymentDate" aria-required="true" aria-invalid="false">
          <a href="#" title="Date Picker" class="calendarPos">
             <em class="iconcalendar"></em>
          </a>
    </span>
	
### Width arrow
	<span class="iconCalWrapper">
          <input type="text" value=""  class="formTextInput inputStyle1" data-calendar=".jq-depositDateCalendarPlaceHolder"  name="date" id="paymentDate" aria-required="true" aria-invalid="false">
          <a href="#" title="Date Picker" class="calendarPos">
             <em class="iconcalendar"></em>
			 <em class="iconarrowfulldown"></em>
          </a>
    </span>
*/



/* ### Table Icons 
	<span class="unclearedTransactions">
	<em class="icontransfer">
		<span>Uncleared</span>
	</em>

*/

.expandedViewFull .iconiconcross{
	@include position(absolute, 40px 0 0 964px);	
	//@include fontSize(1.8);
}


.jq-accordionViewStatusOpen{
	overflow: visible!important;
}
.dataTableInfoPanel .iconiconcross{
	@include position(absolute, 30px 80px 0 0);	
	//@include fontSize(1.8);
}


/*## Date Picker


*/

.ui-datepicker {
	@include position(absolute, 68px 0 0 0px);	
}



.overlayViewContent{
		   background: none repeat scroll 0 0 #F4F4F4;
		   @include startBorder(1px, solid, #C8C8C8);
		   @include boxShadow(0 2px 1px 0 #E6E6E6 inset);
		   display:none;		   
		   /* @include blockPadding(0.2,0.2,0.2,0.2); */
		   @include blockPadding(2,0.2,0.2,0.2);
}
.overlayViewInnerContent{
    @include blockMargin(0,0,0,28);
}
.overlayInfo{
    @include blockMargin(0,0,0,23);
}
.overlayInfoMod1{
    @include blockMargin(0,0,0,26.9);
}
.overlayInfoTbl{
    width:100%;
    td{
        text-align:center;
        border-top:none !important;
    }
}

.displayBlock {
  display: block !important;
}
