$maskOne:url('../images/nameMask.png') no-repeat;
$maskTwo:url('../images/messageMask.png')no-repeat;
$maskThree:url('../images/approvedMask.png')no-repeat;
$maskFour:url('../images/messageMaskInv.png')no-repeat;
$maskFive:url('../images/adviserDetailMask.png')no-repeat;

.smokeBody{
  background: #FAFAFA;
  width:2000px;
  height: 96.2%;
  z-index: 10;
  @include position(fixed, 0px 0px 0px 80px);
  @include opacity(0.7);
  overflow: hidden;

}


// MAsks Magnifying


%maskBody{
  @include borderRadius(100);
  z-index: 50;
}

.maskOne{
 // @extend %maskBody;
  background: $maskOne;
  width: 163px;
  height: 118px;
  @include position(absolute, 0px 0 0 690px);
  z-index: 50;

}

.maskTwo{
  @extend %maskBody;
  background: $maskTwo;
  width: 210px;
  height: 211px;
  @include position(absolute, 350px 0 0 212px);

}

.maskThree{
  @extend %maskBody;
  background: $maskThree;
  width: 228px;
  height: 228px;
  @include position(absolute, 750px 0 0 90px);

}

.maskFour{
  @extend %maskBody;
  background: $maskFour;
  width: 207px;
  height: 207px;
  @include position(absolute, -457px 0 0 -461px);

}

.maskFive{
  //@extend %maskBody;
  background: $maskFive;
  width: 179px;
  height: 125px;
  @include position(absolute, 0px 0 0 350px);
  z-index: 50;

}


// Bubbbles


%arrowLeftCenter{
  @extend %arrowContainer;
  @include position(absolute, 50% 0 0 -9px);
  @include setSpace(margin, -12px 0 0 0);
}

.messageBubbleNavigation{
  @include position(absolute, 128px 0 0 105px);
  z-index: 100;
  .arrowLeft{
    @extend %arrowContainer;
    @include position(absolute, 50% 0 0 -9px);
    @include setSpace(margin, -12px 0 0 0);
  }
}

.messageBubbleMessage{
  @include position(absolute, 380px 0 0 399px);
  z-index: 100;
    .arrowLeft{
      @include position(absolute, 50% 0 0 -9px);
      @include setSpace(margin, -12px 0 0 0);
    }


}

.messageBubbleAccounts{
  @include position(absolute,785px 0 0 300px);
  z-index: 100;
}


.messageBubbleFeedback{
  @include position(absolute, 0 0 65px 605px);
  z-index: 100;
  .arrowBottom{
    @extend %arrowContainer;
    @include position(absolute, 0 0 -12px 150px);
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg); /* IE 9 */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */

  }

}

.messageBubbleDetails{
  @include position(absolute, 80px 0 0 584px);
  z-index: 100;
  width: 355px;
    .arrowTop{
      @extend %arrowContainer;
      @include position(absolute, -12px 0 0 50%);
      @include setSpace(margin, 0 0 0 -7px);
    }

}


.messageBubbleAdviser{
  @include position(absolute,80px 0 0 208px);
  z-index: 100;
  width: 366px;;
  .arrowTop{
    @extend %arrowContainer;
    @include position(absolute, -12px 0 0 216px);
  }

}

.firstExperienceInvestor {
  .messageBubbleMessage{
    @include position(absolute, 465px 0 0 631px);
    width: 345px;
    .arrowLeft{
      @extend %arrowContainer;
      @extend %arrowLeftCenter;

    }
  }
  .messageAlertsItem{
    @include setSpace(padding, 1rem 1rem 3rem 1.5rem);
  }
  .maskFour{
    @extend %maskBody;
    background: $maskFour;
    width: 207px;
    height: 207px;
    @include position(absolute, 438px 0 0 461px);



  }
  .messageBubbleNavigation{
    @include position(absolute, 245px 0 0 105px);
    z-index: 100;
    .arrowLeft{
      @extend %arrowContainer;
      @include position(absolute, 30px 0 0 -9px);

    }
  }
}

.firstExperienceAdviser .messageAlertsNumberItem  {
    @include setSpace(margin, 0.7rem 0 0 0);
  }

// Modal Slides for FTUE


%ftueSlide{
  width: 560px;
  height: 320px;
  @extend %block;
}

.ftueSlideOne{
  @extend %ftueSlide;
  background-color: $gamma;

}
.ftueSlideTwo{
  @extend %ftueSlide;
  background-color: $zeta;

}

.ftueSlideThree{
  @extend %ftueSlide;
  background-color: $epsilon;

}

