


/*

# Tool container

```
<ul class="toolContainer">
    <li><a href="javascript:window.print()" title="Print this payment receipt"><em class="printIcon"></em></a></li>
    <li><em class="emailIcon"></em></li>
    <li><a target="_blank" href="${pdf}"><em class="iconPdf"></em></a></li>
</ul>
```

*/
.toolContainer {
 	@extend .clearBoth;
}

/*
```
<li class="toolBoxList">
<!-- Tool BOx Starts here -->
 <div class="toolBlock">
	  <ul class="toolContainer">
		<li class="jq-actionButton"><a href="#"
			class="iconActionButton jq-stopTransactionLink" title="Stop this transaction"><em class="iconStop"></em>
		</a></li>
		<li class="jq-actionButton"><a href="#" class="iconActionButton" title="Edit this transaction"><em class="iconEdit"></em>
		</a></li>
		<li><a target="_blank" data-url="/nextgen${sessionScope.baseUrl}/paymentReceipt?receiptNumber=" href="#" title="Print this receipt" class="iconActionButton jq-printReceipt"><em class="iconPrintSmall"></em>
		</a></li>
		<!--li><a target="_blank" href="#" class="iconActionButton"><em
				class="iconEmailSmall"></em>
		</a>
		</li-->
		<li><a target="_blank" data-url="/nextgen${sessionScope.baseUrl}/pdfReceipt?receiptNumber=" href="#" class="jq-pdfLink iconActionButton" title="Download PDF"><em class="iconPdfSmall"></em>
		</a>
		</li>
	</ul>
</div>
        
</li>

```

*/


.toolBoxList{
	float:left;
		.toolBlock {
				@include blockMargin(0, 0.5,0,0);
		}		
}



.toolContainer.actionContainer{
	@include blockMargin(0, 0, 0, 0);		
}
.toolContainerMod1.actionContainer{
  @include blockMargin(1.5, 0, 0, 0);
}
.toolContainer li {
	@extend %floatLeft; 
 	@include blockMargin(0, 0.5, 1.5, 0.5);
	text-align: center;
}

.actionContainer li {
	@extend %floatLeft;
 	@include blockMargin(0.5, 1.5,0.5, 0);
	text-align: center;
		a{
			color:	$backgroundColorDark;
		}
}
.actionContainer.toolContainer li {margin-right: 10px}

.headerTools{
	@extend %floatRight;
	@extend %inlineBlock;
	@include blockMargin(1.5, 2.5, 2.5, 2.5);
	
}




/* ##Tool Icons 


*/


.toolIcons{
	@include borderRadius(100);
	@include allBorders(0px, solid, $toolIconsBorder);
	height:$toolIconDistance +rem;
	width:$toolIconDistance +rem;

	@extend %inlineBlock;
	box-sizing:border-box;
	@extend %relative;
		em{
			@include fontSize(1.6);
			@include position(absolute, 30% 0 0 30%);
		}				
}


.toolIconsBorder{
		background:$backgroundColorEpsilon;
		em{
			color:#fff;
		}
	}


.toolIconsFull{
		background:$backgroundColorEpsilon;
		em{
			color:#fff;
		}
	}





