/* line 2, ../../sass/badge/transcend.scss */
.logoWrap {
  background-image: url(images/transcend.png);
  height: 60px;
}
/* line 5, ../../sass/badge/transcend.scss */
.logoWrap a {
  height: 60px;
}
/* line 8, ../../sass/badge/transcend.scss */
.logoWrap.logoWrapLarge {
  background-image: url(images/transcendLogo-large.png);
  background-position: 0 50%;
}

/*

## Site logo modifier

```
<span class="logoWrap logoWrapPos">
    <a href="#">BT</a>
</span>

```

*/
/* line 28, ../../sass/badge/transcend.scss */
.logoWrapPos {
  margin: 10px 20px;
}
