<included>
    <!--<root level="INFO">-->
        <!--<appender-ref ref="FILE"/>-->
    <!--</root>-->

    <logger name="com.bt.nextgen.service.avaloq.broker.AvaloqBrokerIntegrationServiceImplIntegrationTest" level="DEBUG">
    </logger>

    <logger name="com.bt.nextgen.service.avaloq.broker.BrokerServiceImplIntegrationTest" level="DEBUG">
    </logger>

    <logger name="com.bt.nextgen.service.avaloq.asset.CacheManagedAvailableAssetIntegrationServiceImpl" level="DEBUG">
    </logger>

    <logger name="com.bt.nextgen.service.avaloq.code.CacheManagedStaticCodeIntegrationServiceImpl" level="DEBUG">
    </logger>

    <logger name="com.bt.nextgen.core.jms.JmsDataHandlerCacheImpl" level="DEBUG">
    </logger>

    <!-- ignore junk parsing messages -->
    <logger name="com.bt.nextgen.integration.xml.util.ParsingUtil" level="OFF" />
    <logger name="com.bt.nextgen.integration.xml.profiler.ParsingTracing" level="OFF" />
</included>
