<included>  
    <root level="INFO" />

    <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender> -->
     
    <logger name="com.bt.nextgen.service.avaloq.code" level="ERROR">
            <appender-ref ref="STDOUT"/>
    </logger>
     
    <logger name="com.bt.nextgen.core.cache" level="ERROR">
            <appender-ref ref="STDOUT"/>
    </logger>
     
    <logger name="com.bt.nextgen.core.cache.GeneralEhCacheImpl" level="INFO">
            <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.bt.nextgen.core.cache.cachesearch" level="INFO">
            <appender-ref ref="STDOUT"/>
    </logger>
            
    <logger name="com.bt.nextgen.service.avaloq.broker.AvaloqBrokerIntegrationServiceImplIntegrationTest" level="DEBUG">
            <appender-ref ref="STDOUT"/>
    </logger>
            
    <logger name="com.bt.nextgen.service.avaloq.broker.BrokerServiceImplIntegrationTest" level="DEBUG">
            <appender-ref ref="STDOUT"/>
    </logger>
    
    <logger name="com.bt.nextgen.service.avaloq.broker.CacheManagedUserBrokerIntegrationServiceImpl" level="INFO">
            <appender-ref ref="STDOUT"/>
    </logger>
      
    <logger name="com.bt.nextgen.service.avaloq.AbstractAvaloqIntegrationService" level="INFO">
            <appender-ref ref="STDOUT"/>
    </logger>
      
    <logger name="com.bt.nextgen.service.avaloq.broker.BrokerCacheService" level="INFO">
            <appender-ref ref="STDOUT"/>
    </logger>
    
    
    <logger name="com.bt.nextgen.core.jms.JmsDataHandlerCacheImpl" level="DEBUG">
            <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.bt.nextgen.service.FailFastErrorsImplTest" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>
    
    <!-- ignore junk parsing messages -->
    <logger name="com.bt.nextgen.integration.xml.util.ParsingUtil" level="OFF" />
</included>
