##
#Properties to connect Avaloq and loading data using JMS multi consumer queue #
##

## Avaloq Connection Properties
avaloq.webservice.endpoint.type=URL
avaloq.webservice.endpoint.key=http://localhost:9180/nextgen-interface/service/AvalogGateway
avaloq.webservice.filestub=false
#avaloq.webservice.endpoint.type=UDDI
#avaloq.webservice.endpoint.key=4c4ad71f-74a4-419a-b973-44791b81b75f
avaloq.interceptors=esbHeaderInterceptor

avaloqStatic.webservice.endpoint.type=URL
avaloqStatic.webservice.endpoint.key=http://localhost:9180/nextgen-interface/service/AvalogGateway
avaloqStatic.webservice.filestub=false
avaloqStatic.interceptors=esbHeaderInterceptor

## JMS DataSource  (dev1/dev2/dev3/dev4)
jms.datasource=dev1

## JMS Config -- provider can be Tibco, ActiveMQ, AQJms or local
# For Tibco
jms.provider = Tibco
jms.ssl.enabled=true

# For AQ JMS
#jms.provider = AQJms

##JMS Locator Settings
jms.credentialLocator = com.bt.nextgen.config.secure.JmsPropertiesCredentialLocator
jms.credentialName = jms

##################################
#Flags to use jms for certain static templates
#Pattern is jms.enabled.for.TEMPLATE_NAME where template name is referenced in Template.java enumeration
#
#################################
jms.listening.enabled=true
jms.sending.enabled=true
jms.sending.enabled.for.STATIC_CODES=true
jms.sending.enabled.for.AVAILABLE_ASSETS=true
jms.sending.enabled.for.ADVISOR_PRODUCTS=true
jms.sending.enabled.for.BROKER_HIERARCHY=true
jms.sending.enabled.for.BROKER_HIERARCHY_PARTIAL_INVALIDATION=true
jms.sending.enabled.for.TD_RATES=true
jms.sending.enabled.for.BROKER_PRODUCT_ASSETS=true
jms.sending.enabled.for.AAL_INDEX=true
jms.sending.enabled.for.INDEX_ASSET=true
jms.sending.enabled.for.AAL_ISSUER=true
jms.async.sending.enabled.for.STATIC_CODES=true
jms.async.sending.enabled.for.AVAILABLE_ASSETS=true
jms.async.sending.enabled.for.ADVISOR_PRODUCTS=true
jms.async.sending.enabled.for.BROKER_HIERARCHY=true
jms.async.sending.enabled.for.BROKER_HIERARCHY_PARTIAL_INVALIDATION=true
jms.async.sending.enabled.for.TD_RATES=true
jms.async.sending.enabled.for.BROKER_PRODUCT_ASSETS=true
jms.async.sending.enabled.for.AAL_INDEX=true
jms.async.sending.enabled.for.INDEX_ASSET=true
jms.async.sending.enabled.for.AAL_ISSUER=true
##################################
#Flag to configure retry attempts for JMSListener startup
#################################
jms.listener.retry=2

#############################################
# Enable/Disable cache invalidation feature
#############################################
jms.cache.invalidation.enabled=true

###################################################
# Enable/Disable partial cache invalidation feature
###################################################
jms.partial.cache.invalidation.enabled=true

#################################################
# Disk Caching
#################################################
disk.cache.serialization.enabled=false
disk.cache.rewrite.enabled=false
disk.cache.abs.env=dev1
ehcache.transaction.timeout=900
