<included>
    <appender name="PROFILER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>PROFILER</marker>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>       
        <file>profile.log</file>
        <append>true</append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{yyyyMMdd HH:mm:ss.SSS},"%X{trackingReference:-INTERNAL}","%X{container.sessionid:-UNKNOWN}","%X{container.requestid:-UNKNOWN}","%X{header.iv-user:-Unauthenticated}","%X{request.url:-UNKNOWN}","%X{request.ip:-NOIP}",%msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>profile-%d{yyyyMMdd}.log.zip</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>    
</included>