<included>
	    <!--<logger name="com.bt.nextgen.core" level="DEBUG"/>-->
	    <logger name="com.bt.nextgen.core.jms" level="DEBUG"/>
	    <!--<logger name="com.bt.nextgen.core.webservice.interceptor.ClientPayloadLoggingInterceptor" level="DEBUG"/>
	    <logger name="com.bt.nextgen.core.security" level="DEBUG"/>
	    <logger name="com.bt.nextgen.core.ws" level="DEBUG"/>
	    <logger name="com.bt.nextgen.login.service" level="DEBUG"/>-->
	    <!--<logger name="org.springframework.security" level="DEBUG"/>-->
	    <root level="INFO">
	        <appender-ref ref="STDOUT"/>
	    </root>
	
	</included>