<included>

<appender name="FILELOGGING"
              class="ch.qos.logback.core.FileAppender">
         <append>false</append>     
		<file>./logs/nextgen.log</file>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>PERF</marker>
				<marker>PARSING</marker>
 				<marker>PROFILER</marker>
            </evaluator>
            <onMatch>DENY</onMatch>
        </filter>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">      
			<evaluator> <!-- defaults to type ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
				<expression>return (logger.contains("org.apache.http.wire")|| logger.contains("c.b.n.core.ws.FileResponseConnection")||logger.contains("c.b.n.i.xml.util.ParsingUtil"));</expression>
				<!-- <expression>
    				if(logger.contains("org.apache.http.wire"))
      					return false;
				</expression> -->
			</evaluator>
      		<OnMismatch>NEUTRAL</OnMismatch>
      		<OnMatch>DENY</OnMatch>
    	</filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS}-[%thread]-%-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

<!-- 	    <appender name="FILELOGGING"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
         <append>false</append>     
		<file>./logs/nextgen.log</file>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>PERF</marker>
                <marker>PARSING</marker>
                <marker>PROFILER</marker>
            </evaluator>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS}-[%thread]-%-5level %logger{36} - %msg%n</Pattern>
        </encoder>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100000MB</MaxFileSize>
        </triggeringPolicy>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/nextgen-%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <maxFileSize>100000MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>
 -->    
    <root level="INFO">
    	<appender-ref ref="FILELOGGING"/>
    </root>

    <logger name="com.bt.nextgen.DataInitializationService" level="DEBUG">
          <appender-ref ref="FILELOGGING"/>
    </logger>  
 
   <logger name="com.bt.nextgen.core.jms.JmsIntegrationService" level="DEBUG">
          <appender-ref ref="FILELOGGING"/>
          <appender-ref ref="STDOUT"/>
    </logger> 

   <logger name="com.bt.nextgen.service.avaloq.DataInitialization" level="INFO">
          <appender-ref ref="FILELOGGING"/>
    </logger> 	
    
	<logger name="com.bt.nextgen.service.avaloq.code.CacheManagedStaticCodeIntegrationServiceImpl" level="INFO">
        <appender-ref ref="FILELOGGING"/>
    </logger>
	
	<logger name="com.bt.nextgen.service.avaloq.AbstractAvaloqIntegrationService" level="INFO">
        <appender-ref ref="FILELOGGING"/>
    </logger>
	
    <logger name="com.bt.nextgen.service.avaloq.broker.CacheManagedUserBrokerIntegrationServiceImpl" level="DEBUG">
        <appender-ref ref="FILELOGGING"/>
    </logger>

    <logger name="com.bt.nextgen.core.cache.cachesearch.EhCacheLuceneSearcher" level="DEBUG">
        <appender-ref ref="FILELOGGING"/>
    </logger>

    <logger name="com.bt.nextgen.service.avaloq.broker.JmsBrokerObjectHandler" level="DEBUG">
        <appender-ref ref="FILELOGGING"/>
    </logger>
    
    <logger name="com.bt.nextgen.core.webservice.interceptor.ClientPayloadLoggingInterceptor" level="WARN">
        <appender-ref ref="FILELOGGING"/>
    </logger>
    
    <logger name="com.bt.nextgen.core.cache.GeneralEhCacheImpl" level="INFO">
    	<appender-ref ref="FILELOGGING"/>
    </logger>
    <logger name="com.bt.nextgen.service.avaloq.transaction.AvaloqTransactionIntegrationServiceImpl" level="INFO">
    	<appender-ref ref="FILELOGGING"/>
    </logger>
    
    
    <logger name="com.bt.nextgen.service.avaloq.AvaloqExecuteImpl" level="INFO">
    	<appender-ref ref="FILELOGGING"/>
    </logger>
    
    <logger name="com.bt.nextgen.integration.xml.extractor.DefaultResponseExtractor" level="DEBUG">
    	<appender-ref ref="FILELOGGING"/>
    </logger>
    
    <logger name="com.bt.nextgen.integration.xml.parser.ParsingTemplate" level="DEBUG">
    	<appender-ref ref="FILELOGGING"/>
    </logger>
    
    <logger name="com.bt.nextgen.integration.xml.parser.ElementFieldParsingStrategy" level="INFO">
    	<appender-ref ref="FILELOGGING"/>
    </logger>
    
    
    <logger name="com.bt.nextgen.service.avaloq.broker.CacheManagedUserBrokerIntegrationServiceImpl" level="INFO">
    	<appender-ref ref="FILELOGGING"/>
    </logger>
    
    
    <logger name="com.bt.nextgen.api.transactionhistory.service.TransactionHistoryDtoServiceImpl" level="INFO">
    	<appender-ref ref="FILELOGGING"/>
    </logger>
    
    <!-- <logger name="com.bt.nextgen.core.webservice.interceptor.ClientPayloadLoggingInterceptor" level="INFO">
    	<appender-ref ref="FILELOGGING"/>
    </logger>
    
    <logger name="org.springframework.ws.client.MessageTracing.sent" level="INFO">
    	<appender-ref ref="FILELOGGING"/>
    </logger>
    
    
    <logger name="org.springframework.ws.client.MessageTracing.received" level="INFO">
    	<appender-ref ref="FILELOGGING"/>
    </logger> -->
    
    <logger name="com.bt.nextgen.core.cache.cachesearch.EhCacheLuceneSearcher" level="DEBUG">
    	<appender-ref ref="FILELOGGING"/>	
    </logger>
    
  <!--   <logger name="com.bt.nextgen.api.asset.service.TradableAssetsDtoServiceImpl" level="INFO">
    	<appender-ref ref="FILELOGGING"/>
    </logger> -->
  
</included>
