<included>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./nextgen.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100MB</MaxFileSize>
        </triggeringPolicy>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./nextgen-%d{yyyyMMdd}.log.zip</fileNamePattern>
            <maxHistory>1</maxHistory>
        </rollingPolicy>
    </appender>
    
    <appender name="JASPER"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./jasper.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100MB</MaxFileSize>
        </triggeringPolicy>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./nextgen-%d{yyyyMMdd}.log.zip</fileNamePattern>
            <maxHistory>1</maxHistory>
        </rollingPolicy>
    </appender>


    <logger name="org.springframework.core.env" level="TRACE">
        <appender-ref ref="FILE" />
    </logger>
    
    <root level="INFO">
        <!--<appender-ref ref="STDOUT"/>-->
        <!--<appender-ref ref="AUDIT"/>-->
        <!--<appender-ref ref="PERF"/>-->
        <appender-ref ref="FILE" />
    </root>
    
    
    
    <logger name="net.sf.jasperreports" level="TRACE">
        <appender-ref ref="JASPER" />
    </logger>

    <logger name="httpclient.wire" level="TRACE"/>
</included>