<included>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
    <!--<logger name="com.bt.nextgen.core.webservice.interceptor.ClientPayloadLoggingInterceptor" level="WARN"/>-->

   <!-- <logger name="org.apache.http" level="DEBUG"/>-->
    <!--<logger name="org.apache.http.impl.conn" level="DEBUG"/>-->
    <!--<logger name="org.apache.http.wire" level="ERROR"/>-->
    <logger name="com.bt.nextgen.core.webservice.provider.UddiDestinationProvider" level="DEBUG"/>
    <logger name="org.springframework.xml.transform.TransformerObjectSupport" level="DEBUG"/>
    <logger name="com.bt.nextgen.core.security.filter" level="DEBUG"/>

</included>