<included>

    <root level="ERROR">
        <appender-ref ref="FILE" />
    </root>

 <!--   <logger name="com.bt.nextgen.config.JsonObjectMapper">
        <level value="DEBUG"/>
    </logger>

    <logger name="com.bt.nextgen.config.AbstractWebConfig">
        <level value="DEBUG"/>
    </logger>

    <logger name="com.bt.nextgen.api.draftaccount.controller">
        <level value="DEBUG"/>
    </logger>
-->

</included>