<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!-- Stop don't edit this file see : http://dwgps0026/twiki/bin/view/NextGen/HelpDeveloperTips#I_want_my_own_log_settings_witho -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>PERF</marker>
                <marker>PARSING</marker>
                <marker>PROFILER</marker>
            </evaluator>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%X{header.host:-UNKNOWN}] [%X{trackingReference:-INTERNAL}] [%X{header.iv-user:-Unauthenticated}] [%X{container.sessionid:-UNKNOWN}] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./nextgen.log</file>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>PERF</marker>
                <marker>PARSING</marker>
                <marker>PROFILER</marker>
            </evaluator>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %X{trackingReference:-INTERNAL} %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>200MB</MaxFileSize>
        </triggeringPolicy>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>./nextgen.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
    </appender>

    <appender name="AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>AUDIT</marker>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>logs/audit.log</file>
        <append>true</append>
        <encoder>
            <charset>Windows-1250</charset>
            <pattern>%date{dd MMM yyyy;HH:mm:ss.SSS} %-5level {%thread} [%logger{40}] : %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/audit-%d{yyyyMMdd}-%i.log.zip</fileNamePattern>
            <maxHistory>5</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>2MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="PERF" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>PERF</marker>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>performance.log</file>
        <append>true</append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{yyyyMMdd HH:mm:ss.SSS} [${HOSTNAME}] [%X{trackingReference:-INTERNAL}] [%X{header.iv-user:-Unauthenticated}] [%X{container.sessionid:-UNKNOWN}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>performance-%d{yyyyMMdd}.log.zip</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="PARSING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>PARSING</marker>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>parsing.log</file>
        <append>true</append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{yyyyMMdd HH:mm:ss.SSS},"%X{trackingReference:-INTERNAL}","%X{container.sessionid:-UNKNOWN}","%X{container.requestid:-UNKNOWN}","%X{header.iv-user:-Unauthenticated}","%X{request.url:-UNKNOWN}","%X{request.ip:-NOIP}",%msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>parsing-%d{yyyyMMdd}.log.zip</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Debug level for specific loggers to assist with problem analysis etc. -->
    <logger name="com.bt.nextgen.serviceops.service.ServiceOpsServiceImpl" level="debug"/>

    <!-- Logger for starting JMS -->
    <logger name="org.springframework.jms.listener.AbstractJmsListeningContainer" level="DEBUG"/>
    <logger name="com.bt.nextgen.core.jms.listener.ChunkListenerContainer" level="DEBUG"/>
    <include optional="true" resource="logback.profiler.xml"/>

    <!-- Logger for canary login issues -->
    <logger name="com.bt.nextgen.login.util.SamlUtil" level="DEBUG"/>
    <logger name="com.btfin.panorama.core.security.saml.SamlToken" level="DEBUG"/>

    <!-- Logger enabled for UAT1 for avaloq request/response -->
    <logger name="com.bt.nextgen.core.webservice.interceptor.ClientPayloadLoggingInterceptor" level="DEBUG"/>

    <!-- Stop don't edit this file see : http://dwgps0026/twiki/bin/view/NextGen/HelpDeveloperTips#I_want_my_own_log_settings_witho -->
    <root level="INFO">
        <!-- please setup your own logback settings:
        http://logback.qos.ch/manual/configuration.html#fileInclusion
        -->
        <!--<appender-ref ref="STDOUT"/>-->
         <!--<appender-ref ref="AUDIT"/>-->
        <!--<appender-ref ref="PERF"/>-->
        <!--<appender-ref ref="PROFILER"/>-->
        <!--<appender-ref ref="FILE" />-->
        <!-- <appender-ref ref="PARSING" /> -->
    </root>
    <!--<logger name="httpclient.wire" level="TRACE"/>-->
    <!--<logger name="com.bt.nextgen.integration.xml.profiler" level="DEBUG"/>-->
    <include optional="true" resource="logback.${user.name}.xml"/>

</configuration>