<included>
    <root level="ERROR">
        <appender-ref ref="STDOUT"/>	<!-- STDOUT AUDIT PERF FILE -->
    </root>

    <logger name="com.bt.nextgen.core.jms.delegate.CacheEventMessageDelegate" level="DEBUG" />
    <logger name="com.bt.nextgen.core.jms.JmsDataHandlerCacheImpl" level="DEBUG" />

    <logger name="com.bt.nextgen.core.cache.GeneralEhCacheImpl" level="INFO"/>
    <logger name="com.bt.nextgen.core.cache.CacheMonitor" level="INFO"/>

    <logger name="com.bt.nextgen.core.cache.cachesearch.EhCacheLuceneSearcher" level="DEBUG"/>

    <logger name="com.bt.nextgen.service.avaloq.broker" level="INFO"/>

    <logger name="com.bt.nextgen.service.avaloq.asset.CacheManagedAvailableAssetIntegrationServiceImpl" level="INFO" />

    <logger name="com.bt.nextgen.service.avaloq.broker.CacheManagedUserBrokerIntegrationServiceImpl" level="INFO"/>

    <logger name="com.bt.nextgen.core.web.interceptor.CrossSiteReqForgeryFilter" level="DEBUG"/>
    <logger name="com.bt.nextgen.core.web.controllerGlobalElementPreparer" level="DEBUG"/>

    <logger name="com.bt.nextgen.core.jms.delegate.CacheEventMessageDelegate" level="INFO"/>
    <logger name="com.bt.nextgen.service.avaloq.client.ClientIntegrationServiceImpl" level="INFO"/>
    <logger name="com.bt.nextgen.api.pension.builder.PensionCommencementConverter" level="DEBUG"/>

    <!-- ignore junk parsing messages -->
    <logger name="com.bt.nextgen.integration.xml.util.ParsingUtil" level="OFF" />
    <logger name="com.bt.nextgen.integration.xml.profiler.ParsingTracing" level="OFF" />
    <logger name="com.bt.nextgen.core.webservice.interceptor.ClientPayloadLoggingInterceptor" level="OFF"/>
</included>
