

/*## Variables

*/
$tableThBg:#444444;
$borderColorExtraLight: ($alpha, 99%);
$sliderBG:#ffffff;
/*  
 
##Table elements and classes

<p>Example code for Table Construction:
  <table class="dataTable">
  <caption>Table description</caption>
  <thead>
    <tr class="tableHeader">
      <th class="dataTableHeader">Date</th>
    <tr>
  </thead>
  <tbody>
    <tr class="dataTableRow">
      <td class="dataTableCell">This is a table cell</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Footer</td> tableHeader
    </tr>
  </table>

*/

.dataTable{
  width:100%; 
  //@include allBorders(1px, solid, $borderColorExtraLight);
  @include allBorders(1px, solid, #e5e5e5);
    border-top:none;
  //  border-collapse:separate;
  @include blockMargin(1,0,1,0);
  thead {
    .tableHeader:first-child {
      border-top:none;      
    }
    
  }

  // Data Tabel with open borders

  &.dataTableOpen{
    @include blockMargin(0,0,0,0);
    border:none;
  }
  
  
  // Flyout/Expanded Box  - to be shown with-in the table
  .tableHeaderExpanededFlyout {  
    //@include firstBorder(1px, solid, $beta4); 
    //@include lastBorder(1px, solid, $beta4);
    //@include endBorder(1px, solid, $beta4);
    .dataFlyoutPanel {
        background:$beta4; 
        @include setSpace(margin, 0 0 0 0);      
        @include setSpace(padding, 2rem 2rem 0.5rem 2rem); 
        @include textAlign(left);
        position:relative;
        .expandArrowMod7 {
            right:77px;
        }
        .iconclose {
           @include position(absolute, 30px 0 0 800px);         
        }
        .formBlockContainerMod4 {
            @include setSpace(margin, 0 0 0rem 0);
            .actionWrapper {
                @extend %floatLeft;
                @include setSpace(margin, 0rem 0rem 0rem 0rem);
            }          
        }      
    }
  }
  
  // Flyout/Expanded Box  - to be shown with-in the table
  .tableHeaderExpanededNoBorder {  
    @include allBorders(1px, solid, #fafafa);
    //@include endBorder(1px, solid, $beta22); 
      .noticeBox {
        @include setSpace(margin, 0rem 0rem 2rem 0rem);        
      } 
      
	  .noticeBoxAbsolute {
	        @include setSpace(margin, 0rem 0rem 0rem 0rem);
	        @include position(absolute, 0 0 0 0);
	        @include width(84);
	        z-index:$zindex+1;  
	  } 
   }
  
  // Loading Box  - to be shown with-in the table
  .loaderBox {
      @include textAlign(center);
      @include setSpace(margin, 0 auto 0 auto);
      .iconLoader {
          @include setSpace(margin, 1rem 0 0.7rem 0);      
      }
      a {        
          @include fontSize(1.4);
      }
  }
  
}

.dataTableBtmMarginOn {margin-bottom: 4rem}
.dataTableTopMarginOff {margin-top: 0}
.dataTableBtmMarginOff {margin-bottom:0}

.dataTableMod5 {@include blockMargin(0,0,0,0);}
.dataTableMod6 tbody .dataTableRow:first-child {border-top: 0}




// Data Table Row starts here 


.dataTableRow{

  //helper class to hide arrow from not expandable table rows
  &.notExpandable{
    .iconarrowfullright{
      display: none;
    }
  }


  // sets the hover

    &.dataTableFullHover:hover {
      @include allBorders(1px, solid, $beta27);
      @extend %cursor;
        td {
          border-top:1px solid $beta27;
          border-bottom:1px solid $beta27;
        }
      // resets the hover on non expandable items if  there in the same iteration of a hover item
      &.notExpandable {
        @include allBorders(1px, solid, #E6E6E6);        
        td {
          border-top:1px solid #E6E6E6;
          border-bottom:1px solid #E6E6E6;
        }
        @extend %noCursor;
      }
      &.notExpandable:first-child {
        td {
          border-top:1px solid $beta22;
        }
      }
    }
     

  // removes the border by default

   &.dataTableRowClearBorder{
     border-bottom: none;
   }
  // Sets middle BG as diverter
    &.dataTableRowLightBg{
        background:$backgroundColorBright;
      }

      @include setSpace(padding, 1rem 1rem 1rem 1rem);
      @include setSpace(padding, -1rem 0 0 0);
      overflow:visible;
      border-bottom:1px solid $beta10;

      // for expand rows
      .iconarrowfullright,
      .iconarrowfulldown {
        color:$beta44;
      }

    &.dataTableRowMod2 {
      @include firstBorder(1px, solid, transparent);

    }
        

  //  &.dataTableRowMod2:hover {
 //     border-color: $beta4;
  //    border-right-color: transparent;
  //    border-left-color: transparent;
 //     border-bottom-color: $beta4;
  //  }


      &:first-child{
        @include startBorder(1px, solid, $beta22);
      }
      &:last-child{
        @include endBorder(1px, solid, $beta10);
      }

      &.dataTableRowWhiteBg {
        background-color: $shi !important;
      }
      
      //Below class is used to add Grey highlighted row in the table
      &.dataTableRowHighlighted {
         @include allBorders(1px, solid, $beta22);         
         background:$beta4;  
         td {
            border-top:1px solid $beta27 !important;
          }
          td:last-child {
            border-bottom:1px solid $beta27 !important;
          }
      } 
      
      &.dataTableRowHighlightedFirstLastBorder {
        border-left:1px solid $beta27 !important;
        border-right:1px solid $beta27 !important;
        border-bottom:none !important;
        .tableRowBreak {
          width:96%;
        }
      }      
      &.dataTableRowHighlightedStartBorder {
          td {
            border-top:1px solid $beta27 !important;
          }
      }      
      &.dataTableRowHighlightedEndBorder {
        border-bottom:1px solid $beta27 !important;
      }            
      

 // .iconarrowfulldown {color:$textColorLighter!important;}
  .dataTableCell:first-child{
    @include blockPadding(1.4,1.5,1.5,2.0);
  }
  
  
  .dataLargeIconCellFirstCell:first-child{
    padding-left: 0;
  }
  .dataTableCellLast:first-child{
    @include setSpace(padding,0px 2rem 0 0);
  }
  .dataTableCellFirstMod1.dataTableCell:first-child {
      padding-bottom: 1.5rem
  }
  .dataTableCellFirstMod3.dataTableCell {
      padding-bottom: 0
  }
  .dataTableCell:first-child{
   .dataTableCell.dataLargeIconCell{
      @include blockPadding(1.5,1.5,1.5,0);
      width:50px;
      .labelIcons{
        margin:0;
      }
    }
  }
  .dataCellMod3:first-child {
    width: auto;
    @include blockPadding(1.5,1.5,1.5,2);
  }

  &.noHover {
    &:hover {
      border-color: $beta10;
    }
  }
  &:hover{
    @extend %cursor;
     cursor:default;



    &.dataTableRowMod3:hover {
    border-top-color: $beta4;
    border-right-color: $elibrium;
    border-left-color: $elibrium;
  }


}
 
}


.dataTableRowActive.dataTableRowActiveMod2 {
  border-bottom: 0 !important
}
.dataTableRowActive.dataTableRowActiveMod2:hover {
  border-color: $beta27;
  border-bottom-color: $shi;
}



.tableContent{
  @extend .relative;
}
.tableContainer{
  width:100%;
  display:block;
  @extend %relative;
}
.tableContainerMod1{
  @include blockMargin(5,0,1,0);  
}
.tableContainerMod1Mod2 {@include blockMargin(3,0,1,0);}
.tableContainer.multiTableContainer{
    @include blockPadding(1,0,1,0);

}

.tableContainerMod2{
  @include blockMargin(2,0,0,0);
}
.tableContainerMod4{
	position:relative;
	.successBox, .warningBox {
        @include position(absolute,-20px 0 0 0);
        &.lessTopMargin{
        	@include position(absolute,-43px 0 0 0);
        }
	}
	
	.messageBubble {
		min-height:inherit;
		width:auto;
		.messageBubbleContent {
			.messageText {
				@include blockPadding(0,0,1.5,0);
				@include fontSize(1.3);
				font-weight:bold;
				width:100%;
			}
		}
	}
	.messageBubbleFeedback {
		bottom: inherit;
		top: inherit;
    	left: 377px;
	    margin-top:-53px;
	}
}



//## Lighter Data Table
$tableCorner:0.4;

.dataTable.tableStyleThree{
    //border-collapse:separate;
    border-collapse:collapse;
    border:none;
    margin-bottom: 20px;
        .tableHeader{
           background:transparent;
             h3{
               @include fontSize(1.6);
               @extend %emphasis;
               @include lineHeight(4);

          }
        }

//Set the round corners

      thead tr td:first-child{
        background:transparent;
        @include borderTopLeftRadius($tableCorner);
      }
      thead tr td:last-child{
        background:$beta4;
        @include borderTopRightRadius($tableCorner);

      }
      tbody tr:last-child td:first-child{
         background:transparent;
        @include borderBottomLeftRadius($tableCorner);
      }
      tbody tr:last-child td:last-child{
        background:transparent;
        @include borderBottomRightRadius($tableCorner);
      }
      td{
        @include blockPadding(1,2,2,1.8);
        vertical-align: top;
        @include allBorders(1px, solid, $beta22);
       }
      td:last-child{
        border-left: none;
      }

      td.dataTableCellMod1{
        border-left: none;
        border-right: none;
        vertical-align: middle;
        text-align: center;
    }

    td.dataTableCellMod1:last-child{
      @include lastBorder(1px,$beta22,solid);
    }

    td.dataTableHeaderMod1{
      border-left: none;
    }

    tbody td{
      border-top: none;
        .inlineBulletListFull{
         @include blockPadding(.5,0,0,0);
        }
   }

  thead td{
    //height:80px; // KR 2/9/2013: removed cos it causes safari to break
    line-height: 40px;
    background: $beta4;
    border-top:1px, solid, $beta22;
    padding-top: 20px;
  }

  &.tableStyleThree2Cols {
    thead tr td:first-child {width: 38%}
  }
}
/* 
###Caption


caption {
  @extend .hidden;
}

Caption is reqiuired to provide AA compliance

*/

caption {
  @extend .hidden;
  height:0px;
}

.caption{
  @include  allBorders(3px, solid, $beta73);
  @include fontSize(1.4);
  @include  textAlign(left);
  @include blockPadding(1.9,2,1.9,2);
  background-color:$shi;
  height: auto;
  visibility: visible;
  text-align: left;
  font-size: 1.4rem;
  line-height: 1.6rem;
  @include textTrans(uppercase);
  font-weight: bold;
  letter-spacing: 0;
  .textCount {
      text-align: right;
      float: right;
      font-weight: normal;
  }
  .subContent{
      text-align: right;
      float: right;
      font-weight: normal;
      @include textTrans(none);
  }
  .normalTextMod1 {
      @include fontSize($contentFontSize + 0.2);
      font-weight:normal;
      @include textTrans(none);
  }
}
.captionMod1 {margin-bottom: -1px}

 

/*## Table header


*/
 
.tableHeader{
  /*border-top:1px solid #CCCCCC;*/
   @include allBorders(1px, solid, $beta22);
   // border-top:none;
    background-color:$shi;
    h2{ 
      @include fontSize(1.6);
      @include textAlign(left);
      @include blockPadding(1.9,2,1.8,2);
      letter-spacing: 0;
    }
    .textTransTable{
        @include  textAlign(left);
        font-weight:normal;
        @include blockPadding(1,2,1,2); 
        @extend %floatLeft;
    }
      .textTransTableMod1{
            font-weight: normal;
            @include blockPadding(1.4,2,0,0);
            @extend %floatRight;
        }
        .textTransTableMod2{@include blockPadding(1.6,2,1,2);}
}
.tableHeaderMod2{
  border-top: 0;
}
.tableHeaderMod3{
  border-bottom: 0;
}
.tableHeader.tableHeaderStyleOne{
   th{
     @include  allBorders(3px, solid, $beta73);
    border-collapse:separate;

   }
}

.tableHeader.tableHeaderStyleTwo{
  border-top:none;
    border-left:none;
    border-right:none;
  border-bottom:1px solid $beta22;
  background-color: transparent;
   th, td{
    border-collapse:separate;
      h3{
        @extend %floatLeft;
        @include blockMargin(2,0,1.5,0);  
        @include fontSize(2);
        color:$headerTextColorDark;
          span{
            font-weight:100;  
          }
      }
      .headerTextItem{
        @include blockMargin(0,0,1.5,0);  
      }
            .headerTextItemMod7 {
              @include fontSize(1.8);
              margin-bottom: 10px;
            }
   }


}
.dataTableRowHeadingWrap{
  th.dataTableHeader{
    vertical-align: top;
    @include blockPadding(1,2,0,0);
  }
  th.dataTableHeaderMod1{
    word-wrap: break-word;
    white-space: normal;
    @include blockPadding(1,2,1,2);

  }
}

.dataTableRowMod1{
  .dataTableHeader{
     @include setSpace(padding, 0 0 0 2rem);
  }
}
  
.tableHeader.tableHeaderFull{
  box-sizing:border-box;
}
.dataTableThinRow{
  height:4rem;
}
.toolHeader{
  height:6rem;
  .actionWrapper {
      @include blockMargin(.6, 2, 0, 0);
      float: right;
  }
  .actionWrapperContainer{
      @include  setSpace(margin, 0 2rem 0 0);
  }
  .noticeBox{
      @include  setSpace(margin, 0rem 0 0 0);
  }
  &.topGutter {
      @include  setSpace(padding, 1.2rem 0 0.5rem 0);
  }  
}

.dataTableHeader {
  @include fontSize(1.4);
  //@include blockPadding(1.5, 2,1.5,0);
  @include blockPadding(1.5,1,1.5,0);
  background:#fff;
  white-space:nowrap;
}
.dataTableHeaderMod2 {
  @include blockPadding(1.5, 2,1.5,2);
}

.dataTableHeaderFirst {padding-left: 2rem}

.dataTable .tableHeader th.dataTableHeader:last-child { padding-right:1rem; } 

.dataTableHeaderPadMod1 {padding-right: 0}
.dataTableHeader.dataDateCell{
  @include blockPadding(0.8, 0,0.8,0.8);
}

.dataTableHeader.dataTableHeaderClear{
  background:none;
  color:$textColorAlpha;
  
}

.dataTableHeader.dataTableHeaderOpen{
  background:none;
  color:$textColorAlpha;
}


.dataTableRowMod3 {
    background: #ffffff;
        .descriptionGroupHeader{
          @include fontSize(1.6);
          &.descriptionGroupHeaderMod1 {margin-top: 0}
        }
}

.dataTableRowHeader, .dataTableRow.dataTableRowHeader:hover {@include endBorder(1px, solid, #e6e6e6); }



.dataTableCell {

	overflow:hidden;
	@include lineHeight(1.8);
	@include dataCellHeight(4.5);
	height:auto;
	@include blockPadding(1.5, 1,1.5,0);
	vertical-align: top;

      // Mods to modify the with

      &.dataTableCellWrapMod1, {
        min-width:250px;
      }
      &.dataTableCellMod1 {
        width: 310px;
      }
      &.dataTableCellMod2{
        width:450px;
      }
      &.dataTableCellMod3{
        width:610px;
      }
      &.dataTableCellMod4 {
        width: 380px;
      }
      &.dataTableCellMod5 {
        width: 230px;
      }
      &.dataTableCellMod6 {
        width: 110px;
      }

}
.dataTableCellCol3 {
  width:27.5rem
}
.dataTableCellReadStatus .iconmailclear {
    display: none
}





.dataTableHeaderWrapMod1{

  display: inline-block;
  @include blockMargin(0,0,1,0);
}

.dataTableMod1{

	tr:not(:last-child){
		.dataTableCell {
			border-bottom:1px solid #eaeaea;
		}
	}

}

.dataTableMod1{
  tr{
    th {

      border-bottom:1px solid #c9c9c9;
    }
  }
}

.dataTable.dataTableMod3, .dataTable.dataTableMod2{
  @include blockMargin(0,0,0,0);
  tbody{
    tr:first-child{border-top: 0}
  }
}
.dataTable.dataTableMod2{
  @include blockMargin(3.5,0,0,0);
}

.dataTableInner{
  background: $shi;
}
.dataTableInfoBox{
  @include blockMargin(0,4,0,4);
  @extend .relative;
  @extend .startBorder;
    .dataTableInfoBoxContainer{
      @include blockMargin(2,0,4,0);
    }

}


.dataTableInfoPanel{
  @include blockMargin(4,0,4,0);
  width:100%;
}

.dataTableInfoPanelMod1 {
    @include setSpace(margin, 3rem 0 0 0);
  }

.dataTableInfoPanelMod2 { 
  @include setSpace(margin, 1.5rem 0 1.5rem 0); 
  .dataTableInnerBoxFull {
    @include setSpace(margin, 0 4rem 0 20.5rem);    
    .inlineBulletList{
      li {
        list-style:none;
        min-width:12.6rem;
      }
    }
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    .dataTableInnerBoxFull {
      @include setSpace(margin, 0 4rem 0 19.6rem); 
    }   
  }
}

.dataTableInnerBox.dataTableInnerBoxFull{
  @include blockMargin(4,4,4,9);
  .noticeBox {
      @include setSpace(margin, 0 0 2rem 0);
  }
}

.dataTableInnerBoxMod1.dataTableInnerBoxFull {
    @include setSpace(margin, 3rem 0 0 0);
}

.dataTableInnerBox.dataTableInnerBoxHalf.first{
  @include blockMargin(-1,4,0,0);
}

.dataTableInnerBox.dataTableInnerBoxHalf.last{
  @include blockMargin(0,0,0,4);
}
.dataTableInfo{
  @extend %setOverFlow;
  @extend %block;
  min-height:200px;
  height:auto;
      .iconclose{
         @include position(absolute,35px 0px 0 0 );
  }
  &.dataTableInfoMod1 {min-height: 140px;}
  &.dataTableInfoMod2 {
    min-height: 50px;
    .iconclose{
         @include position(absolute,15px 0px 0 0);
    }  
  }
}


th.sorter-false{
    cursor:default;
}



.tablePointerArrow{
  background:$arrowTableGrey;
  @include position(absolute,-3px 0px 0 100px);
  display:block;
  width:39px;
  height:21px;
  z-index:100;
}



/*
##Adding background status on table rows

  <table class="dataTable">
  <caption>Table description</caption>
  <thead>
    <tr class="tableHeader">
      <th class="dataTableHeader">Date</th>
    <tr>
  </thead>
  <tbody>
    <tr class="dataTableRow dataTableRowBg">
      <td class="dataTableCell">This is a table cell with a normal state using .dataTableRowBg </td>
    </tr>
    <tr class="dataTableRow dataTableRowUncleared">
      <td class="dataTableCell">This is a table cell with uncleared data using .dataTableRowUncleared class</td>
    </tr>
    <tr class="dataTableRow dataTableRowFailed">
      <td class="dataTableCell">This is a table cell with failed data using .dataTableRowFailed class</td>
    </tr>
    <tr class="dataTableRow dataTableRowActive">
      <td class="dataTableCell">This is a table cell with active background data using .dataTableRowActive class</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Footer</td> 
    </tr>
  </table>

<p>dataTableRow will extend using .dataTableRowActive on :hover
*/



.dataTableRowActive{
	background:$shi!important;
	@include allBorders(1px, solid, $beta27);
	border-top:1px solid $beta27!important;
	border-bottom: 0 !important; 
	td {
      border-top:1px solid $beta27 !important;    
  }
  &:hover {
      td {
        border-bottom:none !important;    
      }
  }
  &.dataTableRowActiveMod2 {
      border-bottom: 0 !important; 
        &:hover {
          border-color: $beta27;
          border-bottom-color: $shi;
        }
        td {
          border-top:1px solid $beta27 !important;
        }
  }
}

.dataTableRowActiveMod1 {
  background:$shi!important;
  border:1px solid #717171;
  td {
    border-top:1px solid #717171;
    border-bottom:1px solid #717171;
  }
  &:hover {
      border-color: #717171 !important;
  }
  &:first-child {
      border-top:1px solid #717171;
  }
  &:last-child {
      border-bottom:1px solid #717171;
  }
}

.accordionContainer{

	border-left:1px solid $beta27;
	border-right:1px solid $beta27;
	border-bottom:1px solid $beta27;
    border-top: 0!important;

}


.dataInnerList{
  @include blockMargin(1,0,2,0);
}
.dataInnerListMod1 {
  margin-left: -10px;
  margin-bottom: 27px;
}

.dataInnerListStyle{
  @include lineHeight(2);
    @include fontSize(1.6);
    @include blockMargin(0,0,0.5,0);

}

.numericAlign{
  text-align:right;
}


.alphaAlign{
  text-align:left;
}

.dataTableTrxDetail {@include blockPadding(0,2,0,2);}
.dataTableTrxDetailMod1 .dataTableInnerBox {padding-left: 109px}
.dataTableTrxDetailMod2 .dataTableInnerBox {padding-left: 83px}


.tablesorter-header{
  @extend %cursor;
}
.tablesorter-headerAsc{

  /*Up*/  
}

.tablesorter-headerDesc{
  
  /*Down*/  
}

th.sorter-false{
  cursor:default
  }

 
.dataExpandCell{
  width:30px; 
  @include blockPadding(1.1,0.5,0,1);
    a{
      @include fontSize(1.6);
            @include blockMargin(.3,0,0,0);
            @extend %inlineBlock;
    }
}
.dataIconCell{
  width:20px;
    em{
      @include  blockMargin(1.6, 0, 0, 1);
    }

}

.dataIconCell.dataIconCellExtend{
  width:60px;
    em{
      @include  blockMargin(1.6, 0, 0, 2);
    }

}










/*### Data Date cell formatiing 
  
*/
.dataDateCell{
  width:35px; 
  @include blockPadding(1.8,1,0,0);

}

.dataDateCellMod1{
  width:150px;
  @include blockPadding(1.8,0,0,0);
}

.dataDateCellMod2{
  width:120px;
  @include blockPadding(1.5,0,1.5,2);
}

.dataDayCell {
    width: 100px;
}

.dataCellMod2 {
    width: auto;
}

.dataCellMod1 {
    width: auto;    
    .rowItemWrap h5 {
    @include blockPadding(0,0,1.5,0);
    em {
      display: inline-block;
        float: none;
        @include blockMargin(0.1,0,0,0.5);
      }
  }
  em.iconinformation {
    @include blockMargin(-0.8,0,0,-0.8);
  }
}

.dataTableCell.transactionDescription{
  width:200px;  
}
.dataTableCell.transactionDescriptionMod1{
  width:410px;
}
#pastTransactionTableContainer .dataTableCell.transactionDescription span {
  max-width:260px;
  display:inline-block;
  word-wrap:break-word;
}


.dataTableCell.dataDateCell{
    @include lineHeight(1);
    color: $beta73;
        width: 116px;
  //  @include blockPadding(2.2,0,2,0)
      
    
    }
.dataTableHeader.dataDateCell{
    @include lineHeight(1.5);
  //  @include blockPadding(1.8,0,2,0)

}

.dataTableHeaderMod1{
    @include blockPadding(1.5,1.5,1.5,1.0);
}



/* ### Definition list inside Table 


  <dl class="transactionDefinition">
                    
                      <dt>Reciept</dt>
         <dd>Reciept No.<span class="jq-receiptNo">132</span></dd>
        <dt>Last payment</dt>
        <dd>Vale here </dd>
        <dt>First payments</dt>
        <dd>Vale here</dd>
        <dt>Repeats</dt>
        <dd>Value here </dd>
        <dt>Description</dt>
        <dd>Value heer</dd>
    </dl>
*/

.transactionDefinition{
  @include blockMargin(0,0,0,0);
  dt{
    width:20%;
    text-align:left;
    @extend %floatLeft;
    @include blockPadding(0.5,0,0.5,0);

  }
  dd{
    @include blockMargin(0,0,0,1);
    @include blockPadding(0.5,0,0.5,0);
    

  }
}


.transactionDefinition.transactionDefinitionMod2{
  @include blockMargin(0.4,0,0,0);
  dt{
    width:50%;
    text-align:left;
    @extend %floatLeft;
    @include blockPadding(0,0,0.5,0);

  }
  dd{
    @include blockMargin(0,0,0,1);
    @include blockPadding(0,0,0.5,0);
    

  }
  li{
    @include blockPadding(0,0,0.5,0);
    }
  
}
.transactionDefinition.transactionDefinitionMod4{
  dt{
    width:auto;
    margin-right: 7px;

  }
}


.transactionDefinition.transactionDefinitionMod3{
  line-height:1.8rem;
  @include blockMargin(-0.1,0,0,0);
  dt{
    width:30%;
    @include blockPadding(0,0,0.5,0);
    @extend %inlineBlock;
    clear:left;


  }
  dd{
    @include blockMargin(0,0,0,1);
    @include blockPadding(0,0,0.5,0);
    width:60%;
    @extend %inlineBlock;
    @extend %floatLeft;
    clear:right;
      .ddIcon{
        @include blockPadding(0.4,0,0,0);
        @extend %inlineBlock;
      }
    

  }
  li{
    @include blockPadding(0,0,0.5,0);
    }
}


/* ## No Data atable 
  
*/

.noDataTable{
  @include opacity(0.3);  
}


/* ###Date formatting
  <div>
    <span class="day">25</span>
    <span class="month">Dec</span>
    <span class="year">2006</span>
  </div>
*/
.day{
  @include blockMargin(0.2,0,0,0);
}
  
.day, .month, .year{
  clear:both;
  @extend %block; 
  @include textAlign(left);
  @include blockPadding(0,0.8,0,0.8);
}

.day{
  @include fontSize(1.6);
  @extend %emphasis;
}

.month{
  @include fontSize(0.9);
  @include textTrans(uppercase);
  @include blockMargin(0.2,0,0,0);
}
.year{
  @include fontSize(0.9);
}


/*## Smooky foot
  <div class="footerSmokeContainer">
    <div class="footerSmoke"> Gradient appears </div>
    
  </div>
*/

.footerSmokeContainer{
  @extend %relative;
  width:100%; 
  height:1px;
  overflow:visible;
}





.footerSmoke{
  // height:65px;
  width:100%;
  @extend %block;
  @include position(absolute, 0 0 0px 0);






    background: -moz-linear-gradient(top,  rgba(250,250,250,0) 0%, rgba(250,250,250,0.3) 18%, rgba(250,250,250,0.6) 44%, rgba(250,250,250,1) 100%); /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,0)), color-stop(18%,rgba(250,250,250,0.3)), color-stop(44%,rgba(250,250,250,1)), color-stop(100%,rgba(250,250,250,1))); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top,  rgba(250,250,250,0) 0%,rgba(250,250,250,0.3) 18%,rgba(250,250,250,0.6) 44%,rgba(250,250,250,1) 100%); /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top,  rgba(250,250,250,0) 0%,rgba(250,250,250,0.3) 18%,rgba(250,250,250,0.6) 44%,rgba(250,250,250,1) 100%); /* Opera 11.10+ */

  background: -ms-linear-gradient(top,  rgba(250,250,250,0) 0%,rgba(250,250,250,0.3) 18%,rgba(250,250,250,0.6) 44%,rgba(250,250,250,1) 100%); /* IE10+ */

  background: linear-gradient(to bottom,  rgba(250,250,250,0) 0%,rgba(250,250,250,0.3) 18%,rgba(250,250,250,0.6) 44%,rgba(250,250,250,1) 100%); /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

/* ## Top Pagination


*/


.topPagination{
  @extend %floatRight;
  @include fontSize(1.4);
  @include blockMargin(1.5,2,1.5,2);
    
}


/* ## Pagination with Pull

*/

.paginationRow:hover{
    border-bottom:1px solid #454545;
      .paginationPull{
        border-color:#454545 #454545 transparent  transparent;
      }
}

.pagination{
  @include textAlign(center); 
  @include blockMargin(0,0,2.2,0);
  @extend %relative;

}

.paginationPull{
  background:#fafafa;
  @include textAlign(center);
  @include position(absolute, 22px 0% 0% 47%);
  border-color:#EAEAEA #EAEAEA transparent  transparent;
  border-width:1px;
  border-style:solid;
    -webkit-transform: rotate(133deg);
    -moz-transform: rotate(134deg);
    -ms-transform: rotate(134deg);
    -o-transform: rotate(134deg);
    transform: rotate(134deg);

	@extend %cursor;
	@include borderRadius(100);
	width:40px;
	height:40px;
		.iconHolder{
			@include position(absolute, 0% 0% 29% 8px);
            @include rotate(-134);


            a {
              text-decoration: none !important;
              border: 0 !important;
              color: $beta73 !important;
            }
    }
    &:hover{
        border-color:#454545 #454545 transparent  transparent;  
        .paginationRow{
          border-bottom:1px solid #454545;
        }
    }
    
    
}

/* ## Table Row Break

*/
.tableRowBreak{
  @extend .endBorder;
  width:94%; 
  @extend %block;
  margin:0.5rem auto;
  height:1px;
}
.tableRowBreakFixed {
  @extend .tableRowBreak;
  width: 100%;
  margin: 0
}


/* ## Table Row Break

*/


/* ## My Task - Table styles

*/
/* $dataTableCellWidth:84; */

.dataTableMod4 {		
	word-wrap:break-word;
	table-layout:fixed;
	colgroup {
		col:nth-child(1) {
			width:150px;
		}
		col:nth-child(2) {
			width:170px;
		}
		col:nth-child(3) {
			width:130px;
		}
		col:nth-child(4) {
			width:140px;
		}
		col:nth-child(5) {
			width:110px;
		}
		col:nth-child(6) {
			width:140px;
		}
	}
	.tableHeaderMod1 {
		.dataCell2Col1 {			
			@include blockPadding(1.5,0,1.5,2);		
		}
	}

	.dataTableHeader, .dataTableCell {
		@include blockPadding(1.5,0.5,1.5,0); 
	}	
	.dataTableRow {
		.dataTableCell:first-child {
			@include blockPadding(1.5,1.5,1.5,2);
		}
		.successInfoContainer{

            width : 840px;
            @include blockPadding(2,2,2,2);
        }
  }
  .taskWaitingApproverList { 
    li {
      display:inline-block;
      .name {       
        width:130px;
        @include blockPadding(0,2,0,0);
        display:block;
        float:left;
      }
      .status {
        width:135px;
        @extend %block;
        @extend %floatLeft;
                  span{
                     width:112px;
                    @extend %block;
                    @extend %floatLeft;
                  }
      }
    }
  } 
  .daysInfo {
    @extend %floatLeft;
  }
  .day, .month, .year {
      line-height: 1rem;
      @include blockPadding(0,0.8,0,0);
    }
    .day {
      @include blockMargin(0.5,0,0,0);
    }
    .descriptionHeader {
      width:auto;
    }
    .actionWrapper li{
        @include setSpace(margin, 0 1.5rem 0 0);
        &:last-child{
         @include setSpace(margin, 0 0rem 0 0);
        }
    }
  .normalText { 
    font-weight:normal;
  }
  .inlineBlock {
    display:block;
  }
}
.dataTableGrid {
  colgroup {
    col:nth-child(1) {
      width:150px;
    }

    col:nth-child(2) {
      width:270px;
    }
    col:nth-child(3) {
      width:170px;
    }
    col:nth-child(4) {
      width:110px;
    }
    col:nth-child(5) {
      width:140px;
    }
  }
}

.dataTableGridServiceOpsSearchApp {
  colgroup {
    col:nth-child(1) {
      width:140px;
    }

    col:nth-child(2) {
      width:280px;
    }
    col:nth-child(3) {
      width:70px;
    }
    col:nth-child(4) {
      width:140px;
    }
    col:nth-child(5) {
      width:140px;
    }
    col:nth-child(6) {
      width:70px;
    }
  }
}



//TD Maturity classes
.searchFilterPanel {
  @include endBorder(1px, solid, #c7c7c7);
  @include blockPadding(0,0,0.5,0);
}

.summaryPanel {
  @extend .clearFix;
  ul{
    @extend .clearFix;

    li {
    @extend %inlineBlock;
    @extend %floatLeft;
    @include lastBorder(1px, solid, $beta10);
    vertical-align:text-top;
      h6 {
        @include fontSize(2.2);
      }
    }
    &.summaryPanelList{
      @include setSpace(padding, 2rem 0 2rem 0);
    }
    li:last-Child {
      @include blockPadding(0,0,0,0);
      @include blockMargin(0,0,0,0);
      border:none;
      @include textAlign(left);
    }
  }

  .title{
    @include textTrans(uppercase);
    @include fontSize(1.1);
    @extend %block;
    @include lineHeight(1.5);
  }
    .summeryPanelHeader{
      @include  fontSize(3);
      letter-spacing: -0.1rem;
    }
    &.summaryPanelStyleOne {

      ul li{
      width:210px;
    }
      li:last-child{
        border-right: none;

      }


    }


  &.summaryPanelStyleTwo {
    ul { 
        li {
          width:250px;
          &:last-child {
            border-right: none;
            @include textAlign(left);
          }
        }
        li.longDesc {
          width:280px;          
        }
    }    
  }

    &.summaryPanelStyleThree {
      height: 105px;
      @include setSpace(margin, 3rem 0 6rem 0);
      @include startBorder(1px ,$beta22, solid);
      @include endBorder(1px ,$beta22, solid);
          ul{
            height: 105px;
            @extend .clearFix;
          }
          ul li {
            &.anchorBlock:hover{
             background-color:$beta4 ;
            }
            ul  li:last-child{
              @include lastBorder(1px ,$beta22, solid);
            }            
          @include setSpace(padding, 0.5rem 0 0 0);
          height: 103px;
          width:180px;
            .summeryQuickDisplay{
              @extend %floatLeft;
              @include setSpace(padding, 0.8rem 0.5rem 0 2rem);
              em{
                  //@include setSpace(padding, 3.0rem 0 0 0);
                  @include setSpace(padding, 2.7rem 0 0 0);
                }

                .iconarrowright{
                  @include setSpace(padding, 0.5rem 0 0 0);
                }
              }              
          }
          .autoWidth {
            width:auto;
          }
        }
    // End extend
      &.summaryPanelStyleThreeMod1 {
        @include setSpace(margin, 0rem 0 0rem 0);
        border:0;
      }
      &.summaryPanelStyleFour ul li{
        width:199px;
      }

      .summaryPanelContent{
        @include setSpace(margin, 0rem 0rem 0 2rem);
      }
    .summaryPanelList li:first-child .summaryPanelContent{
        @include setSpace(margin, 0rem 0 0 0rem);
      }

      &.summaryPanelStyleMarginOn {
        @include endBorder(1px, solid, #c7c7c7);
        @include setSpace(margin, 0 0 2rem 0);
      }
}

.todayPanel {
    @extend .clearFix;
  @include blockPadding(1.8,0,1.8,0);
  @include blockMargin(0,0,3,0);
  @include endBorder(1px, solid, #c7c7c7);
  @include startBorder(1px, solid, #c7c7c7);
  background:$beta4;
    height: auto;
    &.todayPanelStyleOne{
     @include setSpace(margin, 0 0 6rem 0);
    }
  ul.tdDesc {
      @include setSpace(padding, 0 1rem 0 0);
      @include lineHeight(1.6);

        &.tdDescStyleOne{
      @extend %floatRight;
        }
        &.tdDescStyleTwo{
          @extend %floatLeft;
        }
        
        
    li {
      @extend %inlineBlock;
      @extend %emphasis;
      @include blockPadding(0,1,0,0);
      @include blockMargin(0,2,0,0);
      @include lastBorder(1px, solid, #c7c7c7);
      @include width(17);
      min-height:55px;
      @include textAlign(left);
      vertical-align:text-top;      
      &:first-Child {
        @include width(14.5);
      }
      &:last-Child {
        @include blockPadding(0,0,0,0);
        @include blockMargin(0,0,0,0);
        border:none;
        @include textAlign(left);
        @include width(16.5);
      }     
      &.tdDescStyleThree{
       @include width(22);
       min-height:inherit;
         &:first-Child {
          @include width(23);
        }
        &:last-Child {
          @include width(22);
        }
      }
      &.tdDescHeightSmall{ 
        min-height:32px;
      }
      .emphasis {
        @include fontSize(1.6);
      }
      .title {
        @include textTrans(uppercase);
        @include fontSize(1);
      }
      .subTextTitle{
         @include fontSize(1.3);
        font-weight: normal;
       }
    }   
    h4 {
      @include fontSize(1.8);
    }
  }
}

.verticalAlignCell {
  display:table-cell;
  vertical-align:middle;
}

.dataTableTDMaturity {

	tr th:first-child {
		@include blockPadding(1.5,2,1.5,2);
	}
	.normalText {
		font-weight:normal ;
	}
	.descriptionHeader {
		width:auto;
	}
	.descriptionDuration {
		width:auto;
	}

}

.tableContainer {
  .dataTable {
    @extend .clearBoth;
    &.fourColListTable {      
      colgroup {
        col:nth-child(1) {
          width:80px;
        }
        col:nth-child(2) {
          width:400px;
        }
        col:nth-child(3) {
          width:220px;
        }
        col:nth-child(4) {
          width:200px;
        }
      }
      .dataTableHeader {
        white-space:normal;
        vertical-align:top;
      }
      h3.descriptionHeader {
        width:auto;
      }
      .ui-tooltip-content {
        font-weight:normal;
      }     
    }
    &.fiveColListTable {      
      colgroup {
        col:nth-child(1) {
          width:80px;
        }
        col:nth-child(2) {
          width:300px;
        }
        col:nth-child(3) {
          width:210px;
        }
        col:nth-child(4) {
          width:170px;
        }
        col:nth-child(5) {
          width:140px;
        }
      }
      .dataTableHeader {
        white-space:normal;
        vertical-align:top;
      }
      h3.descriptionHeader {
        width:auto;
      }
      .ui-tooltip-content {
        font-weight:normal;
      }     
    }
    &.sixColListTable { 
      colgroup {
        col:nth-child(1) {
          width:80px;
        }
        col:nth-child(2) {
          width:250px;
        }
        col:nth-child(3) {
          width:150px;
        }
        col:nth-child(4) {
          width:160px;
        }
        col:nth-child(5) {
          width:130px;
        }
        col:nth-child(6) {
          width:130px;
        }
      }
      .dataTableHeader {
        white-space:normal;
        vertical-align:top;
      }
      h3.descriptionHeader {
        width:auto;
      }
      .ui-tooltip-content {
        font-weight:normal;
      }
    }
  }
}
.innerTableContainer {
  
  @include blockMargin(4, 2, 4, 2);
  .innerTable{
    width:100%;
    .innerTableHeaderRow {
      @include startBorder(1px, dotted, $beta22);
      @include endBorder(1px, dotted, $beta22);
      .dataTableHeader{
        @include blockPadding(1, 2, 1, 0);        
      }
    }
    .innerTableDataRow{
      .dataTableCell{
        @include dataCellHeight(6);
      }
      @include endBorder(1px, dotted, $beta22);
    }
  } 
}
.innerTableContainer {
	
	@include blockMargin(4, 2, 4, 2);
	.innerTable{
		width:100%;
		.innerTableHeaderRow {
			@include startBorder(1px, dotted, $beta22);
			@include endBorder(1px, dotted, $beta22);
			.dataTableHeader{
				@include blockPadding(1, 2, 1, 0);				
			}
		}
		.innerTableDataRow{
			.dataTableCell{
				@include dataCellHeight(6);				
			}
			@include endBorder(1px, dotted, $beta22);			
		}
	}
			
}

.dataTableScroll {
	overflow-y:scroll;
    height:145px;  
    
    .dataTable {
    border-right:0;
    }
    .dataTableRow:first-child
    {
    border-top : 0;
    } 
}

.captionLower {
 	@include textTrans(lowercase);
} 

.dataTableCellIconRows {

 	.dataTableCell {
    	vertical-align:middle;
    	height:60px;
    	line-height:normal;
    	@include blockPadding(0.5,1,0.5,0);
    	&:first-child {
    		@include blockPadding(0.5,1,0.5,2);
    	}
    }

}  
 
.dataTableModalHeader {
 	@include blockPadding(1.5,2.5,1.5,0);
} 
 